{% import 'Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}

<div class="box-list__wrap">
    <div class="box-list__panel js-product-list-panel">
        <div class="box-filter js-product-filter">
            {% set categoryUrl = url('front_product_list', { id: category.id }) %}
            {{ productFilterForm.filterForm(
                filterForm,
                categoryUrl,
                categoryUrl,
                null,
                'product_list',
                productFilterCountData,
                priceRange,
                filterFormSubmitted
            ) }}
        </div>
    </div>
    <div class="box-list__content js-product-list-ajax-filter-products-with-controls">
        {% if visibleChildren is not empty %}
            <div class="box-list__categories">
                {% include 'Front/Content/Category/categoryList.html.twig' with {'categories': visibleChildren} %}
            </div>
        {% endif %}
        {{ render(controller('App\\Controller\\Front\\ProductController:selectOrderingModeForListAction')) }}
        <div class="box-list__products">
            {% include 'Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmitted: filterFormSubmitted} %}
        </div>
    </div>
</div>
