{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}
{% if bestsellers is not empty %}
    <div class="web__line">
        <div class="web__container web__container--no-padding">
            <div class="box-products-slider">
                <h2 class="box-products-slider__title">
                    {{ 'Bestsellery'|trans }}
                </h2>
                {{ productList.horizontalList(bestsellers, '', 'h3', 'top-products', true, false, true) }}
            </div>
        </div>
    </div>
{% endif %}
