
<div class="box-order-type">
    {% for orderingModeId, orderingModeName in orderingModesNames %}
        {% if activeOrderingModeId == orderingModeId %}
            <span class="box-order-type__item active">
                {{ orderingModeName }}
            </span>
        {% else %}
            <a
                href="#"
                class="box-order-type__item js-product-list-ordering-mode"
                data-cookie-name="{{ cookieName }}"
                data-ordering-mode="{{ orderingModeId }}"
            >
                {{ orderingModeName }}
            </a>
        {% endif %}
    {% endfor %}
</div>
