{% macro productAvailability(product, showSaleStockAvailability = true) %}
    <span class="in-availability__date" style="color: {{ getAvailabilityColor(product, showSaleStockAvailability) }};">
        {{ getAvailabilityText(product, showSaleStockAvailability) }}
    </span>
{% endmacro %}
