{% macro productAvailability(product) %}
    <span class="in-availability__date" style="color: {{ getAvailabilityColor(product) }};">
        {{ getAvailabilityText(product)|raw }}
    </span>
{% endmacro %}
