{% macro productAvailability(product) %}
    {% if product.isAvailableInDays %}
        <span class="in-availability__date in-availability__date--available-in-days">{{ 'Dostupné do %days% dní'|trans({ '%days%': product.deliveryDays }) }}</span>
    {% elseif product.isAvailable and not product.sellingDenied %}
        <span class="in-availability__date in-availability__date--available">{{ 'Skladem v e-shopu'|trans }}</span>
    {% elseif product.isCurrentlyOutOfStock or product.sellingDenied %}
        <span class="in-availability__date in-availability__date--not-available">{{ 'Momentálně nedostupné'|trans }}</span>
    {% endif %}
{% endmacro %}
