{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}
{% import 'Front/Inline/Paginator/paginator.html.twig' as paginator %}

{% if paginationResultSets.results|length > 0 %}
    <h3 class="box-search__subtitle box-search__subtitle--big-gap-mobile">{{ 'Nalezené sety'|trans }}</h3>
    <div class="box-list__panel"></div>

    <div class="box-list__content">
        <div class="box-list__products js-list-with-paginator">
            {{ productList.list(paginationResultSets.results) }}
            <div class="box-list__actions">
                <div class="box-list__actions__button">
                    {{ paginator.loadMoreButton(paginationResultSets, url('front_product_search_sets', {'q': searchText}), 'pageSets') }}
                </div>
            </div>
        </div>
    </div>
{% endif %}