{% macro productAvailability(product, shoppingItemQuantity, saleItem) %}
    {% set cartProduct = product %}

    {% if not saleItem %}
        {% set cartProduct = cloneProductWithSubtractedStocks(product, shoppingItemQuantity) %}
    {% endif %}

    <span class="in-availability__date" style="color: {{ getAvailabilityColor(cartProduct) }};">
        {{ getAvailabilityText(cartProduct) }}
    </span>
{% endmacro %}
