<div class="box-images-line">
    <div class="box-images-line__title">
        {{ 'Bushmanství obrazem'|trans }}
        <a href="#" class="box-images-line__title__link btn btn--secondary btn--small js-not-implemented-yet">
            <i class="svg svg-instagram"></i>
            {{ 'Sledujte náš instagram'|trans }}
        </a>
    </div>
    <ul class="list-images-line">
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
        <li class="list-images-line__item js-not-implemented-yet">
            <img src="https://placeimg.com/178/169/any">
        </li>
    </ul>
</div>
