{% macro list(productOrProductView, stickers = [], cssClass = 'list-products__item__image__stickers') %}
    {% if stickers is empty and productOrProductView.stickers is defined %}
        {% set stickers = productOrProductView.stickers %}
    {% endif %}

    {% if stickers|length > 0 or productOrProductView.warranty > 24 or productOrProductView.recommended %}
        <div class="{{ cssClass }}">
            {% if productOrProductView.recommended %}
                {% include 'Front/Inline/Product/recommendedSticker.html.twig' %}
            {% elseif productOrProductView.warranty > 24 %}
                {% include 'Front/Inline/Product/extendedWarrantySticker.html.twig' %}
            {% else %}
                {{ image(stickers|first) }}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}