@in-availability-stores-height: 18px;
@in-availability-icon-size: 16px;

.in-availability {
    margin-bottom: 10px;

    color: @color-green;
    font-size: @font-size-small;
    font-weight: 400;

    &--without-gap {
        margin-bottom: 0;
    }

    &--big {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 0;

        font-weight: bold;
        color: @color-base;
        font-size: @font-size;
    }

    &__text {
        display: block;
        line-height: 18px;

        font-size: @font-size-small;
        color: @color-green;
        font-weight: 400;

        &--out-of-stock {
            color: @color-alert;
        }
    }

    &__text-big {
        font-size: @font-size-small;
        font-weight: 400;
    }

    &__stores {
        display: block;
        line-height: @in-availability-stores-height;

        font-size: @font-size;
        font-weight: 400;

        @media @query-md {
            height: @in-availability-stores-height;
        }
    }

    &__stores-big {
        font-size: @font-size-small;
        font-weight: 400;
    }

    &__status {
        display: flex;
        align-items: center;
        width: 100%;
        line-height: @font-size-big;

        font-size: @font-size-big;
        font-weight: 400;

        .list-variants & {
            font-size: @font-size;
        }

        .list-article-product & {
            font-size: @font-size-small;
        }

        .list-cart-preview & {
            justify-content: flex-end;
            text-align: right;

            font-size: @font-size-extra-small;
        }
    }

    &__date {
        color: @color-green;
        font-weight: 400;

        .list-article-product & {
            font-size: @font-size-small;
        }

        .list-cart-preview & {
            font-size: @font-size-extra-small;
        }

        &--not-available {
            color: @color-blue-dark;
        }

        &--out-of-stock {
            color: @color-alert;
        }

        &--available-in-days {
            color: @color-primary;
        }
    }

    &__next-line {
        display: block;
    }
}
