@in-message-alert: #F7D6D6;
@in-message-warning: @color-red;
@in-message-info: @color-f;
@in-message-success: @color-green;

@in-message-alert-text: @color-red;
@in-message-warning-text: @color-orange;
@in-message-info-text: #005B7E;
@in-message-success-text: @color-green;

@in-message-bottom-gap: 10px;
@in-message-bottom-padding: 6px 15px;

.in-message {
    display: flex;
    align-items: center;
    padding: @in-message-bottom-padding;
    margin-bottom: @in-message-bottom-gap;
    line-height: 24px;

    border-radius: @radius;
    background-color: @color-f;
    font-family: @font-alt;
    font-weight: 600;
    font-size: @font-size-mobile + 1px;

    li {
        color: @in-message-alert-text;
    }

    &__list {
        .reset-ul();
    }

    &--error,
    &--danger {
        color: @in-message-alert-text;
        background: lighten(@in-message-alert, 5%);

        li {
            color: @in-message-alert-text;
        }
    }

    &--warning {
        color: @color-f;
        background: @in-message-warning;

        li {
            color: @in-message-warning-text;
        }
    }

    &--info {
        color: @in-message-info-text;
        background: lighten(@in-message-info, 10%);

        li {
            color: @in-message-info-text;
        }
    }

    &--success {
        color: @in-message-success-text;
        background: lighten(@in-message-success, 50%);

        li {
            color: @in-message-success-text;
        }
    }

    &--alert {
        color: @in-message-alert-text;
        background: lighten(@in-message-alert, 5%);

        li {
            color: @in-message-alert-text;
        }
    }
}
