@in-place-margin: @margin-gap;

.in-place {
    margin-bottom: @in-place-margin;
    text-align: center;

    font-size: 0;

    &--preCategory, &--category {
        display: none;
        
        @media @query-lg {
            display: block;
            margin-bottom: 20px;
        }
    }

    img {
        border-radius: @radius-big;
    }
}
