@in-rating-item-gap: 4px;

.in-rating {
    position: relative;
    margin-left: -@in-rating-item-gap;

    &__list {
        .reset-ul();
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;

        &--empty {
            position: static;
        }

        &--value {
            z-index: @z-index-above;
        }

        &__item {
            margin-left: @in-rating-item-gap;
            line-height: 0;
            
            .svg-icon {
                height: 16px;
                width: auto;
                
                &__item-1 {
                    .in-rating__list--empty & {
                        stroke: @color-f;
                    }

                    .in-rating__list--value & {
                        fill: @color-f;
                    }
                }
            }
        }
    }
}