@in-stickers-item-gap: 30px;

.in-stickers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -@in-stickers-item-gap;

    &__item {
        margin-left: @in-stickers-item-gap;
        margin-bottom: @in-stickers-item-gap;
    }
}