@in-stickers-item-gap: 30px;

.in-stickers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -@in-stickers-item-gap;

    &__item {
        height: 70px;
        margin-left: @in-stickers-item-gap;
        margin-bottom: @in-stickers-item-gap;

        @media @query-md {
            height: 100px;
        }
    }
}