.info-row {
    padding: 10px;
    background-color: @color-e;

    &__close-button {
        float: right;
    }
}

button.active {
    font-weight: bold;
}

.table-cart__cell__discount {
    color: red;
}

.blog-category-level-2 {
    margin-left: 20px;
}

.blog-category-level-3 {
    margin-left: 40px;
}

.blog-category-level-4 {
    margin-left: 60px;
}

.blog-category-level-5 {
    margin-left: 80px;
}

.modal {
    width: 100%;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}
//TODO KOD: US-7685
.box-detail-add__action__spinbox, .table-cart__cell__spinbox, .in-add-to-cart__spinbox {
    .in-message {
        position: absolute;
        margin-top: -35px;
        color: #000000;
    }
}

.btn[disabled] {
    opacity: 0.5;
    cursor: no-drop;
}

//TODO KOD: TF-81
.js-product-filter-box-label.inactive {
    display: none;
}

.js-product-filter-box-button-show.inactive, .js-product-filter-box-button-hide.inactive {
    display: none;
}

.js-product-filter-box-button-show, .js-product-filter-box-button-hide {
    cursor: pointer;
    text-decoration: underline;
}