#blog_article_form_perex input {
    width: 600px;
}

.in-icon--delete {
    float: right;
}

.background-color-ddd {
    background-color: #ddd !important;
}

.width-80 {
    width: 80px;
}

.text-center {
    text-align: center;
}
