@form-input-spinbox-padding-vertical: 3px;
@form-input-spinbox-buttons-width: 29px;
@form-input-spinbox-buttons-width-small: 23px;
@form-input-spinbox-height: 32px;
@form-input-spinbox-height-small: 40px;
@form-input-spinbox-input-width: 88px;
@form-input-spinbox-input-width-small: 72px;
@form-inpit-spinbox-button-icon-size: 12px;

.form-input-spinbox {
    display: inline-block;
    width: @form-input-spinbox-input-width;
    vertical-align: middle;
    position: relative;
    padding: 0 @form-input-spinbox-buttons-width;
    
    border-radius: @radius-medium;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: @color-f;

    &--secondary {
        border: 1px solid @color-border-dark;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .box-detail-sets & {
        display: none;
    }

    &__input {
        height: @form-input-spinbox-height;
        line-height: @form-input-spinbox-height;
        padding: 0;
        text-align: center;

        color: @color-base;
        font-size: 15px;
        border-radius: 0;

        &:focus {
            border: 0;
        }
    }

    &__btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        width: @form-input-spinbox-buttons-width;
        height: @form-input-spinbox-height - 0.5px;
        text-align: center;

        border-radius: 0 @radius-medium @radius-medium 0;
        color: @color-gray;
        font-size: @form-inpit-spinbox-button-icon-size;
        cursor: pointer;

        &:hover {
            .svg {
                color: @color-add;
            }
        }

        &--minus {
            left: 0;
            right: auto;

            border-radius: @radius-medium 0 0 @radius-medium;
        }

        .svg {
            height: @form-inpit-spinbox-button-icon-size;
            color: @color-gray;
        }
    }
}
