@form-line-width-label: 160px;
@form-line-width-input: 400px;
@form-line-width-input-small: 300px;
@form-line-gap-between: 10px;
@form-line-margin-bottom: 11px;
@form-line-label-field-gap-mobile: 5px;

.form-line {
    margin: 0 0 @form-line-margin-bottom;
    padding: 0;

    &--without-gap {
        margin: 0;
    }

    &__input {
        position: relative;
        margin-bottom: 5px;

        .form-line--without-gap & {
            margin-bottom: 0;
        }
    }

    &__info {
        color: @color-base;
    }

    &__button {
        align-self: center;
    }
}
