.all-categories {

    &__link {
        cursor: pointer;
    }

    &__categories-links {
        display: none;
        position: absolute;
        z-index: 500;
    }

    &:hover &__categories-links {
        display: block;
    }
}

.info-row {
    padding: 10px;
    background-color: @color-e;

    &__close-button {
        float: right;
    }
}