@media only screen and (min-width: 1024px) {
    .js-product-filter-display-result {
        display: none;
    }
}

.box-filter__choice__content__tooltip-wrap {
    position: relative;

    .in-icon {
        line-height: 21px;
    }
}

.box-filter__selected__item {
    padding-right: 25px;
}

//TODO KOD: https://shopsys.atlassian.net/browse/TROPIC-49
.videos-box-no-margin {
    margin-top: -48px;
}

.box-category-tip__content__info__availability {
    margin: -15px 0 9px 0;
}

.lb-aside-section:first-child .box-filter__choice {
    border: none;
}

.box-search--loading {
    opacity: 0.3;
}

.lb-top-items {
    display: none;
}
