.list-grid-images__portrait__link {
    .image-noticer-mobile {
        display: inline;
    }

    .image-noticer-rectangle {
        display: none;
    }

    @media @query-md {
        .image-noticer-mobile {
            display: none;
        }

        .image-noticer-rectangle {
            display: inline;
        }
    }
}