.info-row {
    padding: 10px;
    background-color: @color-e;

    &__close-button {
        float: right;
    }
}

button.active {
    font-weight: bold;
}

.table-cart__cell__discount {
    color: red;
}

.modal {
    width: 100%;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.btn[disabled] {
    opacity: 0.5;
    cursor: no-drop;
}

//TODO KOD: TF-81
.js-product-filter-box-label.inactive {
    display: none;
}

.js-product-filter-box-button-show.inactive, .js-product-filter-box-button-hide.inactive {
    display: none;
}

.js-product-filter-box-button-show, .js-product-filter-box-button-hide {
    cursor: pointer;
    text-decoration: underline;
}

//TODO KOD: TF-186
.cart-detail__promo-code__item {
    color: #85949f;
    font-size: 14px;
}

.cart-detail__promo-code__discount {
    color: #d53030;
    float: right;
}

//TODO KOD: TF-184
.list-products__item__info__gift__count {
    font-weight: bold;
    text-transform: uppercase;
}

.box-detail__item__info__gift__row, .table-cart__item__info__gift_row {
    display: block;
}

//SAME AS .list-products__item__info__gift
.box-detail__item__info__gift, .table-cart__item__info__gift {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 6px;
    line-height: 21px;
    font-size: 14px;
    background-color: rgba(213,48,48,0.15);
    color: #d53030;
    border-radius: 2px;
}

//SAME AS .list-products__item__info__gift__title
.box-detail__item__info__gift__title, .table-cart__item__info__gift__title {
    text-transform: uppercase;
    font-weight: 700;
}

.in-availability__date--available-in-days {
    color: @color-blue;
}
