@box-blog-panel-width: 320px;
@box-blog-panel-gap: 50px;
@box-blog-padding: 30px;
@box-blog-title-bottom-gap: 11px;

.box-blog {
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;

        @media @query-vl {
            flex-direction: row;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 2;
        margin-bottom: 50px;

        @media @query-vl {
            width: calc(~"@{calc-base} - @{box-blog-panel-width} - @{box-blog-panel-gap}");
            order: 1;
        }

        &__button {
            display: flex;
            justify-content: center;

            .btn {
                margin-bottom: 70px;
            }
        }
    }

    &__panel {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1;

        @media @query-vl {
            order: 2;
            width: @box-blog-panel-width + @box-blog-panel-gap;
            padding-left: @box-blog-panel-gap;
        }
    }

    &__section {
        margin-bottom: 30px;
        padding: @box-blog-padding;
        padding-bottom: 0;

        border: 3px solid @color-light;
    }

    &__title {
        display: block;
        text-align: center;
        margin: 33px auto;

        color: @color-base;
        font-weight: 700;
        font-size: 36px;
    }

    &__categories {
        display: flex;
        flex-direction: column;
        margin: -@box-blog-padding;
        margin-bottom: 0;
        padding: @box-blog-padding;

        background-color: @color-light;

        &__title {
            display: block;
            margin-bottom: @box-blog-title-bottom-gap;

            color: @color-base;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }

        &__item {
            position: relative;
            margin-bottom: 6px;
            padding: 5px 12px;

            color: @color-brown-light-2;
            background-color: @color-f;
            font-size: 13px;
            text-decoration: none;
            text-transform: uppercase;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
