@box-breadcrumb-padding-horizontal: 17px;
@box-breadcrumb-padding-vertical: 0;
@box-breadcrumb-font-size: 16px;
@box-breadcrumb-top-move: -3px;
@box-breadcrumb-bottom-gap: 25px;

.box-breadcrumb {
    margin-bottom: @box-breadcrumb-bottom-gap;
    text-align: center;

    font-size: 0;

    &__item {
        display: inline-block;
        vertical-align: middle;

        color: @color-base;
        font-size: @box-breadcrumb-font-size;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;

        &--home {
            padding-right: 6px;

            color: @color-orange;
            font-size: 14px;
        }

        &--separator {
            position: relative;
            margin: @box-breadcrumb-padding-vertical @box-breadcrumb-padding-horizontal;
            top: @box-breadcrumb-top-move;

            .svg {
                transform: rotate(-90deg);

                font-size: 6px;
            }
        }

        &--icon {
            text-decoration: none;
        }
    }
}
