@box-cart-empty-gap-mobile: 10px;
@box-cart-empty-gap-desktop: 40px;

.box-cart-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @margin-gap;

    @media @query-md {
        flex-direction: row;
    }

    &__image {
        flex: 1;
        padding-right: @box-cart-empty-gap-mobile;
        text-align: center;
        width: 150px;

        @media @query-lg {
            width: auto;
            padding-right: @box-cart-empty-gap-desktop;
        }
    }

    &__text {
        flex: 1;
        padding: 0 @box-cart-empty-gap-mobile;
        text-align: center;
        margin-top: 20px;

        font-size: 12px;

        @media @query-md {
            font-size: 14px;
        }

        @media @query-md {
            padding-left: @box-cart-empty-gap-desktop;
            padding-right: @box-cart-empty-gap-desktop;

            font-size: 16px;
        }

        @media @query-vl {
            font-size: 20px;
        }

        // translated text
        & > a {
            color: @color-brown;

            &:hover {
                color: @color-base;
                transition: color @transition;
            }
        }

        &__button {
            margin-top: 20px;
        }
    }
}
