.box-category {
    &__description {
        padding: 0 20px;
        line-height: 30px;
        margin-bottom: 43px;
        text-align: center;

        font-size: 18px;
        font-family: @font-alt;
        color: @color-brown;

        @media @query-md {
            padding: 0 16%;
        }

        .underline-small {
            color: @color-base;
        }
    }
}
