@box-chooser-item-padding: 10px;

@box-chooser-check-width: 20px;
@box-chooser-image-width: 40px;
@box-chooser-price-width: 80px;
@box-chooser-title-width: ~"calc(100% - @{box-chooser-check-width} - @{box-chooser-image-width} - @{box-chooser-price-width} - 2 * @{box-chooser-item-padding})";

@box-chooser-bottom-gap: 10px;
@box-chooser-padding: 30px;
@box-chooser-padding-mobile: 15px;

@box-choose-item-check-width: 30px;

@box-chooser-description-color: #918e8e;

.box-chooser {
    margin-bottom: @box-chooser-bottom-gap;
    padding: @box-chooser-padding-mobile;
    background-color: @color-gray;

    @media @query-lg {
        padding: @box-chooser-padding;
    }

    &__item {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 100%;
        padding: @box-chooser-item-padding;

        cursor: pointer;

        @media @query-lg {
            flex-wrap: nowrap;
            align-items: flex-start;
        }

        &__check {
            align-self: flex-start;
            padding-top: 5px;
            font-size: 0;
        }

        &__image {
            position: relative;
            bottom: -5px;
            margin-left: 5px;
        }

        &__title {
            padding: 0 10px;
            width: calc(~"@{calc-base} - @{box-choose-item-check-width}");

            font-size: 15px;

            @media @query-lg {
                flex: 1;
            }

            &__name {
                font-weight: 400;

                .box-chooser__item--active & {
                    font-weight: 800;
                }
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }

            &__description {
                padding-left: 5px;

                color: @box-chooser-description-color;
            }
        }

        &__price {
            text-align: right;
            width: 100%;

            font-family: @font-alt;
            font-size: 15px;
            font-weight: 800;

            @media @query-lg {
                width: @box-chooser-price-width;
            }

            .box-chooser__item--active & {
                color: @color-price-main;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }
    }
}
