@box-contact-padding: 30px;

@box-contact-left-width: 45%;
@box-contact-right-width: calc(~"@{calc-base} - @{box-contact-left-width}");
@box-contact-right-title-width: 210px;

.box-contact {
    display: flex;
    flex-direction: column;

    @media @query-lg {
        margin-bottom: 18px;
    }

    @media @query-vl {
        flex-direction: row;
    }

    &__left {
        width: 100%;
        padding: @box-contact-padding;

        background-color: @color-f;

        @media @query-md {
            width: @box-contact-left-width;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: @box-contact-padding;

        background-color: @color-light;

        @media @query-md {
            flex-direction: row;
            width: @box-contact-right-width;
        }

        &__title {
            display: flex;
            width: 100%;
            margin-bottom: 20px;

            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;

            @media @query-md {
                flex-direction: row;
                width: @box-contact-right-title-width;
                padding-right: 50px;
            }
        }

        &__list {
            display: flex;
            width: 100%;

            @media @query-md {
                width: calc(~"@{calc-base} - @{box-contact-right-title-width}");
            }
        }
    }

    &__block {
        margin-bottom: 40px;
        padding-right: 10px;

        @media @query-vl {
            width: @calc-base / 2;
        }

        &--no-bottom-gap {
            margin-bottom: 0;
        }

        &__text {
            line-height: 30px;

            font-size: 16px;
            font-weight: bold;

            @media @query-xl {
                font-size: 19px;
            }

            .box-contact__block--white-text & {
                color: @color-f;
            }

            .svg {
                position: relative;
                bottom: -10px;
                margin-top: -10px;
                margin-right: 6px;

                font-size: 30px;
                color: @color-gray-dark;
            }

            &__link {
                .box-contact__block--white-text & {
                    color: @color-f;
                }

                &:hover {
                    text-decoration: underline;
                    
                    .box-contact__block--white-text & {
                        color: @color-f;
                    }
                }
            }
        }

        &__info {
            margin-top: 3px;
            line-height: 30px;

            color: @color-base;
            font-size: @font-size-small;

            .box-contact__block--white-text & {
                color: @color-f;
                opacity: 0.5;
            }
        }
    }
}
