@box-detail-info-width: 400px;
@box-detail-info-gap: 90px;
@box-detail-content-width: calc(~"100% - (@{box-detail-info-width} + @{box-detail-info-gap})");

@box-detail-image-bottom-gap: 96px;
@box-detail-image-main-bottom-gap: 20px;
@box-detail-image-min-height: 250px;

@box-detail-params-column-count: 3px;
@box-detail-info-padding: 30px;

.box-detail {
    display: flex;
    flex-direction: column;

    @media @query-lg {
        .clearfix();
        flex-direction: row;
    }

    &__image {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: @box-detail-image-bottom-gap;

        @media @query-lg {
            width: @box-detail-content-width;
        }

        &__main {
            position: relative;
            margin-bottom: @box-detail-image-main-bottom-gap;
            text-align: center;

            font-size: 0;
        }
    }

    &__info {
        margin-bottom: @margin-gap;

        @media @query-lg {
            float: right;
            width: @box-detail-info-width;
            margin-left: @box-detail-info-gap;
        }

        &__title {
            padding-top: 12px;
            line-height: 47px;
            margin-bottom: 20px;

            color: @color-brown;
            font-size: 36px;
            font-weight: 700;
        }

        &__description {
            line-height: 30px;
            margin-bottom: 20px;

            color: @color-brown;
            font-size: 18px;
        }
    }

    &__variants {
        padding: 30px;

        background-color: @color-gray;

        &__title {
            margin-bottom: 10px;

            color: @color-base;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;

            &--with-top-gap {
                margin-top: 30px;
            }

            &__link {
                margin-left: 18px;

                color: @color-brown;
                font-size: 13px;
                font-weight: 400;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    &__availability {
        padding: @box-detail-info-padding/2 @box-detail-info-padding;

        font-weight: bold;
        background: @color-f;
        border: solid @color-gray;
        border-width: 0 3px 1px 3px;

        &__status {
            font-size: 18px;
            white-space: nowrap;
        }

        &__text {
            color: @color-brown;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
        }

        &__stores {
            color: @color-brown-light;
            font-size: 14px;
            font-weight: 700;
            white-space: nowrap;
            text-decoration: none;
        }
    }

    &__add-basket {
        padding: @box-detail-info-padding;

        font-weight: bold;
        background: @color-f;
        border: solid @color-gray;
        border-width: 0 3px 3px 3px;
    }

    &__content {
        width: 100%;

        @media @query-vl {
            width: @box-detail-content-width;
        }
    }

    &__params {
        display: flex;
        flex-direction: column;
        padding: @box-detail-info-padding;
        margin-bottom: 50px;

        background-color: @color-gray;

        @media @query-lg {
            flex-direction: row;
        }

        &__column {
            width: 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            @media @query-lg {
                width: calc(~"100% - @{box-detail-params-column-count}");
                margin-bottom: 0;
            }

            &--middle {
                @media @query-lg {
                    padding: 0 20px;
                }
            }
        }

        &__title {
            margin-bottom: 15px;

            color: @color-base;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
