@box-detail-info-width: 400px;
@box-detail-info-gap: 90px;
@box-detail-content-width: calc(~"100% - (@{box-detail-info-width} + @{box-detail-info-gap})");

@box-detail-image-bottom-gap: 96px;
@box-detail-image-main-bottom-gap: 20px;
@box-detail-image-min-height: 250px;

.box-detail {
    display: flex;
    flex-direction: row;

    @media @query-lg {
        .clearfix();
    }

    &__image {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: @box-detail-image-bottom-gap;

        @media @query-lg {
            width: @box-detail-content-width;
        }

        &__main {
            position: relative;
            margin-bottom: @box-detail-image-main-bottom-gap;
            text-align: center;
            
            font-size: 0;
        }
    }

    &__info {
        margin-left: @box-detail-info-gap;
        margin-bottom: @margin-gap;

        @media @query-lg {
            width: @box-detail-info-width;
            float: right;
        }

        &__availability {
            margin-bottom: @margin-gap;

            font-weight: bold;
        }

        &__params {
            margin: 0 0 @margin-gap;
            padding: 10px 0;

            font-size: 0;
            border-top: 1px solid @color-border;
            border-bottom: 1px solid @color-border;

            @media @query-md {
                column-count: 2;
            }

            @media @query-lg {
                column-count: 1;
            }

            @media @query-vl {
                column-count: 2;
            }

            dt, dd {
                margin: 0;
                padding: 5px 0;
                display: inline-block;
                vertical-align: top;
                width: 50%;

                font-size: 12px;
            }

            dt {
                padding-right: 5px;

                font-weight: bold;
            }

            &:empty {
                display: none;
            }
        }
    }

    &__content {
        width: @box-detail-content-width;
    }
}
