@box-detail-sets-padding: @box-detail-info-padding;
@box-detail-sets-image-size: 60px;
@box-detail-sets-image-padding: 12px;

.box-detail-sets {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media @query-lg {
        width: @box-detail-info-width;
        margin-left: @box-detail-info-gap;
    }

    &__item {
        margin-bottom: 20px;

        &__product {
            display: flex;
            flex-direction: column;
            padding: @box-detail-sets-padding;

            background-color: @color-gray;

            @media @query-lg {
                flex-direction: row;
            }

            &__image {
                display: flex;
                width: calc(~"@{box-detail-sets-image-size} + 2*@{box-detail-sets-image-padding}");
                padding: @box-detail-sets-image-padding;
                margin-right: 15px;
                margin-bottom: 15px;

                background-color: @color-f;
                border: 2px solid @color-green;

                @media @query-lg {
                    margin-bottom: 0;
                }

                img {
                    max-width: @box-detail-sets-image-size;
                    max-height: @box-detail-sets-image-size;
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
            }

            &__title {
                margin-bottom: 10px;

                color: @color-base;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        &__add-basket {
            padding: @box-detail-sets-padding;

            border: 3px solid @color-gray;
        }
    }
}
