@box-detail-add-price-font-size-main: 32px;

.box-detail-add {

    &__prices {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @media @query-lg {
            flex-direction: row;
            align-items: baseline;
            margin-bottom: 2px;
        }

        &__item {
            color: @color-price;
            white-space: nowrap;
            font-weight: 400;

            &--main {
                padding-right: 15px;

                font-weight: 700;
                font-size: @box-detail-add-price-font-size-main;
                color: @color-price-main;
            }

            &--old {
                padding-right: 7px;

                color: @color-price-old;
                text-decoration: line-through;
            }

            &--save {
                color: @color-price-save;
            }
        }
    }

    &__club {
        margin-bottom: 16px;

        &__price {
            color: @color-base;
        }

        &__text {
            color: @color-brown-light;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
        }

        &__link {
            color: @color-brown-light;
            font-size: 14px;
            font-weight: 700;
            white-space: nowrap;
            text-decoration: none;
        }
    }

}
