@box-detail-info-width: 426px;
@box-detail-info-gap: 64px;
@box-detail-content-width: calc(~"100% - (@{box-detail-info-width} + @{box-detail-info-gap})");

@box-detail-image-bottom-gap: 96px;
@box-detail-image-main-bottom-gap: 20px;
@box-detail-image-min-height: 250px;

@box-detail-params-title-width: 32%;
@box-detail-info-padding: 30px;

@box-detail-gift-image-size: 50px;

.box-detail {
    display: flex;
    flex-direction: column;

    @media @query-lg {
        .clearfix();
        flex-direction: row;
    }

    &__image {
        display: flex;
        flex-direction: column;
        position: relative;

        @media @query-lg {
            width: @box-detail-content-width;
            margin-bottom: @box-detail-image-bottom-gap;
        }

        &__main {
            position: relative;
            margin-bottom: @box-detail-image-main-bottom-gap;
            text-align: center;

            font-size: 0;
        }
    }

    &__wrap {
        margin-bottom: 15px;

        border: solid @color-gray;
        border-width: 3px;
    }

    &__info {
        margin-bottom: @margin-gap;

        @media @query-lg {
            float: right;
            width: @box-detail-info-width;
            margin-left: @box-detail-info-gap;
        }

        &__title {
            padding-top: 12px;
            line-height: 47px;
            margin-bottom: 10px;

            color: @color-brown;
            font-family: @font-alt;
            font-size: 36px;
            font-weight: 700;
        }

        &__description {
            line-height: 30px;
            margin-bottom: 20px;

            color: @color-brown;
            font-family: @font-alt;
            font-size: 18px;
        }
    }

    &__variants {
        padding: 30px;

        background-color: @color-gray;

        &--in-sets {
            padding-top: 0;
            padding-bottom: 20px;
        }

        &__title {
            margin-bottom: 10px;

            color: @color-base;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;

            &--with-top-gap {
                margin-top: 30px;
            }

            &__link {
                display: inline-block;

                color: @color-brown;
                font-size: 13px;
                font-weight: 400;
                text-decoration: none;
                text-transform: uppercase;

                @media @query-lg {
                    float: right;
                    padding-top: 2px;
                    display: inline;
                    margin-left: 18px;
                }
            }
        }
    }

    &__availability {
        padding: @box-detail-info-padding/2 @box-detail-info-padding;

        font-weight: bold;
        background-color: @color-f;
        border-bottom: 1px solid @color-gray;

        &__status {
            font-size: 18px;
            white-space: nowrap;
        }

        &__next-line {
            display: block;
        }

        &__text {
            color: @color-brown;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
        }

        &__stores {
            color: @color-brown-light;
            font-size: 14px;
            font-weight: 700;
            white-space: nowrap;
            text-decoration: none;
        }
    }

    &__add-basket {
        padding: 0;

        font-weight: bold;
        background: @color-f;

        &--empty {
            padding: 0;
        }

        & > div {
            padding: @box-detail-info-padding;
        }
    }

    &__gift {
        display: flex;
        flex-direction: row;
        padding: 10px @box-detail-info-padding;

        background-color: @color-f;
        border-top: 1px solid @color-gray;

        &__image {
            display: flex;
            position: relative;
            height: @box-detail-gift-image-size;
            width: @box-detail-gift-image-size;
            margin-right: 20px;

            img {
                .center-image();
            }
        }

        &__info {
            &__title {
                display: block;
                margin-bottom: 7px;

                color: @color-base;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }

            &__text {
                color: @color-brown-light;
            }
        }
    }

    &__action {
        display: flex;
        flex-direction: row;
        padding: 10px @box-detail-info-padding;

        background-color: @color-f;
        border-top: 1px solid @color-gray;
        font-size: @font-size;

        &__title {
            margin-right: 25px;

            color: @color-price-save;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__text {
            font-size: 14px;
            color: @color-brown-light;

            &__highlight {
                color: @color-price-save;
            }
        }
    }

    &__catnumber {
        text-align: right;

        color: @color-brown-light;
        font-size: @font-size-small;

        &__number {
            text-transform: uppercase;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        @media @query-lg {
            flex-direction: row;
        }
    }

    &__params {
        display: flex;
        flex-direction: column;
        padding: @box-detail-info-padding;
        padding-top: 5px;
        margin-bottom: 50px;

        &__row {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 38px;

            @media @query-vl {
                flex-direction: row;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__title {
            margin-bottom: 15px;
            width: 100%;
            text-align: center;

            color: @color-base;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;

            @media @query-vl {
                width: @box-detail-params-title-width;
                text-align: left;
            }
        }
    }

    &__tags {
         &__row {
             display: flex;
             flex-direction: column;
             align-items: center;

             @media @query-lg {
                 flex-direction: row;
             }
         }

         &__title {
             color: @color-base;
             font-size: 15px;
             font-weight: 700;
             text-transform: uppercase;

             @media @query-lg {
                 padding-right: 20px;
             }
        }
    }
}
