@box-dropdown-bg: @color-gray;
@box-dropdown-bg-hover: darken(@box-dropdown-bg, 5%);

@box-dropdown-padding-horizontal: 16px;
@box-dropdown-padding-horizontal-small: 11px;
@box-dropdown-padding-vertical: 10px;
@box-dropdown-padding-vertical-small: 9px;
@box-dropdown-font-size: 15px;
@box-dropdown-arrow-size: @arrow-size;
@box-dropdown-arrow-color: @color-brown-light-2;
@box-dropdown-open-bottom-gap: 10px;

@box-dropdown-item-bg: @color-f;
@box-dropdown-item-bg-hover: @color-f;
@box-dropdown-item-font-size: 13px;
@box-dropdown-item-font-color: @color-base;

.box-dropdown {
    display: block;
    position: relative;
    margin: 0 5px;

    cursor: pointer;

    &--no-right-gap {
        margin-right: 0;
    }

    &__select {
        display: block;
        position: relative;
        padding: @box-dropdown-padding-vertical 40px @box-dropdown-padding-vertical @box-dropdown-padding-horizontal;

        border-radius: @radius;
        background-color: @box-dropdown-bg;
        color: @color-base;
        font-weight: bold;
        font-size: @box-dropdown-font-size;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;

        .box-dropdown--without-arrow & {
            padding-right: @box-dropdown-padding-horizontal;
        }

        .box-dropdown--small-padding & {
            padding: @box-dropdown-padding-vertical-small @box-dropdown-padding-horizontal-small;
        }

        &:hover {
            background-color: @box-dropdown-bg-hover;

            &:after {
                background-color: @box-dropdown-bg-hover;
            }
        }

        .open & {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:after {
            display: none;
            content: '';
            position: absolute;
            height: @box-dropdown-open-bottom-gap;
            width: 100%;
            top: 100%;
            right: 0;
            z-index: @z-index-menu;

            background-color: @box-dropdown-bg;

            .open & {
                display: block;
            }
        }

        &__arrow {
            position: absolute;
            display: inline-block;
            width: @box-dropdown-arrow-size;
            height: @box-dropdown-arrow-size;
            top: 18px;
            right: 15px;

            color: @box-dropdown-arrow-color;
            font-size: @box-dropdown-arrow-size;

            &--down {
                .svg;
                .svg-triangle;

                .open & {
                    display: none;
                }
            }

            &--up {
                .svg;
                .svg-triangle;
                transform: rotate(180deg);

                display: none;

                .open & {
                    display: inline-block;
                }
            }
        }
    }

    &__options {
        .reset-ul();
        display: none;
        cursor: default;

        .open & {
            display: block;
            position: absolute;
            top: 100% + @box-dropdown-open-bottom-gap;
            right: 0;
            z-index: @z-index-menu;

            border: 3px solid @color-gray;
            border-radius: @radius;
            border-top-right-radius: 0;
        }

        &__item {
            display: block;
            padding: @box-dropdown-padding-vertical @box-dropdown-padding-horizontal;

            background: @box-dropdown-item-bg;

            &:hover {
                background: @box-dropdown-item-bg-hover;
            }

            &:first-child {
                border-top-left-radius: @radius;
            }

            &:last-child {
                border-bottom-right-radius: @radius;
                border-bottom-left-radius: @radius;
            }

            &__link {
                white-space: nowrap;

                color: @box-dropdown-item-font-color;
                font-size: @box-dropdown-item-font-size;
                font-weight: 500;
            }
        }
    }
}

/* custom part */
.box-dropdown__options {
    .open & {
        &.box-dropdown__options--search {
            left: -65px;
            width: 300px;

            @media @query-md {
                right: -320px;
                width: 445px;
            }

            @media @query-lg {
                right: -500px;
                width: auto;
            }

            @media @query-vl {
                left: -520px;
                right: 0px;
                width: 740px;
            }
        }

        &.box-dropdown__options--login {
            left: -115px;
            width: 300px;

            @media @query-md {
                right: -140px;
                width: @box-login-width;
            }

            @media @query-vl {
                right: 0;
            }
        }

        &.box-dropdown__options--basket {
            left: -228px;
            width: 304px;

            @media @query-md {
                right: -140px;
                width: @cart-detail-width;
            }

            @media @query-vl {
                right: 0;
            }
        }

        &.box-dropdown__options--menu {
            left: -15px;
            width: 300px;

            background-color: @color-f;

            @media @query-md {
                right: -140px;
                width: @box-login-width;
            }

            @media @query-vl {
                right: 0;
            }
        }
    }
}
