@box-dropdown-bg: @color-add;
@box-dropdown-bg-hover: @color-box;

@box-dropdown-padding-horizontal: 18px;
@box-dropdown-padding-horizontal-small: 11px;
@box-dropdown-padding-vertical: 10px;
@box-dropdown-padding-vertical-small: 10px;
@box-dropdown-font-size: 15px;
@box-dropdown-arrow-size: 8px;
@box-dropdown-arrow-color: @color-brown-light-2;
@box-dropdown-open-bottom-gap: 10px;
@box-dropdown-min-width: 115px;

@box-dropdown-item-height: 40px;
@box-dropdown-item-bg: @color-f;
@box-dropdown-item-bg-hover: @color-f;
@box-dropdown-item-font-size: 13px;
@box-dropdown-item-font-color: @color-base;

.box-dropdown {
    display: block;
    position: relative;

    cursor: pointer;

    &--min-width {
        @media @query-lg {
            min-width: 115px;
        }
    }

    &__select {
        display: block;
        position: relative;
        padding: @box-dropdown-padding-vertical 36px @box-dropdown-padding-vertical @box-dropdown-padding-horizontal;
        height: @box-dropdown-item-height;

        border-radius: @radius-small;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: @box-dropdown-bg;
        box-shadow: @box-shadow;
        color: @color-base;
        font-weight: bold;
        font-size: @box-dropdown-font-size;
        text-decoration: none;
        white-space: nowrap;

        .box-dropdown--without-arrow & {
            padding-right: @box-dropdown-padding-horizontal;
        }

        .box-dropdown--small-padding & {
            padding: @box-dropdown-padding-vertical-small @box-dropdown-padding-horizontal-small;
        }

        .box-dropdown--without-background & {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
        }

        .open & {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid @color-box;
            box-shadow: none;
            background-color: @box-dropdown-bg-hover;
        }

        .open.box-dropdown--open-light & {
            background-color: @color-f;
            box-shadow: inset 0px 0px 0px 2px @color-box;
        }

        .box-dropdown--search & {
            @media @query-lg {
                display: none;
            }
        }

        &:after {
            display: none;
            content: '';
            position: absolute;
            height: @box-dropdown-open-bottom-gap;
            top: 100%;
            right: -1px;
            left: -1px;
            z-index: @z-index-menu;

            background-color: @box-dropdown-bg;

            .open & {
                display: block;

                background-color: @box-dropdown-bg-hover;
            }

            .open.box-dropdown--open-light & {
                z-index: @z-index-menu + 1;
                height: @box-dropdown-open-bottom-gap;
                top: calc(100% - 2px);
                right: 0px;
                left: -1px;
                width: calc(100% - 4px);

                background-color: @color-f;
                border-right: 3px solid @color-box;
                border-left: 3px solid @color-box;
            }
        }

        &__arrow {
            position: absolute;
            display: inline-block;
            width: @box-dropdown-arrow-size;
            height: @box-dropdown-arrow-size;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;

            color: @box-dropdown-arrow-color;
            font-size: @box-dropdown-arrow-size;

            &--down {
                .svg;
                .svg-triangle;

                .open & {
                    display: none;
                }
            }

            &--up {
                .svg;
                .svg-triangle;
                transform: rotate(180deg) translateY(50%);

                display: none;

                .open & {
                    display: inline-block;
                }
            }
        }
    }

    &__options {
        .reset-ul();
        display: none;
        cursor: default;

        background-color: @color-f;

        .open & {
            display: block;
            position: absolute;
            top: 100% + @box-dropdown-open-bottom-gap;
            right: 0;
            z-index: @z-index-menu;

            border: 3px solid @color-box;
            border-radius: @radius;
            border-top-right-radius: 0;
        }

        .box-dropdown--search & {
            border-top-right-radius: @radius;
            
            @media @query-lg {
                position: static;
                display: block;

                border: 0;
            }
        }

        &__item {
            display: block;
            padding: @box-dropdown-padding-vertical @box-dropdown-padding-horizontal;

            background: @box-dropdown-item-bg;

            &:hover {
                background: @box-dropdown-item-bg-hover;
            }

            &:first-child {
                border-top-left-radius: @radius;
            }

            &:last-child {
                border-bottom-right-radius: @radius;
                border-bottom-left-radius: @radius;
            }

            &__link {
                white-space: nowrap;

                color: @box-dropdown-item-font-color;
                font-size: @box-dropdown-item-font-size;
                font-weight: 500;
            }
        }
    }
}

/* custom part */
.box-dropdown__options {
    .open & {
        &.box-dropdown__options--search {
            left: -65px;
            width: 300px;

            @media @query-md {
                right: -320px;
                width: 445px;
            }

            @media @query-lg {
                width: auto;
            }
        }

        &.box-dropdown__options--login {
            left: -115px;
            width: 300px;

            @media @query-md {
                right: -140px;
                width: @box-login-width;
            }

            @media @query-vl {
                right: 0;
                left: auto;
            }
        }

        &.box-dropdown__options--logged {
            width: 200px;
        }

        &.box-dropdown__options--basket {
            left: -228px;
            width: 304px;

            @media @query-md {
                right: -120px;
                width: @cart-detail-width;
            }

            @media @query-vl {
                left: auto;
                right: 0;
            }
        }

        &.box-dropdown__options--menu {
            left: -15px;
            width: 300px;

            background-color: @color-f;

            @media @query-md {
                right: -140px;
                width: @box-login-width;
            }

            @media @query-vl {
                right: -236px;
            }
        }
    }
}
