@box-filter-padding: 30px;
@box-filter-title-bottom-gap: 5px;
@box-filter-section-gap: 50px;
@box-filter-width: @box-list-panel-width;
@box-filter-gap: @box-list-panel-gap;
@box-filter-selected-cross-size: 13px;

.box-filter {
    width: @box-filter-width;
    margin-right: @box-filter-gap;
    margin-bottom: @margin-gap;
    padding: @box-filter-padding;

    border: 3px solid @color-gray;
    background-color: @color-gray;

    &.active-mobile {
        width: calc(~"100% - @{web-padding}");
    }

    &__title {
        display: block;
        margin-bottom: @box-filter-title-bottom-gap;

        color: @color-base;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__selected {
        display: flex;
        flex-direction: column;
        margin: -@box-filter-padding -@box-filter-padding @box-filter-padding -@box-filter-padding;
        padding: @box-filter-padding;

        background-color: @color-f;

        &__item {
            position: relative;
            margin-bottom: 5px;
            padding: 7px 12px;

            color: @color-brown-light-2;
            background-color: @color-gray;

            .svg {
                position: absolute;
                right: 10px;
                top: calc(~"50% - @{box-filter-selected-cross-size}/2");

                cursor: pointer;
                font-size: @box-filter-selected-cross-size;
            }
        }

        &__remove {
            margin-top: 15px;

            &__link {
                color: @color-base;
                font-family: @font;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    &__price {
        margin-bottom: @box-filter-section-gap;
    }

    &__choice {
        margin-bottom: @box-filter-section-gap;

        &__title {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 5px 0;

            font-weight: bold;
        }
    }

    &__action {
        display: none;
        text-align: center;
    }
}
