@box-gallery-item-size: 70px;
@box-gallery-item-gap: 24px;
@box-gallery-item-count: 5;
@box-gallery-side-gap: 125px;
@box-gallery-font-size: 13px;

.box-gallery {
    display: flex;
    flex-direction: row;
    height: @box-gallery-item-size;
    position: relative;
    margin: 0 auto;

    .slick-list {
        overflow: hidden;
    }

    &__item {
        float: left;
        width: calc(~"@{calc-base}/2");
        min-width: @box-gallery-item-size;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @media @query-xs {
            width: calc(~"@{calc-base}/3");
        }

        @media @query-md {
            width: calc(~"@{calc-base}/4");
        }

        @media @query-lg {
            width: calc(~"@{calc-base}/3");
        }

        @media @query-vl {
            width: calc(~"@{calc-base}/5");
        }

        &__link {
            display: inline-block;
            width: @box-gallery-item-size;
            height: @box-gallery-item-size;
            position: relative;
        }

        img {
            .center-image();
        }

        &--more {
            width: 93px;
            
            .box-gallery__item__link {
                display: inline;
                line-height: @box-gallery-item-size;

                color: @color-brown-light-2;
                font-size: @box-gallery-font-size;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        &--video {
            width: 66px;
            text-align: right;
            border-left: 3px solid @color-gray;

            .box-gallery__item__link {
                display: inline;
                line-height: @box-gallery-item-size;

                color: @color-red;
                font-size: 33px;
                text-decoration: none;

                .svg {
                    position: relative;
                    top: 5px;
                }
            }
        }
    }

    &__in {
        float: left;
        width: 100%;
    }
}
