.box-images-line {
    &__title {
        display: block;
        margin-bottom: 26px;
        text-align: center;

        color: @color-base;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        &__link {
            position: relative;
            display: inline-block;
            margin-left: 32px;
            margin-top: -5px;
            height: @image-line-link-height;
            line-height: @image-line-link-height;
            padding: 0 19px;
            top: -3px;

            background-color: @color-orange;
            color: @color-f;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;

            .svg {
                position: relative;
                top: 4px;
                left: -5px;

                font-size: 20px;
            }
        }
    }
}
