@box-last-visited-bottom-gap: 61px;
@box-last-visited-title-bottom-gap: 50px;

.box-last-visited {
    padding: 54px 0;
    margin-bottom: @box-last-visited-bottom-gap;

    &__title {
        display: block;
        line-height: 36px;
        margin-bottom: @box-last-visited-title-bottom-gap;
        text-align: center;

        color: @color-base;
        font-family: @font-alt;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
