@box-login-button-height: 50px;
@box-login-width: 400px;
@box-login-padding: 40px;
@box-login-padding-mobile: 20px;

@box-login-facebook-bg: @color-facebook;
@box-login-google-bg: @color-google;
@box-login-button-icon-size: 50px;

.box-login {
    display: block;
    width: 100%;
    padding: @box-login-padding-mobile;

    background: @color-gray;

    @media @query-md {
        padding: @box-login-padding;
    }

    &__title {
        margin-bottom: 11px;

        text-transform: uppercase;
        color: @color-base;
        font-size: 15px;
        font-weight: bold;
    }

    &__item {

        &--checkbox {
            margin-top: 10px;
        }

        &--submit {
            margin-top: @margin-gap;
            margin-bottom: @margin-gap;
        }

        &--info {
            margin-bottom: 0;
        }

        .input {
            width: 100%;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        text-align: center;

        @media @query-lg {
            flex-direction: row;
            text-align: left;
        }

        &__login {
            height: @box-login-button-height;
            padding: calc(~"(@{box-login-button-height}-@{font-size})/2") 25px;

            background-color: @color-orange;
            color: @color-f;
            font-size: @font-size;
            text-transform: uppercase;
        }

        &__lost {
            height: @box-login-button-height;
            line-height: @box-login-button-height;

            color: @color-base;
            font-size: @font-size;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

            @media @query-md {
                margin-left: 30px;
            }
        }
    }
}

.box-login__social {
    padding: @box-login-padding-mobile;

    background: @color-f;

    @media @query-md {
        padding: @box-login-padding;
    }

    &__title {
        text-align: center;
        margin-bottom: @box-login-padding;

        &__link {
            color: @color-base;
            font-size: @font-size;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &__or {
        position: relative;
        height: 41px;
        line-height: 41px;
        text-align: center;

        &__text {
            position: relative;
            display: inline;
            padding: 0 8px;
            z-index: 1;

            color: @color-base;
            background: @color-f;
        }

        &:before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            z-index: 0;

            background: @color-gray;
        }
    }

    &__facebook {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: @box-login-button-height;
        line-height: 20px;

        background-color: @box-login-facebook-bg;
        border: 1px solid @box-login-facebook-bg;

        @media @query-md {
            line-height: @box-login-button-height;
        }

        &__text {
            width: calc(~"@{calc-base} -  @{box-login-button-icon-size}");
            text-align: center;
            padding-top: 5px;

            color: @color-f;
            font-size: @font-size-small;
            font-weight: bold;

            @media @query-md {
                padding-top: 0;

                font-size: @font-size;
                text-transform: uppercase;
            }
        }

        &__icon {
            width: @box-login-button-icon-size;
            line-height: @box-login-button-height;
            text-align: center;
            padding-top: 4px;

            background: #314783;

            .svg {
                font-size: 20px;
                color: @color-f;
            }
        }
    }

    &__google {
        display: flex;
        flex-direction: row;
        height: @box-login-button-height;
        line-height: 20px;

        background-color: @box-login-google-bg;
        border: 1px solid @box-login-google-bg;

        @media @query-md {
            line-height: @box-login-button-height;
        }

        &__text {
            width: calc(~"@{calc-base} -  @{box-login-button-icon-size}");
            text-align: center;
            padding: 5px 10px;

            color: @color-f;
            font-size: @font-size-small;
            font-weight: bold;

            @media @query-md {
                padding: 0;

                font-size: @font-size;
            }
        }

        &__icon {
            width: @box-login-button-icon-size;
            line-height: @box-login-button-height;
            text-align: center;
            padding-top: 4px;

            background: @color-f;

            .svg {
                font-size: 20px;
                color: @color-base;
            }
        }
    }
}
