@box-order-cart-width: 430px;
@box-order-cart-gap: 60px;
@box-order-info-width: ~"calc(100% - @{box-order-cart-width} - @{box-order-cart-gap})";
@box-order-info-transport-width: 176px;
@box-order-info-transport-height: 55px;
@box-order-gap-small: 30px;
@box-order-gap: 62px;
@box-order-additional-gap: 50px;

.box-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: @box-order-gap-small;
    padding: 0 10px;

    @media @query-vl {
        flex-direction: row;
        margin-top: @box-order-gap;
    }

    &__info {
        margin-bottom: @box-order-gap-small;

        @media @query-vl {
            width: @box-order-info-width;
            margin-bottom: @box-order-gap;
        }

        &__content {
            margin-bottom: 40px;
        }

        &__item {
            margin-bottom: @box-order-gap-small;

            @media @query-vl {
                margin-bottom: @box-order-gap;
            }

            &--without-margin {
                margin-bottom: 0;
            }
        }
    }

    &__additional {
        padding: 20px 15px 10px 15px;

        margin-bottom: 20px;

        @media @query-md {
            padding: 67px @box-order-additional-gap 38px @box-order-additional-gap;
        }

        &__title {
            display: block;
            text-align: center;

            color: @color-base;
            font-family: @font-alt;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__cart {
        margin-bottom: 6px;

        @media @query-md {
            margin-bottom: @box-order-gap-small;
        }

        @media @query-vl {
            width: @box-order-cart-width + @box-order-cart-gap;
            margin-bottom: @box-order-gap;
        }
    }
}
