@box-order-cart-width: 400px;
@box-order-cart-gap: 90px;
@box-order-info-width: ~"calc(100% - @{box-order-cart-width} - @{box-order-cart-gap})";

.box-order {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media @query-xl {
        flex-direction: row;
    }

    &__info {
        margin-bottom: @margin-gap;

        @media @query-xl {
            width: @box-order-info-width;
        }
    }

    &__cart {
        margin-bottom: @margin-gap;

        @media @query-xl {
            width: @box-order-cart-width;
        }
    }
}
