@box-order-type-bottom-gap: 30px;
@box-order-type-font-size: 13px;
@box-order-type-item-gap: 38px;

.box-order-type {
    .clearfix();
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: @box-order-type-bottom-gap;

    &__item {
        float: left;
        margin-left: @box-order-type-item-gap;

        color: @color-brown;
        font-size: @box-order-type-font-size;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;

        &.active {
            margin-top: -2px;

            color: @color-brown-light;
            font-size: 15px;
            font-weight: 400;
            text-transform: none;
        }
    }
}
