@box-pick-up-place-in-max-width: 500px;

.box-pickup-place {
    height: 70%;
    top: 15%;

    &__search {
        margin: 20px 0;

        &__wrap {
            width: 100%;

            @media @query-sm {
                display: flex;
            }
        }

        &__in {
            position: relative;
            width: 100%;
            margin-bottom: 10px;

            @media @query-sm {
                flex: 0 1 @box-pick-up-place-in-max-width;
                max-width: @box-pick-up-place-in-max-width;
                margin-bottom: 0;
            }
        }

        &__action {
            width: 100%;

            @media @query-sm {
                flex: 0 0 auto;
                width: auto;
                padding-left: 10px;
            }

            .btn {
                width: 100%;
                min-height: @input-height;
                line-height: 1;

                @media @query-sm {
                    width: auto;
                }
            }
        }

        /* search in */
        &__title {
            margin-bottom: 4px;

            font-size: 14px;
            font-weight: 700;
        }

        &__input {
            width: 100%;

            input {
                width: 100%;
            }
        }

        &__button {
            position: absolute;
            right: 0;
            top: 0;

            button {
                width: auto;
                min-height: @form-item-height;
                line-height: 1;
            }
        }
    }

    &__results {
        overflow: hidden;
        overflow-y: auto;
    }
}
