@box-prelist-title-font-size: 36px;
@box-prelist-title-margin-bottom: 25px;

.box-prelist {
    &__title {
        display: block;
        margin-bottom: @box-prelist-title-margin-bottom;
        text-align: center;

        color: @color-brown;
        font-size: @box-prelist-title-font-size;
        font-weight: 700;
    }
}
