@box-price-slider-inputs-gap: 10px;

.box-price-slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__form {
        display: flex;
        flex-direction: row;

        &__input {
            position: relative;
            width: 50%;

            input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: @color-base;
              opacity: 1; /* Firefox */
            }

            input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: @color-base;
            }

            input::-ms-input-placeholder { /* Microsoft Edge */
                color: @color-base;
            }

            &--left {
                margin-right: @box-price-slider-inputs-gap/2;
            }

            &--right {
                margin-left: @box-price-slider-inputs-gap/2;
            }
        }
    }
}
