@box-progress-steps-count: 5;
@box-progress-padding-horizontal: 17px;
@box-progress-padding-vertical: 15px;

.box-progress {
    .reset-ul();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: -4px;

    &__item {
        display: flex;
        align-items: center;

        color: @color-brown-light;
        font-weight: 700;

        &--active {
            color: @color-base;
        }

        &--done {
            color: @color-brown;
        }

        &--separator {
            position: relative;
            margin: 0 @box-progress-padding-horizontal;

            .svg {
                transform: rotate(-90deg);

                font-size: 6px;
            }
        }

        &__inner {
            padding: 10px;
            width: 100%;
            text-align: center;

            font-size: 12px;

            @media @query-lg {
                font-size: 16px;
            }
        }
    }
}
