@box-promo-image-height: 462px;

.box-promo-image {
    position: relative;
    height: @box-promo-image-height;
    padding: 40px 33px;
    margin-bottom: 20px;
    overflow: hidden;

    @media @query-md {
        padding: 78px 115px 61px 115px;
    }

    &--product-list {
        padding: 40px 33px;
    }

    img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: @web-width;
        max-width: none;
    }

    &__title {
        display: inline;

        &__text {
            display: inline-block;
            max-width: 240px;
            line-height: 42px;
            margin-bottom: 42px;

            color: @color-f;
            font-size: 26px;
            font-weight: bold;

            @media @query-md {
                font-size: 30px;
            }

            .box-promo-image--error & {
                max-width: 450px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;

        .box-promo-image--product-list & {
            @media @query-xl {
                flex-direction: row;
                justify-content: flex-end;
            }
        }

        &__description {
            position: relative;
            margin-bottom: 27px;
            line-height: 30px;

            color: @color-f;
            font-family: @font-alt;
            font-size: 18px;

            .box-promo-image--product-list & {
                align-self: flex-end;
                width: 100%;
                margin-bottom: 0;

                @media @query-xl {
                    width: 100%/2;
                }
            }

            br {
                display: none;

                @media @query-md {
                    display: block;
                }
            }
        }

        &__button {
            position: relative;

            .box-promo-image--product-list & {
                align-self: flex-end;
            }
        }
    }
}
