@box-references-bottom-gap: 62px;
@box-references-title-bottom-gap: 32px;
@box-references-top-padding: 30px;
@box-references-top-nubmer-font-size: 36px;
@box-references-top-bottom-bg: @color-gray;

.box-references {
    margin-bottom: @box-references-bottom-gap;

    &__title {
        display: block;
        line-height: 36px;
        text-align: center;
        margin-bottom: @box-references-title-bottom-gap;

        color: @color-base;
        font-family: @font-alt;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__in {
        position: relative;
        margin: 0 40px;

        @media @query-lg {
            margin: 0;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        padding: @box-references-top-padding;

        background-color: @box-references-top-bottom-bg;

        @media @query-lg {
            flex-direction: row;
        }

        &__rating {
            margin-right: 0;

            @media @query-lg {
                margin-right: 67px;
            }

            &__number {
                margin-bottom: 5px;
                line-height: @box-references-top-nubmer-font-size;

                font-size: @box-references-top-nubmer-font-size;
                font-weight: 700;
            }

            &__count {
                color: @color-base;
                font-family: @font-alt;
                font-size: @font-size;
            }
        }

        &__stars {
            display: flex;
            flex-direction: column;

            margin-top: 5px;
            margin-bottom: 10px;

            &__link {
                color: @color-base;
                font-size: @font-size;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    &__bottom {
        padding: 22px;
        text-align: center;

        color: @color-base;
        font-size: @font-size;
        background-color: @box-references-top-bottom-bg;

        &__next-line {
            @media @query-xl {
                display: none;
            }
        }

        &__link {
            line-height: 25px;

            color: @color-base;
            font-size: @font-size;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
