@box-search-title-width: 150px;
@box-search-input-max-width: 450px;
@box-search-button-width: 150px;
@box-search-side-gap: 80px;
@box-search-form-gap: 20px;

.box-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 10px;

    background-color: @color-gray;

    @media @query-lg {
        flex-direction: row;
        padding: 40px @box-search-side-gap;
    }

    &__title {
        width: @box-search-title-width;

        font-size: 18px;
        font-weight: 700;
    }

    &__input {
        width: 100%;

        @media @query-xl {
            width: @box-search-input-max-width;
        }
    }

    &__button {
        text-align: center;

        @media @query-md {
            padding-left: @box-search-form-gap;
            text-align: left;
        }

        @media @query-vl {
            width: @box-search-button-width;
        }
    }
}
