@box-top-products-bottom-gap: 47px;
@box-top-products-title-bottom-gap: 0;
@box-top-products-tabs-bottom-gap: 50px;

.box-top-products {
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
    padding-top: 61px;
    margin-bottom: 60px;
    margin-bottom: @box-top-products-bottom-gap;
    text-align: center;

    border-bottom: 1px solid @color-border;
    border-top: 1px solid @color-border;

    &__title {
        display: block;
        text-align: center;
        line-height: 43px;
        margin-bottom: @box-top-products-title-bottom-gap;

        color: @color-base;
    }

    &__tabs {
        .reset-ul();
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-bottom: @box-top-products-tabs-bottom-gap;

        &__item {
            margin: 0 10px;

            text-transform: uppercase;

            &__link {
                color: @color-base;
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 20px;

        &__link {
            line-height: 18px;

            color: @color-base;
            font-size: @font-size;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
