{% if categories|length > 0 %}
    <ul class="list-categories js-tabs-content {{ cssClass|default('') }}" data-tab-id="categories">
        {% for category in categories %}
            <li class="list-categories__item">
                <a href="{{ url('front_product_list', { id: category.id }) }}"
                class="list-categories__item__link">
                    <div class="list-categories__item__image">
                        {{ image(category, { alt: category.name }) }}
                    </div>
                    <div class="list-categories__item__info">
                        <p class="list-categories__item__text">
                            <span class="list-categories__item__text__name">{{ category.name }}</span> 
                            <span class="list-categories__item__text__count js-not-implemented-yet">(10)</span>
                        </p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
