@contact-us-phone-icon-size: 25px;

.contact-us {
    display: none;

    @media @query-lg {
        display: flex;
        align-items: center;

        font-family: @font-alt;

        &__open-hours {
            opacity: 0.7;

            font-size: @font-size-extra-small;
            color: @color-f;
        }

        &__phone {
            display: flex;
            align-items: center;
            margin-left: 16px;

            color: @color-f;
            font-size: @font-size;
            font-weight: 700;

            &:hover {
                text-decoration: none;
                color: @color-f;

                .contact-us__phone__text {
                    text-decoration: underline;
                }
            }

            .svg {
                margin-right: 6px;
                height: @contact-us-phone-icon-size;

                font-size: @contact-us-phone-icon-size;
            }
        }
    }
}
