@table-cart-item-gap: 10px;
@table-cart-image-size: 101px;
@table-cart-image-size-mobile: 71px;
@table-cart-image-gap: @table-cart-item-gap;
@table-cart-image-gap-vertical: 22px;
@table-cart-row-left-width: 60%;
@table-cart-spinbox-width: 120px;
@table-cart-price-width: 164px;
@table-cart-gift-white-space: 15px;

.table-cart {
    display: flex;
    flex-direction: column;
    margin-bottom: @margin-gap;

    &__row {
        display: flex;
        flex-direction: column;

        border-bottom: 3px solid @color-border;

        @media @query-md {
            flex-direction: row;
        }

        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            @media @query-md {
                width: @table-cart-row-left-width;
            }
        }

        &__right {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            @media @query-md {
                width: calc(~"@{calc-base} - @{table-cart-row-left-width}");
            }
        }
    }

    &__cell {
        display: flex;

        &__number {
            color: @color-gray-dark;
            font-size: 22px;
            font-weight: 700;
        }

        &__image {
            display: inline-block;
            position: relative;
            height: @table-cart-image-size-mobile + 2*@table-cart-image-gap-vertical;
            width: @table-cart-image-size-mobile + 2*@table-cart-image-gap;

            @media @query-xl {
                height: @table-cart-image-size + 2*@table-cart-image-gap-vertical;
                width: @table-cart-image-size + 2*@table-cart-image-gap;
            }

            img {
                .center-image();
                padding: @table-cart-image-gap @table-cart-image-gap-vertical;

                &:hover {
                    box-shadow: @shadow;
                }
            }
        }

        &__name {
            flex: 1;

            @media @query-lg {
                padding-right: @table-cart-item-gap;
            }

            &__title {
                display: block;
                margin-bottom: 6px;

                color: @color-base;
                font-size: @font-size;
                text-decoration: none;

                &:hover {
                    font-weight: 700;
                }
            }

            &__text {
                display: block;
                margin-bottom: 6px;

                color: @color-brown-light;
                font-size: @font-size-small;
            }
        }

        &__spinbox {
            text-align: center;
            width: @table-cart-spinbox-width;
            margin-bottom: 10px;
            padding-right: @table-cart-item-gap;

            @media @query-md {
                margin-bottom: -20px;
            }

            &__link {
                display: block;
                margin-top: 8px;

                color: @color-brown-light;
                font-size: @font-size-small;
                text-decoration: underline;
            }
        }

        &__price {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            width: @table-cart-price-width;
            text-align: right;

            &__primary {
                color: @color-base;
                font-size: @font-size;
                font-weight: 700;
            }

            &__line-through {
                padding-right: 5px;
                padding-top: 2px;

                color: @color-brown-light;
                font-size: @font-size-small;
                text-decoration: line-through;
            }
        }
    }

    &__gifts {
        padding: @table-cart-gift-white-space 0;

        border-bottom: 3px solid @color-border;

        &--promo {
            margin-top: @table-cart-gift-white-space;
            padding: 0;
            
            border-bottom: 0;
        }

        &__item {
            margin-bottom: @table-cart-gift-white-space;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
