.table-main {

    thead {
        tr {
            background: @color-light;
        }
    }

    tr {
        background: @color-f;

        &:nth-child(2n) {
            background: #f7f7f7;
        }
    }

    td, th {
        padding: 10px;
    }

    th {
        font-weight: bold;
    }
}
