parameters:
    database_host: postgres
    database_port: ~
    database_name: shopsys
    database_user: root
    database_password: root

    migration_database_host: 10.10.12.249
    migration_database_port: ~
    migration_database_name: dbsklad
    migration_database_user: root
    migration_database_password: sQTn8KnpAztVMu8Z

    elasticsearch_host: elasticsearch:9200

    redis_host: redis

    mailer_transport: smtp
    mailer_host: smtp-server
    mailer_user: ~
    mailer_password: ~
    mailer_disable_delivery: false
    mailer_master_email_address: no-reply@shopsys.com
    mailer_delivery_whitelist: [/@shopsys\.com$/]

    secret: ThisTokenIsNotSoSecretChangeIt
    trusted_proxies:
        - "127.0.0.1"
    env(REDIS_PREFIX): ''
    env(ELASTIC_SEARCH_INDEX_PREFIX): ''

    gopay.config:
        cs:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: CS
        sk:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: SK
        isProductionMode: false
        scope: payment-all
        timeout: 30

    # testing credentials
    payPalClientId: AYSq3RDGsmBLJE-otTkBtM-jBRd1TCQwFf9RGfwddNXWz0uFU9ztymylOhRS
    payPalClientSecret: EGnHDxD_qRPdaLdZz8iCr8N7_MzF-YHPTkjs6NKYQvQSBngp4PTTVWkPZRbL

    transfer_enabled: true
    transfer_host: 'http://webappa7.azurewebsites.net'
    transfer_username: 'bushmantest_vo'
    transfer_password: 'BusLpk*155heslo'

    # testing credentials
    balikobot:
        username: testtestcztest
        apiKey: wqhYdkvv

    instagram:
        quality: standard_resolution
        limit: 8
        cs:
            accessToken: 16014813377.4a1086a.7204e10003754030958ee8fb8572bd01
            link: https://www.instagram.com/bushmanoriginal/
        sk:
            accessToken: 16014813377.4a1086a.7204e10003754030958ee8fb8572bd01
            link: https://www.instagram.com/bushmanoriginalsk/
        de:
            accessToken: 16014813377.4a1086a.7204e10003754030958ee8fb8572bd01
            link: https://www.instagram.com/bushmangermany/

    mall_apiKey: xxx

    env(S3_API_HOST): ''
    env(S3_API_USERNAME): ''
    env(S3_API_PASSWORD): ''
    env(S3_API_BUCKET_NAME): ''

    migrate_product_images_dir: 'migration-data/product-images'


    googleApiKey: AIzaSyDI31ip9EdLYk2bm_mcpmYDqi8hbqb5GbU
