apiVersion: batch/v1beta1
kind: CronJob
metadata:
    name: cron-executor-default
spec:
    concurrencyPolicy: Forbid
    failedJobsHistoryLimit: 2
    successfulJobsHistoryLimit: 1
    startingDeadlineSeconds: 600 # Prevents disable creating cron jobs
    schedule: "1/5 * * * *"
    jobTemplate:
        spec:
            backoffLimit: 0
            activeDeadlineSeconds: 86400
            template:
                spec:
                    volumes:
                    -   name: source-codes
                        emptyDir: {}
                    -   name: domains-urls
                        configMap:
                            name: domains-urls
                    -   name: parameters
                        configMap:
                            name: parameters
                    initContainers:
                    -   name: copy-source-codes-to-volume
                        image: ~
                        command: ["sh", "-c", "cp -r /var/www/html/. /tmp/source-codes"]
                        securityContext:
                            runAsUser: 33
                        volumeMounts:
                        -   name: source-codes
                            mountPath: /tmp/source-codes
                    -   name: upgrade-application
                        image: ~
                        command: ["sh", "-c", "cd /tmp/source-codes && ./phing grunt"]
                        securityContext:
                            runAsUser: 33
                        volumeMounts:
                        -   name: source-codes
                            mountPath: /tmp/source-codes
                        -   name: domains-urls
                            mountPath: /var/www/html/app/config/domains_urls.yml
                            subPath: domains_urls.yml
                        -   name: parameters
                            mountPath: /var/www/html/app/config/parameters.yml
                            subPath: parameters.yml
                        env:
                        -   name: S3_API_HOST
                            value: ~
                        -   name: S3_API_USERNAME
                            value: ~
                        -   name: S3_API_PASSWORD
                            value: ~
                        -   name: S3_API_BUCKET_NAME
                            value: ~
                        -   name: REDIS_PREFIX
                            value: ~
                        -   name: ELASTIC_SEARCH_INDEX_PREFIX
                            value: ~
                    containers:
                    -   name: cron-executor-default
                        image: ~
                        args:
                        -   /bin/sh
                        -   -c
                        -   ./phing cron-default
                        securityContext:
                            runAsUser: 33
                        imagePullPolicy: Always
                        workingDir: /var/www/html
                        volumeMounts:
                        -   name: source-codes
                            mountPath: /var/www/html
                        -   name: domains-urls
                            mountPath: /var/www/html/app/config/domains_urls.yml
                            subPath: domains_urls.yml
                        -   name: parameters
                            mountPath: /var/www/html/app/config/parameters.yml
                            subPath: parameters.yml
                        env:
                        -   name: S3_API_HOST
                            value: ~
                        -   name: S3_API_USERNAME
                            value: ~
                        -   name: S3_API_PASSWORD
                            value: ~
                        -   name: S3_API_BUCKET_NAME
                            value: ~
                        -   name: REDIS_PREFIX
                            value: ~
                        -   name: ELASTIC_SEARCH_INDEX_PREFIX
                            value: ~
                    restartPolicy: Never
                    imagePullSecrets:
                    -   name: dockerhub
