{% macro list(product, classAddition) %}

    {% if product.flags %}
        <div class="in-flag dont-print {{ classAddition }}">
            {% for productFlag in product.flags %}

                <span class="in-flag__item
                    {# TODO PRG: get some condition here for long text #}
                    {% if productFlag.name|length > 7 %} in-flag__item--smaller-text js-not-implemented-yet{% endif %}" style="background-color: {{ productFlag.rgbColor }};">
                    {{ productFlag.name }}
                </span>
            {% endfor %}
        </div>
    {% endif %}

{% endmacro %}
