{% block youtube_videos_row %}
    {% import _self as self %}
    <div class="js-youtube-videos-list form-line__line">
        {{ form_errors(form) }}
        <div id="{{ form.vars.id }}" class="js-youtube-videos-list">
            {% for key, productVideo in form %}
                <div class="form-line">
                    <div class="form-line__item">
                        {{ form_widget(productVideo) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
