<ul class="menu dont-print">
    {% for category in categories %}
        <li class="menu__item">
            <a class="menu__item__link underline" href="{{ url('front_product_list', { id: category.id }) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
