<div class="search" id="js-search-autocomplete">
    <form action="{{ url('front_product_search') }}" method="get">
        <div class="search__form">
            <div class="search__form__input">
                <input
                    type="text"
                    name="{{ SEARCH_TEXT_PARAMETER }}"
                    value="{{ searchText|escape('html_attr') }}"
                    placeholder="{{ 'Napište co hledáte'|trans }}"
                    class="input search__input"
                    id="luigis-autocomplete"
                    autocomplete="off"
                />
                <script src="https://cdn.luigisbox.com/autocomplete.js" async></script>
            </div>
            <div class="search__form__submit js-search-autocomplete-submit">
                <button class="search__form__submit__button btn-no-style" type="submit">
                    {% include 'Front/Svg/search.svg' %}
                </button>
            </div>
        </div>
    </form>
</div>
