@box-breadcrumb-padding-horizontal: 18px;
@box-breadcrumb-padding-vertical: 15px;
@box-breadcrumb-padding-vertical-small: 5px;
@box-breadcrumb-font-size: @font-size-small;
@box-breadcrumb-top-move: -7px;
@box-breadcrumb-top-move-small: -2px;
@box-breadcrumb-bottom-gap: 25px;

.box-breadcrumb {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: @box-breadcrumb-bottom-gap;
    z-index: @z-index-above;

    font-size: 0;

    .box-detail & {
        padding-left: 2px;
        margin-bottom: 8px;

        @media @query-md {
            text-align: left;
        }
    }

    &__item {
        margin-bottom: @box-breadcrumb-padding-vertical-small;
        margin-right: @box-breadcrumb-padding-horizontal;

        color: @color-primary;
        font-size: @box-breadcrumb-font-size;
        text-decoration: underline;

        @media @query-lg {
            margin-bottom: @box-breadcrumb-padding-vertical;
        }

        &--current {
            color: @color-base;
            text-decoration: none;
        }

        &--separator {
            position: relative;
            margin: 0 @box-breadcrumb-padding-horizontal 0 0;
            top: @box-breadcrumb-top-move-small;

            text-decoration: none;

            @media @query-lg {
                top: @box-breadcrumb-top-move;
            }

            .svg {
                font-size: 16px;
                color: @color-primary;
            }
        }
    }
}
