.box-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @media @query-xl {
        flex-direction: row;
    }

    .btn {
        width: 195px;
        margin: 12px
    }
}