@box-chooser-item-padding: 20px;
@box-chooser-item-padding-small: 15px 10px;
@box-chooser-item-gap: 10px;
@box-chooser-item-gap-small: 5px;

@box-chooser-check-width: 20px;
@box-chooser-image-width: 40px;
@box-chooser-image-width-small: 30px;
@box-chooser-image-height: 20px;
@box-chooser-price-width: 90px;
@box-chooser-price-width-mobile: 80px;
@box-chooser-text-line-height: 18px;
@box-chooser-bottom-gap: 10px;

@box-choose-item-check-width: 30px;

.box-chooser {
    margin-bottom: @box-chooser-bottom-gap;

    &__title {
        line-height: 30px;
        margin-bottom: 16px;

        font-size: 18px;
        text-align: center;

        @media @query-lg {
            font-size: 21px;
            text-align: left;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: @box-chooser-item-padding-small;
        margin-bottom: 5px;
        
        background-color: @color-f;
        border-radius: 4px;
        cursor: pointer;

        @media @query-lg {
            padding: @box-chooser-item-padding;
        }

        &--inactive {
            cursor: no-drop;
        }

        &__check {
            display: block;

            font-size: 0;
        }

        &__image {
            height: @box-chooser-image-height;
            width: @box-chooser-image-width-small;
            margin-right: @box-chooser-item-gap-small;
            position: relative;

            @media @query-lg {
                margin-right: @box-chooser-item-gap;
                width: @box-chooser-image-width;
            }

            img {
                .center-image();
            }
        }

        &__content {
            display: flex;
            align-items: center;
            width: calc(~"@{calc-base} - @{box-choose-item-check-width}");
        }

        &__title {
            flex: 1;
            padding-right: @box-chooser-item-gap-small;
            line-height: @box-chooser-text-line-height;

            font-size: @font-size-mobile;
            font-weight: 400;

            @media @query-lg {
                padding-right: @box-chooser-item-gap;

                font-size: @font-size;
            }

            .box-chooser__item--active & {
                font-weight: 800;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }

        &__description {
            display: block;
            line-height: @box-chooser-text-line-height;
            opacity: 0.5;

            color: @color-blue-medium;
            font-size: @font-size-mobile - 1px;
            font-family: @font-alt;

            @media @query-lg {
                display: inline;

                font-size: @font-size-extra-small;
            }
        }

        &__pickup-button {
            font-weight: 700;
        }

        &__price {
            width: @box-chooser-price-width-mobile;
            margin-left: 0;
            text-align: right;

            color: @color-price;
            font-family: @font-alt;
            font-size: @font-size-mobile;
            font-weight: 800;

            @media @query-lg {
                width: @box-chooser-price-width;

                font-size: @font-size + 1px;
            }

            .box-chooser__item--active & {
                color: @color-price-main;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }
    }

    &__sub-selection {
        padding-left: 20px;
    }

    &__more {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        cursor: pointer;
        border-radius: @radius;
        transition: @transition;

        &__text {
            margin: 0 10px 0 0;

            text-decoration: underline;
            font-size: @font-size-extra-small + 1px;
            font-family: @font-alt;

            &__show {
                display: block;
            }

            &__hide {
                display: none;
            }
        }

        .svg {
            transition: @transition;
            font-size: 8px;
            color: @color-turquoise;
        }

        &.active {
            .box-chooser__more__text__show {
                display: none;
            }

            .box-chooser__more__text__hide {
                display: block;
            }

            .svg {
                transform: rotate(180deg);
            }
        }
    }
}
