@box-chooser-item-padding: 20px;

@box-chooser-check-width: 20px;
@box-chooser-image-width: 40px;
@box-chooser-image-height: 30px;
@box-chooser-price-width: 90px;
@box-chooser-title-width: ~"calc(100% - @{box-chooser-check-width} - @{box-chooser-image-width} - @{box-chooser-price-width} - 2 * @{box-chooser-item-padding})";

@box-chooser-bottom-gap: 10px;

@box-choose-item-check-width: 30px;

@box-chooser-description-color: #1D4063;

.box-chooser {
    margin-bottom: @box-chooser-bottom-gap;

    &__title {
        line-height: 30px;
        margin-bottom: 16px;

        font-size: 21px;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: @box-chooser-item-padding;
        margin-bottom: 5px;
        
        background-color: @color-f;
        border-radius: 4px;
        cursor: pointer;

        &--inactive {
            cursor: no-drop;
        }

        &__check {
            display: block;

            font-size: 0;
        }

        &__image {
            height: @box-chooser-image-height;
            width: @box-chooser-image-width;
            position: relative;
            margin-left: 5px;
            line-height: 40px;

            img {
                .center-image();
            }
        }

        &__content {
            width: calc(~"@{calc-base} - @{box-choose-item-check-width}");
        }

        &__title {
            padding-right: 10px;
            line-height: 18px;

            font-size: 15px;
            font-weight: 400;

            .box-chooser__item--active & {
                font-weight: 800;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }

        &__description {
            line-height: 18px;
            padding-right: 10px;
            opacity: 0.5;

            color: @box-chooser-description-color;
            font-size: @font-size-extra-small;
            font-family: @font-alt;
        }

        &__pickup-button {
            font-weight: 700;
        }

        &__price {
            width: @box-chooser-price-width;
            padding-left: 10px;
            margin-left: 0;
            text-align: right;

            color: @color-price;
            font-family: @font-alt;
            font-size: @font-size + 1px;
            font-weight: 800;

            .box-chooser__item--active & {
                color: @color-price-main;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }
    }

    &__sub-selection {
        padding-left: 20px;
    }

    &__more {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        cursor: pointer;
        border-radius: @radius;
        transition: @transition;

        &__text {
            margin: 0 10px 0 0;

            text-decoration: underline;
            font-size: @font-size-extra-small + 1px;
            font-family: @font-alt;

            &__show {
                display: block;
            }

            &__hide {
                display: none;
            }
        }

        .svg {
            transition: @transition;
            font-size: 8px;
            color: @color-turquoise;
        }

        &.active {
            .box-chooser__more__text__show {
                display: none;
            }

            .box-chooser__more__text__hide {
                display: block;
            }

            .svg {
                transform: rotate(180deg);
            }
        }
    }
}
