@box-detail-add-price-font-size-main: 36px;
@box-detial-add-item-gap: 20px;

@box-detail-add-message-side-margin: 40px;

@box-detail-add-action-spinbox-width: 108px;

.box-detail-add {
    &__message {
        display: flex;
        align-items: center;
        margin: -20px 0 @box-detial-add-item-gap;
        width: 100%;
        padding: 10px 40px;
        line-height: 18px; 

        border-radius: @radius;
        background-color: @color-f;
        font-family: @font-alt;
        font-weight: 600;
        font-size: @font-size + 1px;

        @media @query-vl {
            width: calc(~"100% + (@{box-detail-add-message-side-margin} * 2)");
            margin: -20px -@box-detail-add-message-side-margin (@box-detial-add-item-gap + 10px);
        }

        &--variant {
            margin: 0 0 20px 0;
        }

        &__icon {
            margin-right: 10px;
            margin-bottom: -7px;
        }
    }

    &__prices {
        margin-bottom: @box-detial-add-item-gap;

        @media @query-md {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: flex-end;
        }

        @media @query-vl {
            margin-bottom: @box-detial-add-item-gap + 10px;
        }

        &__item {
            margin-bottom: 10px;

            color: @color-price;
            font-weight: 400;
            font-size: @font-size-big;

            &--main {
                padding-right: 12px;
                line-height: 25px;

                font-weight: 700;
                font-size: @box-detail-add-price-font-size-main;
                color: @color-price-main;
            }

            &--old {
                padding-right: 13px;
                line-height: 12px;

                color: @color-price-old;
                text-decoration: line-through;
            }

            &--save {
                display: inline-block;
                padding: 0 7px;
                line-height: 18px;

                font-family: @font-alt;
                font-size: 10px + 1px;
                font-weight: 700;
                text-transform: uppercase;
                color: @color-f;
                background-color: @color-price-discount;
                border-radius: @radius-very-small;
            }

            &--info {
                width: 100%;
                line-height: 18px;
                margin-bottom: 0;

                font-size: @font-size-extra-small + 1px;
                font-family: @font-alt;
            }
        }
    }

    &__action {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: @box-detial-add-item-gap;

        @media @query-md {
            flex-direction: row;
        }

        @media @query-vl {
            margin-bottom: @box-detial-add-item-gap + 10px;
        }

        &__message {
            width: 100%;
        }

        &__spinbox {
            width: @box-detail-add-action-spinbox-width;
            margin-bottom: @box-detial-add-item-gap;

            @media @query-md {
                margin-bottom: 0;
            }
        }

        &__availability {
            display: flex;
            width: calc(~"100% - @{box-detail-add-action-spinbox-width}");
            align-items: center;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media @query-md {
            margin-bottom: @box-detial-add-item-gap;
            margin-left: -@box-detial-add-item-gap;
        }

        &--small-gap {
            @media @query-md {
                margin-bottom: 10px;
            }
        }

        &__item {
            width: 100%;
            padding: 0 10px;
            margin-bottom: @box-detial-add-item-gap;

            font-size: 16px;

            @media @query-md {
                width: calc(~"50% - @{box-detial-add-item-gap}");
                margin-left: @box-detial-add-item-gap;
                margin-bottom: 0;
            }
        }

        &__item-variant {
            margin-bottom: 15px;
            width: 100%;

            font-size: 16px;

            @media @query-sm {
                width: auto;
            }

            @media @query-md {
                margin-bottom: 0;
            }

            &:first-child {
                @media @query-sm {
                    margin-right: 15px;
                }

                @media @query-md {
                    margin-left: @box-detial-add-item-gap;
                }

                @media @query-vl {
                    margin-left: auto;
                }
            }

            &--payments {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__payments {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: @font-size + 1px;
        font-family: @font-alt;

        &--variant {
            font-size: @font-size-extra-small + 1px;

            @media @query-vl {
                justify-content: flex-end;
            }
        }

        &__image {
            margin-right: @box-detial-add-item-gap;

            .box-detail-add__payments--variant & {
                height: 30px;
            }
        }
    }
}
