@box-filter-padding: 17px;
@box-filter-title-bottom-gap: 20px;
@box-filter-section-gap: 50px;
@box-filter-width: @box-list-panel-width;
@box-filter-gap: @box-list-panel-gap;
@box-filter-selected-cross-size: 12px;
@box-filter-choice-arrow-size: 11px;
@box-filter-choice-border-color: rgba(48,176,213,0.3);

.box-filter {
    width: @box-filter-width;
    margin-right: @box-filter-gap;
    margin-bottom: @margin-gap;

    background-color: @color-f;

    @media @query-vl {
        background-color: transparent;
    }

    &.active-mobile {
        width: 100%;
        margin-right: 0;
    }

    &__top {
        margin-bottom: 20px;
        padding: 3px;

        background: linear-gradient(90deg, rgba(39,125,168,1) 0%, rgba(88,182,167,1) 33%, rgba(155,201,98,1) 66%, rgba(93,169,75,1) 100%);
        border-radius: @radius;
    }

    &__bottom {
        background-color: @color-box;
        border-radius: @radius;
    }

    &__title {
        display: block;
        margin-bottom: @box-filter-title-bottom-gap;
        line-height: 18px;

        color: @color-base;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.3px;
    }

    &__selected {
        display: flex;
        flex-direction: column;
        padding: 22px @box-filter-padding @box-filter-padding;

        background-color: @color-f;
        border-radius: @radius - 2px;

        &__item {
            position: relative;
            margin-bottom: 10px;
            padding: 8px 10px;
            line-height: 18px;

            font-size: @font-size-small;
            border-radius: @radius;
            color: @color-base;
            background-color: @color-light;

            .svg {
                position: absolute;
                right: 10px;
                top: calc(~"50% - @{box-filter-selected-cross-size}/2");

                cursor: pointer;
                font-size: @box-filter-selected-cross-size;
                color: @color-turquoise;
            }
        }

        &__remove {
            margin-bottom: 8px;
        }
    }

    &__choice {
        border-top: 1px solid @box-filter-choice-border-color;

        &--without-border {
            border-top: 0;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 18px;
            padding: @box-filter-padding;

            color: @color-base;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.3px;
            cursor: pointer;

            &.open {
                .svg {
                    transform: rotate(180deg);
                }
            }

            .svg {
                height: @box-filter-choice-arrow-size;

                font-size: @box-filter-choice-arrow-size;
                color: @color-turquoise;
                transition: @transition;
            }
        }

        &__content {
            padding: 0 @box-filter-padding;

            &__more {
                padding-bottom: 15px;

                cursor: pointer;
                text-decoration: underline;
                font-size: @font-size-extra-small + 1px;
                font-family: @font-alt;
            }
        }
    }

    &__price {
        padding-bottom: 20px;
        padding-top: 4px;
    }

    &__action {
        display: none;
        text-align: center;
    }
}
