@box-info-row-bg: #e5e9ec;
@box-info-row-title-bg: #cdd5da;
@box-info-row-font-size: @font-size-extra-small + 1px;
@box-info-row-bottom-gap: 20px;
@box-info-row-min-height: 34px;
@box-info-row-padding: 20px;
@box-info-row-padding-horizontal: 12px;

.box-info-row {
    position: relative;
    display: block;
    margin-bottom: @box-info-row-bottom-gap;
    min-height: @box-info-row-min-height;
    line-height: 16px;
    padding: @box-info-row-padding-horizontal @box-info-row-padding;
    text-align: left;

    background-color: @box-info-row-bg;
    border-radius: @radius;
    color: @color-base;
    font-size: @box-info-row-font-size;
    font-weight: 500;
    font-family: @font-alt;

    h3 {
        display: inline-block;
        padding: @box-info-row-padding-horizontal @box-info-row-padding;
        margin-bottom: -@box-info-row-padding-horizontal;
        margin-top: -@box-info-row-padding-horizontal;
        margin-left: -@box-info-row-padding;
        margin-right: @box-info-row-padding;
        line-height: 16px;

        background-color: @box-info-row-title-bg;
        font-weight: 700;
        font-family: @font-alt;
        font-size: @box-info-row-font-size;
        border-radius: @radius 0 0 @radius;
    }

    a {
        color: @color-base;
        font-weight: 700;
    }

    p {
        margin-bottom: 0;
    }
}
