@box-info-row-bg: @color-gray;
@box-info-row-font-size: 13px;
@box-info-row-bottom-gap: 20px;
@box-info-row-min-height: 34px;
@box-info-row-padding: 40px;
@box-info-row-close-button-size: 14px;

.box-info-row {
    position: relative;
    display: block;
    margin-bottom: @box-info-row-bottom-gap;
    min-height: @box-info-row-min-height;
    line-height: 20px;
    padding: 10px @box-info-row-padding;
    text-align: center;

    background-color: @box-info-row-bg;
    border-radius: @radius;
    color: @color-f;
    font-size: @box-info-row-font-size;
    font-weight: 600;

    @media @query-vl {
        line-height: @box-info-row-min-height;
        padding: 0 @box-info-row-padding;
    }

    strong {
        color: @color-base;
        font-size: 14px;
        font-weight: 700;
    }

    &__close {
        position: absolute;
        right: @box-info-row-close-button-size;
        top: 50%;
        transform: translateY(-50%);
        height: @box-info-row-close-button-size;
        line-height: 0;

        cursor: pointer;
        color: @color-f;
        font-size: @box-info-row-close-button-size;

        &:hover {
            .svg {
                color: @color-base;
            }
        }
    }
}
