@box-order-cart-width: 470px;
@box-order-cart-width-small: 390px; 
@box-order-cart-gap: 70px;
@box-order-cart-gap-small: 20px;
@box-order-info-transport-width: 176px;
@box-order-info-transport-height: 55px;
@box-order-gap-small: 20px;
@box-order-gap: 40px;
@box-order-additional-gap: 50px;
@box-order-info-content-width: 60%; 
@box-order-registration-message-color: #1d4063;
@box-order-info-row-item-gap: 12px;

.box-order {
    margin-bottom: @box-order-gap-small;

    @media @query-vl {
        margin-bottom: @box-order-gap;
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media @query-vl {
            flex-direction: row;
        }
    }

    &__message {
        width: 100%;
        margin-bottom: 30px;
    }

    &__info {
        width: 100%;
        padding: 20px;
        margin-bottom: auto;

        background-color: @color-light;
        border-radius: @radius;

        @media @query-lg {
            padding: 40px 30px 30px;
        }
        
        @media @query-vl {
            width: calc(~"100% - @{box-order-cart-width-small}");
        }

        @media @query-xl {
            width: calc(~"100% - @{box-order-cart-width}");
        }

        &--delivery-details {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 10px;
            
            font-weight: 400;
            color: @color-primary;

            @media @query-lg {
                margin-top: 30px;
            }
        }

        &__item {
            margin-bottom: @box-order-gap-small;

            @media @query-vl {
                margin-bottom: @box-order-gap;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -@box-order-info-row-item-gap;

            &__item {
                width: 100%;
                padding-left: @box-order-info-row-item-gap;

                &--30 {
                    width: 100%;
                    
                    @media @query-sm {
                        width: 30%;
                    }
                }

                &--50 {
                    width: 100%;
                    
                    @media @query-sm {
                        width: 50%;
                    }
                }

                &--70 {
                    width: 100%;

                    @media @query-sm {
                        width: 70%;
                    }
                }
            }
        }

        &__content {
            width: 100%;
            margin-bottom: 40px;

            @media @query-lg {
                width: @box-order-info-content-width;
            }

            &--full-width-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }

            &--full-width {
                width: 100%;
            }

            &--without-gap {
                margin-bottom: 0;
            }

            &__left {
                width: 100%;

                @media @query-lg {
                    width: @box-order-info-content-width;
                }
            }

            &__right {
                width: 100%;

                @media @query-lg {
                    padding-left: 30px;
                    width: calc(~"100% - @{box-order-info-content-width}");
                }
            }
        }
    }

    &__additional {
        width: 100%;
        padding: 20px 15px 10px 15px;

        margin-bottom: 20px;

        @media @query-md {
            padding: 67px @box-order-additional-gap 38px @box-order-additional-gap;
        }

        @media @query-vl {
            width: calc(~"100% - @{box-order-cart-width-small}")
        }

        @media @query-xl {
            width: calc(~"100% - @{box-order-cart-width}")
        }

        &__title {
            display: block;
            text-align: center;
            margin-bottom: 20px; 

            color: @color-base;
            font-family: @font-alt;
            font-size: 24px + 1px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__cart {
        margin-top: 40px;

        @media @query-vl {
            margin-top: 0;
            width: @box-order-cart-width-small;
            padding-left: @box-order-cart-gap-small;
        }

        @media @query-xl {
            width: @box-order-cart-width;
            padding-left: @box-order-cart-gap;
        }
    }

    &__registration {
        width: 100%;

        font-size: @font-size-small;

        &__message {
            display: block;
            padding: 6px 10px;
            margin-bottom: 11px;
            text-align: center;

            border-radius: @radius;
            background-color: @color-yellow;
            font-size: @font-size-extra-small + 1px;
            font-family: @font-alt;
            text-decoration: none;
            transition: @transition;
            color: @box-order-registration-message-color;

            &--clickable {
                &:hover {
                    background-color: darken(@color-yellow, 10%);
                    color: @box-order-registration-message-color;
                }
            }

            span {
                text-decoration: underline;
            }
        }
    }
}
