@box-order-type-item-gap: 38px;

.box-order-type {
    display: flex;
    flex-direction: row;
    margin-bottom: 9px;

    @media @query-md {
        margin-bottom: 6px;
    }

    &__list {
        .clearfix();
        display: flex;
        flex-direction: row;
    
        &__item {
            padding: 5px 10px;
    
            color: @color-primary;
            font-weight: 600;
            text-decoration: underline;
            font-size: @font-size-small;
    
            @media @query-md {
                padding: 5px 15px;

                font-size: 16px;
            }
    
            &.active {
                margin-top: 0;
                
                color: @color-base;
                background-color: @color-box;
                text-decoration: none;
                border-radius: @radius;
            }
        }
    }
}
