@box-preview-bg: @color-f;
@box-preview-width: @box-order-cart-width;
@box-preview-gap: 90px;

@box-preview-coupone-code-button-width: 92px;

.box-preview {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__action {
        background-attachment: @color-f;
    }

    &__coupone {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__title {
            line-height: 18px;
            margin-right: 20px;

            font-size: 16px;
            font-weight: 700;
            color: @color-base;
            text-transform: uppercase;
        }

        &__code {
            display: flex;
            flex-direction: row;

            &__input {
                width: calc(~"100% - @{box-preview-coupone-code-button-width}");
                
                border-right: 0;
                border-radius: @radius-small 0 0 @radius-small;
            }

            &__button {
                width: @box-preview-coupone-code-button-width;

                border-radius: 0 @radius-small @radius-small 0;
            }
        }
    }

    &__conditions {
        text-align: center;
        line-height: 24px;
        margin-bottom: 20px;

        color: @color-base;
        font-size: @font-size-small + 1px;
        font-family: @font-alt;
    }
}
