@box-preview-bg: @color-f;
@box-preview-width: @box-order-cart-width;
@box-preview-gap: 90px;

.box-preview {
    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @media @query-lg {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 20px;

        @media @query-lg {
            margin-bottom: 0;
        }

        &--total {
            @media @query-lg {
                width: 450px;
                padding-left: 20px;
            }
        }

        &__wrap {
            padding: 3px;
            margin-bottom: 22px;

            border: 0;
            border-radius: @radius;
            background: linear-gradient(135deg, rgba(19,108,163,1) 0%, rgba(75,175,193,1) 35%, rgba(120,216,108,1) 63%, rgba(105,190,82,1) 100%);
        }
        
        &__in {
            padding: 17px 20px;

            background-color: @color-f;
            border-radius: @radius - 2px;
        }

        &__title {
            margin: 20px 0 10px;
            line-height: 20px;

            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__action {
        background-color: @color-f;
    }

    &__coupone {
        display: flex;
        flex-direction: column;

        @media @query-md {
            flex-direction: row;
            align-items: center;
        }

        &__title {
            line-height: 18px;
            margin-right: 20px;
            margin-bottom: 10px;

            font-size: 16px;
            font-weight: 700;
            color: @color-base;
            text-transform: uppercase;

            @media @query-md {
                margin-bottom: 0;
            }
        }

        &__code {
            display: flex;
            flex-direction: row;
            padding: 5px;

            border: 1px solid @color-border-dark;
            border-radius: @radius-medium;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

            &__input {
                height: 31px;
                padding-top: 0;

                border: 0;
                box-shadow: none;

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    opacity: 1;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    opacity: 1;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                    opacity: 1;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    opacity: 1;
                }

                &:focus {
                    padding-top: 0;
                    
                    border: 0;
                }
            }
        }
    }

    &__conditions {
        text-align: center;
        line-height: 24px;
        margin-bottom: 20px;

        color: @color-base;
        font-size: @font-size-small + 1px;
        font-family: @font-alt;
    }
}
