@box-price-slider-inputs-gap: 8px;

@box-price-slider-form-input-width: 65px;
@box-price-slider-form-input-height: 36px;

.box-price-slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__text {
                padding-right: @box-price-slider-inputs-gap;
            }

            &__currency {
                padding-left: @box-price-slider-inputs-gap;
            }

            input {
                padding: 0 3px;
                text-align: center;
                width: @box-price-slider-form-input-width;
                max-width: @box-price-slider-form-input-width;
                height: @box-price-slider-form-input-height;
                
                font-size: @font-size;
                font-family: @font-base;
                font-weight: 500;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: @color-base;
                    opacity: 1; /* Firefox */
                    font-weight: 400;
                }
    
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: @color-base;
                    font-weight: 400;
                }
    
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: @color-base;
                    font-weight: 400;
                }

                &:focus {
                    padding: 0 3px;
                }
            }

            &--left {
                padding-right: @box-price-slider-inputs-gap;
            }
        }
    }
}
