@box-progress-steps-count: 5;
@box-progress-padding-horizontal: 17px;
@box-progress-padding-vertical: 15px;
@box-progress-item-width: 266px;
@box-progress-item-height: 50px;
@box-progress-item-gap: 30px;
@box-progress-item-active-border-size: 3px;
@box-progress-item-done-background: #ebf6ea;

.box-progress {
    .reset-ul();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: @box-progress-item-gap;

    @media @query-lg {
        flex-direction: row;
        overflow: visible;
        margin-left: -@box-progress-item-gap;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: @box-progress-item-active-border-size;
        line-height: @font-size-big;

        font-size: @font-size;
        color: @color-base;
        background-color: @color-light;

        &:first-child {
            border-radius: @radius @radius 0 0;

            @media @query-lg {
                border-radius: @radius;
            }

            .box-progress__item__in {
                border-radius: @radius-medium @radius-medium 0 0;

                @media @query-lg {
                    border-radius: @radius-medium;
                }
            }
        }

        &:last-child {
            border-radius: 0 0 @radius @radius;

            @media @query-lg {
                border-radius: @radius;
            }

            .box-progress__item__in {
                border-radius: 0 0 @radius-medium @radius-medium;

                @media @query-lg {
                    border-radius: @radius-medium;
                }
            }
        }

        @media @query-lg {
            justify-content: center;
            width: @box-progress-item-width;
            height: @box-progress-item-height;
            margin-left: @box-progress-item-gap;

            border-radius: @radius;
            font-size: @font-size-big;
        }

        &--active {
            font-weight: 700;
            background: linear-gradient(90deg, #277da8 0%, #58b6a7 33%, #9bc962 66%, #5da94b 100%);

            @media @query-lg {
                border-radius: @radius;
            }
        }

        &--done {
            font-weight: 700;
            background-color: @box-progress-item-done-background;
            color: @color-add;
        }

        &__success {
            margin-right: 10px;
            height: 15px;
            display: flex;
            align-items: center;
        }

        &__in {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 15px - @box-progress-item-active-border-size 11px - @box-progress-item-active-border-size;

            background-color: @color-light;

            @media @query-lg {
                justify-content: center;
                padding: 11px - @box-progress-item-active-border-size;

                border-radius: @radius - 2px;
            }

            .box-progress__item--active & {
                background-color: @color-f;
            }

            .box-progress__item--done & {
                background-color: @box-progress-item-done-background;
            }
        }
    }
}
