@header-all-categories-link-width: 160px;
@header-all-categories-link-height: @menu-height;

.all-categories {
    width: @header-all-categories-link-width;
    position: relative;
    cursor: pointer;

    &__title {
        position: relative;
        display: block;
        height: @header-all-categories-link-height;
        line-height: @header-all-categories-link-height;

        color: @color-brown-light-2;
        font-size: 13px;
        text-transform: uppercase;
    }

    &__arrow {
        .svg;
        .svg-arrow;

        position: absolute;
        right: -20px;
        top: 7px;
    }

    &:hover {
        background: @color-gray;
    }

    &__categories-links {
        display: none;
        position: absolute;
        z-index: 500;
        right: 0;

        .all-categories:hover & {
            display: block;
        }
    }
}
