@header-all-categories-link-width: 180px;
@header-all-categories-link-height: @menu-height;
@header-all-categories-arrow-size: @arrow-size;
@header-all-categories-submenu-top: 20px;
@header-all-categories-submenu-width: 1180px;
@header-all-categories-left-width: 40%;

.all-categories {
    width: @header-all-categories-link-width;
    position: relative;
    margin-top: 20px;

    cursor: pointer;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;

    @media @query-vl {
        margin-top: 2px;
    }

    &.open {
        margin-top: 13px;
        margin-bottom: -@header-all-categories-submenu-top;
        padding-top: 7px;
        padding-bottom: @header-all-categories-submenu-top;

        background: @color-gray;

        @media @query-vl {
            margin-top: -5px;
        }
    }

    &__title {
        position: relative;
        display: block;
        height: @header-all-categories-link-height;
        line-height: @header-all-categories-link-height;
        padding: 0 20px;

        color: @color-brown-light-2;
        font-size: 13px;
        text-transform: uppercase;
    }

    &__arrow {
        .svg;
        .svg-triangle;
        position: absolute;
        right: 25px;
        top: calc(~"50% - @{header-all-categories-arrow-size}/2");

        border-top-right-radius: @radius;
        border-top-left-radius: @radius;
        font-size: @header-all-categories-arrow-size;

        .open & {
            top: calc(~"50% - @{header-all-categories-arrow-size}/2 - 5px");
            transform: rotate(-180deg);
        }
    }

    &__content {
        display: none;
        position: absolute;
        width: @header-all-categories-submenu-width;
        left: -@web-padding-big - 30px;
        top: @header-all-categories-link-height + @header-all-categories-submenu-top + 5px;
        padding: 40px 50px;
        z-index: @z-index-menu;

        background: @color-gray;
        border-radius: @radius;

        .open & {
            display: flex;
        }

        &__left {
            width: 100%;
            padding: 20px;

            @media @query-vl {
                width: @header-all-categories-left-width;
                padding: 0;
            }
        }

        &__right {
            width: 100%;
            padding: 20px;

            @media @query-vl {
                width: calc(~"@{calc-base} - @{header-all-categories-left-width}");
                padding: 0;
            }
        }
    }
}
