@cart-icon-width: 24px;
@cart-icon-gap: 10px;
@cart-number-size: 14px;

.cart {
    display: none;

    @media @query-lg {
        display: inline-block;
        position: relative;
        .clearfix();
        text-align: left;
    }

    &__info {
        display: none;

        @media @query-lg {
            display: inline-block;
            margin-left: @cart-icon-gap;

            text-transform: none;
        }
    }

    &__icon {
        position: relative;
        width: 20px;
        text-align: left;

        font-size: 22px;
        margin-bottom: -9px;

        @media @query-lg {
            float: left;
        }

        &__count {
            position: absolute;
            display: block;
            height: @cart-number-size;
            line-height: @cart-number-size;
            width: @cart-number-size;
            top: 1px;
            right: -9px;
            text-align: center;

            color: @color-f;
            font-size: 11px;
            border-radius: 50%;
            background-color: @color-green;
        }
    }
}
