@cart-icon-width: 24px;
@cart-icon-gap: 10px;
@cart-number-size: 14px;

.cart {
    display: none;

    &__icon {
        width: 20px;
    }

    &__info {
        display: none;
    }

    @media @query-lg {
        display: inline-block;
        position: relative;
        .clearfix();
        text-align: left;

        &__icon {
            position: relative;
            float: left;
            text-align: left;

            &__count {
                position: absolute;
                display: block;
                height: @cart-number-size;
                line-height: @cart-number-size;
                width: @cart-number-size;
                top: -2px;
                right: -5px;
                text-align: center;

                color: @color-f;
                font-size: 11px;
                border-radius: 50%;
                background-color: @color-green;
            }
        }

        &__info {
            display: inline-block;
            margin-left: @cart-icon-gap;
        }
    }
}
