@logo-max-width: 239px;

.logo {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    font-size: 0;

    @media @query-lg {
        max-width: @logo-max-width;
        text-align: left;
    }

    img {
        max-height: 100%;
    }
}
