@menu-item-gap: 42px;
@menu-height: 37px;

.menu {
    .reset-ul();
    height: @menu-height;
    line-height: @menu-height;
    display: inline;
    overflow: hidden;

    font-size: 0;

    @media @query-vl {
        width: calc(~"100% - (@{header-all-categories-link-width} + 30px)");
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: @menu-item-gap;

        font-size: @font-size;

        &__link {
            display: block;
            line-height: 21px;

            color: @color-base;
            font-size: @font-size-big;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;

            .domain3 & {
                font-size: @font-size;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
