@menu-item-gap: 42px;
@menu-height: 37px;

.menu {
    .reset-ul();
    height: @menu-height;
    line-height: @menu-height;
    width: calc(~"100% - @{header-all-categories-link-width}");
    display: inline;
    
    font-size: 0;

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: @menu-item-gap;

        font-size: @font-size;

        &__link {
            display: block;
            line-height: 21px;

            color: @color-base;
            font-size: @font-size-big;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
        }

        &:last-child {
            margin-right: @menu-item-gap/2;
    }
}
