@search-button-width: 56px;
@search-input-height: 46px;
@search-input-height-small: 36px;

.search {
    position: relative;

    &__form {
        display: flex;

        border-radius: @radius-small;
        background-color: @color-f;

        @media @query-lg {
            border: 2px solid @color-border;
        }

        .box-search & {
            flex-direction: column;

            @media @query-md {
                flex-direction: row;
            }
        }

        &__input {
            width: 100%;
            position: relative;

            .input {
                width: 100%;
                height: @search-input-height-small;
                line-height: 32px;
                padding: 0 0 0 17px;

                font-size: 16px;
                color: @color-brown;
                border: none;
                border-radius: @radius-small;
                box-shadow: none;

                @media @query-vl {
                    height: @search-input-height;
                }

                &::-webkit-input-placeholder { /* Edge */
                    color: @color-brown;
                    opacity: 1;
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: @color-brown;
                    opacity: 1;
                }
                  
                &::placeholder {
                    color: @color-brown;
                    opacity: 1;
                }
            }
        }

        &__submit {
            display: flex;
            width: @search-button-width;

            &__button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                font-size: @font-size-big;

                .svg {
                    height: @font-size-big;
                }
            }
        }
    }

    &__autocomplete {
        position: absolute;
        width: 100%;
        top: @search-input-height-small;
        left: 0;
        z-index: @z-index-above;
        padding: 20px;

        background-color: @color-light;

        @media @query-vl {
            top: @search-input-height;
        }
    }
}
