@search-hint-product-image-size: 51px;
@search-hint-category-image-size: 20px;
@search-hint-articles-image-size: 20px;
@search-hint-divider-size: 55px;
@search-hint-font-size-medium: 16px;

.search-hint {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 28px;
    z-index: @z-index-menu;

    background: @color-gray;

    @media @query-lg {
        flex-direction: row;
    }

    &__left {
        width: 100%;

        @media @query-lg {
            width: 100%/2;
        }
    }

    &__right {
        width: 100%;

        @media @query-lg {
            width: 100%/2;
        }
    }

    &__title {
        color: @color-base;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__divider {
        display: none;

        @media @query-lg {
            display: block;
            height: @search-hint-divider-size;
        }
    }

    &__category {
        .reset-ul();
        margin-top: 18px;

        &__link {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;

            color: @color-base;
            text-decoration: none;
        }

        &__name {
            display: block;
            width: calc(~"100% - @{search-hint-category-image-size}");
            padding-left: 12px;

            color: @color-brown;
            font-size: @search-hint-font-size-medium;

            .highlight {
                color: @color-base;
            }

            &:hover {
                color: @color-base;
            }
        }

        &__image {
            width: @search-hint-category-image-size;

            .svg {
                line-height: 15px;
                padding-top: 2px;

                color: @color-orange;
                font-size: 19px;
            }
        }
    }

    &__article {
        .reset-ul();
        display: none;
        margin-top: 18px;

        @media @query-lg {
            display: block;
        }

        &__link {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;

            color: @color-base;
            text-decoration: none;
        }

        &__name {
            display: block;
            width: calc(~"100% - @{search-hint-category-image-size}");
            padding-left: 12px;

            color: @color-brown;
            font-size: @search-hint-font-size-medium;

            .highlight {
                color: @color-base;
            }
        }

        &__image {
            width: @search-hint-category-image-size;

            .svg {
                line-height: 15px;
                padding-top: 2px;

                color: @color-orange;
                font-size: 19px;
            }
        }
    }

    &__product {
        .reset-ul();
        padding: 30px;
        margin-bottom: 30px;
        margin-top: 10px;

        background-color: @color-f;
        border-radius: @radius;

        @media @query-lg {
            margin-bottom: 0;
        }

        &__item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &__link {
                display: flex;
                flex-direction: row;
                width: 100%;

                text-decoration: none;
                font-size: @font-size;
                color: @color-base;

                &:hover {
                    text-decoration: none;
                }
            }

            &__image {
                position: relative;
                width: @search-hint-product-image-size;
                height: @search-hint-product-image-size;

                img {
                    .center-image();
                    margin-top: 0;
                }
            }

            &__name {
                flex-direction: column;
                width: calc(~"100% - @{search-hint-product-image-size}");
                padding-left: 10px;
            }

            &__price {
                display: inline-block;
                width: 100%;
                padding-top: 5px;

                font-weight: bold;

                &--old {
                    display: inline;
                    padding-left: 5px;

                    font-weight: normal;
                    font-size: @font-size-extra-small;
                    color: @color-brown-light;
                    text-decoration: line-through;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}
