@search-button-width: 80px;
@search-form-height: @input-height;
@search-width: 650px;
@search-padding: 26px 42px;
@search-input-height: 48px;

.search {
    position: relative;
    padding: @search-padding;

    background: @color-gray;

    &__form {
        width: @search-width;
        display: flex;

        .is-no-flex & {
            display: block;
            .clearfix();
        }

        &__input {
            flex: 1;
            position: relative;

            .is-no-flex & {
                float: left;
                width: ~"calc(100% - @{search-button-width})";
            }

            .input {
                width: 100%;
                height: @search-input-height;
                line-height: 32px;

                font-size: 24px;
                color: @color-base;
                border: none;
                border-bottom: 1px solid @color-base;
            }
        }

        &__button {
            display: none;
            flex: 0 @search-button-width;
            height: @search-form-height;
            line-height: @search-form-height;
            padding: 0;

            .is-no-flex & {
                width: @search-button-width;
            }
        }
    }
}
