@search-button-width: 80px;
@search-form-height: @input-height;
@search-width: 650px;
@search-padding: 26px 42px;
@search-padding-mobile: 13px 20px;
@search-input-height: 48px;

.search {
    position: relative;
    padding: @search-padding-mobile;

    background: @color-gray;

    @media @query-lg {
        padding: @search-padding;
    }

    .box-search & {
        padding: 0;
    }

    &__form {
        display: flex;

        @media @query-lg {
            width: @search-width;
        }

        .box-dropdown & {
            @media @query-md {
                width: 400px;
            }

            @media @query-lg {
                width: 520px;
            }

            @media @query-vl {
                width: @search-width;
            }
        }

        &__input {
            flex: 1;
            position: relative;

            .input {
                width: 100%;
                height: @search-input-height;
                line-height: 32px;

                font-size: 24px;
                color: @color-base;
                border: none;
                border-bottom: 1px solid @color-base;

                .box-search & {
                    line-height: @search-input-height;
                    padding: 0 10px;
            }
        }
        }

        &__button {
            display: none;
            width: @search-button-width;
            height: @search-form-height;
            line-height: @search-form-height;
            padding: 0;
        }
    }
}
