@top-bar-height: 34px;
@top-bar-item-gap: 35px;
@top-bar-item-text-gap: 10px;

.top-bar {
    line-height: @top-bar-height;

    color: @color-brown-light-2;
    background: @color-gray;

    @media @query-vl {
        height: @top-bar-height;
    }

    &__in {
        display: flex;
        flex-direction: column;
        padding: 0;

        @media @query-xl {
            flex-direction: row;
            width: @web-width;
            margin: 0 auto;
        }
    }

    &__menu {
        .reset-ul();
        display: flex;
        width: 100%;

        @media @query-vl {
            width: 100%/2;
        }

        &--right {
            justify-content: flex-end;
        }

        &__item {
            margin-right: @top-bar-item-gap;

            .header__top-bar__menu--right & {
                margin-right: 0;
            }

            &__link {
                font-size: @font-size-small;
                color: @color-brown-light-2;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            &__text {
                font-size: @font-size-small;
                line-height: 15px;
                color: @color-brown-light-2;
                text-transform: uppercase;

                &__spacer {
                    padding: 0 @top-bar-item-text-gap;
                }
            }
        }
    }
}
