@top-bar-height: 34px;
@top-bar-item-gap: 35px;
@top-bar-item-text-gap: 10px;

.top-bar {
    color: @color-brown-light-2;
    background: @color-brown;

    @media @query-vl {
        height: @top-bar-height;
        line-height: @top-bar-height;
    }

    &__in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;

        @media @query-vl {
            flex-direction: row;
            margin: 0 auto;
            padding: 0;
        }

        @media @query-xl {
            width: @web-width;
        }
    }

    &__menu {
        .reset-ul();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;

        @media @query-vl {
            justify-content: flex-start;
            width: 100%/2;
            margin-left: -@top-bar-item-gap;
            margin-bottom: 0;
        }

        &--right {
            justify-content: center;
            margin-left: 0;

            @media @query-vl {
                justify-content: flex-end;
            }
        }

        &__next-line {
            display: block;

            @media @query-vl {
                display: none;
            }
        }

        &__item {
            margin: 0 @top-bar-item-gap/2;

            .top-bar__menu--right & {
                margin-right: 0;
                text-align: center;
            }

            &__link {
                font-size: @font-size-small;
                color: @color-f;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: @color-orange;
                }
            }

            &__text {
                line-height: 15px;

                font-size: @font-size-small;
                color: @color-f;
                text-transform: uppercase;

                &__spacer {
                    padding: 0 @top-bar-item-text-gap;
                }
            }
        }
    }
}
