@top-bar-height: 34px;
@top-bar-item-gap: 35px;
@top-bar-item-text-gap: 10px;

.top-bar {
    color: @color-brown-light-2;
    height: @top-bar-height;
    line-height: @top-bar-height;

    @media @query-vl {
        padding-left: 5px;
    }

    @media @query-xl {
        padding-left: 0;
    }

    &__in {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        @media @query-vl {
            flex-direction: row;
            margin: 0 auto;
            padding: 0;
        }
    }

    &__menu {
        .reset-ul();
        display: none;
        margin-bottom: 15px;

        @media @query-vl {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: -@top-bar-item-gap;
            margin-bottom: 0;
        }

        &--mobile-visible {
            display: flex;
        }

        &__item {
            margin: 0;

            @media @query-md {
                margin-left: 18px;
            }

            @media @query-vl {
                margin-left: @top-bar-item-gap;
            }

            &__link {
                font-size: @font-size-extra-small;
                color: @color-brown-dark;

                &:hover {
                    color: @color-brown-dark;
                    text-decoration: underline;
                }
            }

            &__text {
                display: flex;

                font-size: @font-size-extra-small;
                color: @color-brown-dark;

                &__phone {
                    margin-right: 18px;
                }
            }
        }
    }
}
