@wrap-article-item-gap: 10px;

.wrap-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;

    background-color: @color-f;
    border: 3px solid @color-gray;

    &__row {
        display: flex;
        flex-direction: column;
        margin-left: -@wrap-article-item-gap;

        @media @query-md {
            flex-direction: row;
        }

        &--center {
            justify-content: center;
        }

        .form-line {
            flex-direction: column;
        }

        .form-line__error {
            width: 100%;
            font-size: 0;
        }

        &__full {
            width: 100%;
            padding-left: @wrap-article-item-gap;
        }

        &__half {
            width: 100%;
            padding-left: @wrap-article-item-gap;

            @media @query-md {
                width: @calc-base/2;
            }
        }
    }
}
