.wrap-well {
    display: block;
    margin-bottom: @margin-gap;
    padding: 20px;

    background: @color-box;

    &--big-padding {
        @media @query-lg {
            padding: 20px 225px;
        }
    }
}
