@in-action-button-big-height: @btn-height + 10px;
@in-action-button-big-padding-vertical: @btn-padding-vertical;
@in-action-button-big-padding-horizontal: 30px;
@in-action-bottom-gap: 20px;

.in-action {
    margin-bottom: @in-action-bottom-gap;

    width: 100%;
    display: flex;
    align-items: center;

    .is-no-flex & {
        display: block;
        .clearfix();
    }

    &--column {
        flex-direction: column;
    }

    &--centered-on-mobile {
        margin: 0 auto 20px auto;

        @media @query-md {
            margin: 0 0 @in-action-bottom-gap 0;
        }
    }

    &--with-back-icon {
        padding-right: 25px;
        
        .svg {
            padding: 9px;

            font-size: 7px;
            transform: rotate(90deg);
        }
    }

    &__back {
        color: @color-base;
        margin-bottom: 20px;

        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__btn {
        padding: 0 @btn-padding-horizontal/2;
        margin-bottom: 30px;

        @media @query-md {
            padding: 0 @btn-padding-horizontal;
        }
    }
}
