.in-article {
    &__title {
        text-align: center;

        font-size: 24px;
        font-weight: 700;
    }

    &__date {
        margin-bottom: 10px;
        text-align: left;

        color: @color-brown;
        font-weight: 700;
        font-size: 16px;
    }

    &__text {
        margin-bottom: 20px;
    }
}
