@in-flag-item-top-gap: 12px;
@in-flag-item-size: 70px;
@in-flag-item-size-small: 46px;
@in-flag-item-font-size: 18px;
@in-flag-item-font-size-middle: 17px;
@in-flag-item-font-size-small: 16px;
@in-flag-item-font-size-mobile: 10px;
@in-flag-in-list-position-top: 0;
@in-flag-in-list-position-right: 0;

.in-flag {
    .clearfix();
    position: absolute;
    top: @in-flag-in-list-position-top;
    right: @in-flag-in-list-position-right;

    &--in-list {
        top: @in-flag-in-list-position-top;
        right: @in-flag-in-list-position-right;
    }

    &__item {
        float: right;
        clear: right;
        display: block;
        width: @in-flag-item-size-small;
        height: @in-flag-item-size-small;
        line-height: @in-flag-item-size-small;
        margin-top: @in-flag-item-top-gap;
        text-align: center;

        overflow: hidden;
        border-radius: 50%;
        color: @color-f;
        font-weight: 700;
        font-size: @in-flag-item-font-size-mobile;

        @media @query-md {
            width: @in-flag-item-size;
            height: @in-flag-item-size;
            line-height: @in-flag-item-size;

            font-size: @in-flag-item-font-size;
        }

        &--middle-text {
            line-height: @in-flag-item-size-small;

            font-size: @in-flag-item-font-size-mobile;

            @media @query-md {
                line-height: @in-flag-item-size;

                font-size: @in-flag-item-font-size-middle;
            }
        }

        &--middle-text {
            line-height: @in-flag-item-size;

            font-size: @in-flag-item-font-size-middle;
        }

        &--smaller-text {
            padding-top: 13px;
            line-height: @in-flag-item-font-size-mobile;

            font-size: @in-flag-item-font-size-mobile;

            @media @query-md {
                padding-top: 20px;
                line-height: @in-flag-item-font-size-small;

                font-size: @in-flag-item-font-size-small;
                word-wrap: break-word;
            }
        }
    }
}
