@in-free-transport-pipe-height: 4px;
@in-free-transport-pipe-height-fat: 7px;
@in-free-transport-pipe-background: #807d7d;

.in-free-transport {
    &--dark {
        background-color: @color-gray;
    }

    &__title {
        display: block;
        margin-bottom: 13px;
        text-align: center;

        font-size: @font-size;
        color: @color-brown;

        &__price {
            font-weight: 700;
        }

        &__important {
            display: block;
            padding: 5px 0;
            text-align: center;

            font-weight: 700;
            color: @color-green;
        }

        .in-free-transport--dark & {
            margin-bottom: 0;
            padding: 14px 10px 10px 10px;

            font-size: 16px;

            @media @query-md {
                br {
                    display: none;
                }
            }
        }
    }

    &__pipe {
        height: @in-free-transport-pipe-height;

        background: @in-free-transport-pipe-background;

        .in-free-transport--bottom-gap & {
            margin-bottom: 35px;
        }

        &--fat {
            height: @in-free-transport-pipe-height-fat;
        }

        &__line {
            display: block;
            width: 0;
            height: @in-free-transport-pipe-height;
            position: relative;
            transition: width 2.5s @transition;
            overflow: inherit !important; //remove blink icon before start animate

            background: @color-green;

            .in-free-transport__pipe--fat & {
                height: @in-free-transport-pipe-height-fat;
            }
        }
    }
}
