@in-message-alert: #F7D6D6;
@in-message-warning: @color-orange;
@in-message-info: #BAE3F2;
@in-message-success: @color-green;

@in-message-alert-text: @color-red;
@in-message-warning-text: @color-orange;
@in-message-info-text: #005B7E;
@in-message-success-text: @color-green;

@in-message-bottom-gap: 10px;
@in-message-bottom-padding: 6px 9px;

.in-message {
    display: block;
    padding: @in-message-bottom-padding;
    margin-bottom: @in-message-bottom-gap;

    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    border: 1px solid @in-message-alert;
    background: lighten(@in-message-alert, 5%);

    li {
        color: @in-message-alert-text;
    }

    &__list {
        .reset-ul();
    }

    &--error,
    &--danger {
        padding: @in-message-bottom-padding;
        margin-bottom: @in-message-bottom-gap;

        color: @in-message-alert-text;
        border: 1px solid @in-message-alert;
        background: lighten(@in-message-alert, 5%);

        li {
            color: @in-message-alert-text;
        }
    }

    &--warning {
        padding: @in-message-bottom-padding;
        margin-bottom: @in-message-bottom-gap;

        color: @in-message-warning-text;
        border: 1px solid @in-message-warning;
        background: lighten(@in-message-warning, 10%);

        li {
            color: @in-message-warning-text;
        }
    }

    &--info {
        padding: @in-message-bottom-padding;
        margin-bottom: @in-message-bottom-gap;

        color: @in-message-info-text;
        border: 1px solid @in-message-info;
        background: lighten(@in-message-info, 10%);

        li {
            color: @in-message-info-text;
        }
    }

    &--success {
        padding: @in-message-bottom-padding;
        margin-bottom: @in-message-bottom-gap;

        color: @in-message-success-text;
        border: 1px solid @in-message-success;
        background: lighten(@in-message-success, 50%);

        li {
            color: @in-message-success-text;
        }
    }

    &--alert {
        padding: @in-message-bottom-padding;
        margin-bottom: @in-message-bottom-gap;

        color: @in-message-alert-text;
        border: 1px solid @in-message-alert;
        background: lighten(@in-message-alert, 5%);

        li {
            color: @in-message-alert-text;            
        }
    }
}
