@in-paging-size: 30px;
@in-paging-item-gap: 10px;

.in-paging {
    @media @query-md {
        display: flex;
        align-items: center;
    }

    &__info {
        display: none;

        @media @query-md {
            display: block;
            flex: 1;
        }
    }

    &__control {
        flex: 3;
        text-align: center;
        margin: 0 -@in-paging-item-gap / 2;

        font-size: 0;

        &__item {
            display: inline-block;
            vertical-align: middle;
            min-width: @in-paging-size;
            height: @in-paging-size;
            line-height: @in-paging-size;
            margin: 0 @in-paging-item-gap / 2;
            text-align: center;

            font-size: 16px;
            border-radius: @radius-small;
            box-shadow: @box-shadow-outer;

            &--num {
                text-decoration: none;
                background: @color-gray;
                border: 1px solid rgba(0,0,0,0.1);
                color: @color-f;

                &:hover {
                    background: darken(@color-gray, 5%);
                    color: @color-f;
                }

                &--active {
                    background: @color-f;
                    color: @color-base;
                    border: 1px solid @color-border-dark;

                    &:hover {
                        background: @color-f;
                        color: @color-base;
                    }
                }
            }

            &--separate {
                min-width: auto;

                font-weight: 700;
                box-shadow: none;
            }

            &--arrow {
                display: none;
                text-decoration: none;
                background: @color-light;
                color: @color-base;
                border: 1px solid @color-border-dark;

                &:hover {
                    background: darken(@color-light, 5%);
                }

                &--inactive {
                    color: @color-a;

                    &:hover {
                        background: @color-light;
                    }
                }
            }
        }
    }
}
