@in-tab-border-color: @color-gray;
@in-tab-head-item-font-size: 15px;
@in-tab-head-item-gap: 25px;
@in-tab-head-item-height-mobile: 40px;
@in-tab-head-bottom-gap: 60px;
@in-tab-head-bottom-gap-small: 30px;
@in-tab-arrow-size: 10px;

.in-tab {
    @media @query-vl {
        width: @box-detail-content-width;
    }

    &--full-width {
        width: 100%;
    }

    &__wrap {
        display: none;

        @media @query-vl {
            display: flex;
            flex-direction: column;
            margin-bottom: @in-tab-head-bottom-gap;

            border-bottom: 1px solid @in-tab-border-color;

            &--small-gap {
                margin-bottom: @in-tab-head-bottom-gap-small;
            }
        }
    }

    &__head {
        align-self: center;
        display: none;

        @media @query-lg {
            display: block;
            position: relative;
            .clearfix();

            &__item {
                float: left;
                margin: 0 @in-tab-head-item-gap @underline-gap @in-tab-head-item-gap;

                color: @color-base;
                font-size: @in-tab-head-item-font-size;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;

                &.active {
                    font-weight: 400;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    &__content {
        &__title {
            display: block;
            position: relative;
            height: @in-tab-head-item-height-mobile;
            line-height: @in-tab-head-item-height-mobile;

            cursor: pointer;

            &__link {
                color: @color-base;
                font-size: @in-tab-head-item-font-size;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
            }

            @media @query-lg {
                display: none;
            }

            .svg {
                position: absolute;
                top: calc(~"50% - @{in-tab-arrow-size}/2");
                right: 10px;

                font-size: @in-tab-arrow-size;

            }

            &.active {
                .svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__item {
            display: none;
            padding-top: 15px;

            &.active {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}
