.in-title {
    display: block;
    margin-bottom: 20px;

    &--big {
        font-size: 36px;
        font-weight: 700;
    }

    &--center {
        text-align: center;
    }

    &--small {
        line-height: 20px;

        color: @color-brown-light;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &--dark {
        color: @color-base;
    }
}
