.in-title {
    display: block;
    margin-bottom: 20px;

    &--small {
        line-height: 20px;

        color: @color-brown-light;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
