.in-title {
    display: block;
    margin-bottom: 20px;
    font-family: @font-alt;
    font-weight: 700;

    &--big {
        font-size: 36px;
    }

    &--center {
        text-align: center;
    }

    &--small {
        line-height: 20px;

        color: @color-brown-light;
        font-size: 16px;
        text-transform: uppercase;
    }

    &--dark {
        color: @color-brown;
    }
}
