@in-user-text-ul-point-size: 6px;
@in-user-text-inner-items-gap: 26px;
@in-user-text-inner-items-gap-small: @in-user-text-inner-items-gap/2;
@in-user-text-inner-text-gap: @in-user-text-inner-items-gap - 3;
@in-user-text-inner-text-gap-small: @in-user-text-inner-text-gap/2;
@in-user-text-title-font-size: 24px;
@in-user-text-title-gap: 20px;

@in-user-text-font-size: 20px;

.in-user-text {
    line-height: @in-user-text-font-size + 16px;

    color: @color-brown;
    font-family: @font-alt;
    font-size: @in-user-text-font-size;

    a {
        position: relative;
        display: inline;
        padding-bottom: 10px;
        text-decoration: none;

        color: @color-base;
        background-image: linear-gradient(to top, @color-orange 1px, @color-f 100%);
        background-position: 0 28px;
        background-repeat: repeat-x;
        background-size: 2px 1px;
        transition: background-position @transition;

        &:hover {
            background-position: 0 23px;
            transition: background-position @transition;
        }
    }

    p {
        margin: 0 0 @in-user-text-inner-text-gap-small 0;
        line-height: @in-user-text-font-size + 16px;

        color: @color-brown;
        font-size: @in-user-text-font-size;

        @media @query-xl {
            margin-bottom: @in-user-text-inner-text-gap;
        }
    }

    ul {
        margin-bottom: @in-user-text-inner-text-gap-small;
        z-index: 1; // due to combination with IMG and float

        @media @query-xl {
            margin-bottom: @in-user-text-inner-items-gap;
        }

        li {
            position: relative;
            line-height: @in-user-text-font-size + 16px;
            padding-left: 5px;
            margin-left: 15px;
            margin-bottom: 5px;

            color: @color-brown;
            font-size: @in-user-text-font-size;
        }

        ul {
            margin: 5px 0 0 15px;
        }
    }

    h2 {
        width: 100%;
        margin-bottom: 20px;

        font-size: 36px;
        color: @color-brown;
    }

    &__title {
        margin-bottom: @in-user-text-title-gap;

        color: @color-base;
        font-family: @font-alt;
        font-size: @in-user-text-title-font-size;
        font-weight: 700;

        &--center {
            text-align: center;
        }
    }

    img {
        display: block;
        height: auto !important;
    }

    img, .in-user-text__image, .in-user-text__image--with-text  {
        &[style*="float: right"],
        &[style*="float:right"] {
            margin:  @in-user-text-inner-items-gap-small/2 0 @in-user-text-inner-items-gap/2 @in-user-text-inner-items-gap;
        }

        &[style*="float: left"],
        &[style*="float:left"]{
            margin:  @in-user-text-inner-items-gap-small/2 @in-user-text-inner-items-gap @in-user-text-inner-items-gap/2 0;
        }
    }

    &__image {
        display: inline-block;
        margin: 0 0 @in-user-text-inner-items-gap-small;
        position: relative;
        overflow: hidden;
        z-index: 2; // due to combination with UL-LI and float

        @media @query-xl {
            margin: 0 0 @in-user-text-inner-items-gap @in-user-text-inner-items-gap;
        }

        &--with-text {
            display: inline-block;
            width: auto;

            img {
                width: auto;

                &[style*="float: right"],
                &[style*="float:right"],
                &[style*="float: left"],
                &[style*="float:left"]{
                    margin: 0;
                }
            }

            span {
                width: 100%;
                display: inherit;
                text-align: center;

                font-size: 12px;
                font-style: italic;
            }
        }

        &--left {
            @media @query-sm {
                float: left;
                margin: 0 0 @in-user-text-inner-items-gap-small @in-user-text-inner-items-gap-small;
            }

            @media @query-xl {
                margin: 0 0 @in-user-text-inner-items-gap @in-user-text-inner-items-gap;
            }
        }

        &--right {
            @media @query-sm {
                float: right;
                margin: 0 0 @in-user-text-inner-items-gap-small @in-user-text-inner-items-gap-small;
            }

            @media @query-xl {
                margin: 0 0 @in-user-text-inner-items-gap @in-user-text-inner-items-gap;
            }
        }

        img {
            width: 100%;
            margin: 0;
            transition: @transition transform;
        }

        &:hover {
            img {
                transform: scale(1.2) rotate(-4deg);
            }

            &:after {
                bottom: 0;
            }
        }
    }

    table {
        width: 100%;
        border: none;

        thead {
            tr td {
                background-color: @color-light;
                font-weight: 700;
                text-align: center;
            }
        }

        tr td {
            padding: 5px;
            line-height: 16px;
            text-align: center;

            font-size: 14px;
            border: 1px solid #f7f7f7;

            &:first-child {
                text-align: left;
            }
        }
    }
}
