<ul class="box-progress box-progress--step{{ step }}">
    <li class="box-progress__item {% if step == 1 %}box-progress__item--active{% elseif step > 1 %}box-progress__item--done{% endif %}{% if step == 2 %} box-progress__item--previous-active{% endif %}">
        1. {{ 'Košík'|trans }}
    </li>
    <li class="box-progress__item box-progress__item--separator "><i class="svg svg-triangle"></i></li>
    <li class="box-progress__item {% if step == 2 %}box-progress__item--active{% elseif step > 2 %}box-progress__item--done{% endif %}{% if step == 3 %} box-progress__item--previous-active{% endif %}">
        2. {{ 'Doprava a platba'|trans }}
    </li>
    <li class="box-progress__item box-progress__item--separator "><i class="svg svg-triangle"></i></li>
    <li class="box-progress__item {% if step == 3 %}box-progress__item--active{% endif %}">
        3. {{ 'Dodací údaje'|trans }}
    </li>
</ul>
