{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% if productViews|length > 0 %}
    <div class="web__line">
        <div class="web__container">
            <div class="box-last-visited">
                <h3 class="box-last-visited__title">
                    {{ 'Naposledy navštívené produkty'|trans }}
                </h3>

                {{ productList.lastVisitedList(productViews, 'h3', 'last-visited') }}
            </div>
        </div>
    </div>
{% endif %}
