// Default button
@btn-height: 31px;
@btn-padding-vertical: 6px;
@btn-padding-horizontal: 15px;
@btn-color: @color-f;
@btn-color-hover: @color-f;
@btn-bg: @color-turquoise;
@btn-bg-hover: @color-primary;

.btn {
    width: auto;
    min-height: @btn-height;
    padding: 0 @btn-padding-horizontal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: @transition background, @transition color;

    border-radius: @radius;
    border: 0;
    box-shadow: @box-shadow;
    color: @btn-color;
    background-color: @btn-bg;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: @font-size-extra-small;
    outline: 0;

    &:hover {
        color: @btn-color-hover;
        background-color: @btn-bg-hover;
        text-decoration: none;
    }

    .svg {
        height: @font-size-extra-small;
        margin-right: 10px;
    }
}

//// Modifications - color
.btn {
    // call to action button
    @btn-success-color: @color-f;
    @btn-success-color-hover: @color-f;
    @btn-success-bg: @color-add;
    @btn-success-bg-hover: darken(@btn-success-bg, 5%);

    &--success {
        color: @btn-success-color;
        background-color: @btn-success-bg;

        &:hover {
            color: @btn-success-color-hover;
            background-color: @btn-success-bg-hover;
        }
    }

    @btn-secondary-color: @color-f;
    @btn-secondary-color-hover: @color-f;
    @btn-secondary-bg: @color-primary;
    @btn-secondary-bg-hover: darken(@btn-secondary-bg, 5%);

    &--secondary {
        color: @btn-secondary-color;
        background-color: @btn-secondary-bg;

        &:hover {
            color: @btn-secondary-color-hover;
            background-color: @btn-secondary-bg-hover;
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: no-drop;
    }
}

//// Modifications - size
.btn {
    @btn-large-height: 54px;
    @btn-large-padding-horizontal: 17px;
    @btn-large-font-size: 16px;

    &--large {
        min-height: @btn-large-height;
        padding: 0 @btn-large-padding-horizontal;

        font-size: @btn-large-font-size;

        .svg {
            height: @btn-large-font-size;
        }
    }

    @btn-big-height: 42px;
    @btn-big-padding-horizontal: 32px;
    @btn-large-font-size: @font-size-small;

    &--big  {
        min-height: @btn-big-height;
        padding: 0 @btn-big-padding-horizontal;

        font-size: @btn-large-font-size;

        .svg {
            height: @btn-large-font-size;
        }
    }

    &--full-width {
        width: 100%;
    }
}

// Button with border
@btn-with-border-height: 42px;
@btn-with-border-padding-vertical: 6px;
@btn-with-border-padding-horizontal: 17px;
@btn-with-border-color: @color-base;
@btn-with-border-color-hover: @color-add;
@btn-with-border-bg: @color-turquoise;
@btn-with-border-bg-hover: @color-primary;
@btn-with-border-size-border: 3px;

.btn-with-border {
    width: auto;
    min-height: @btn-with-border-height - (@btn-with-border-size-border * 2);
    padding: 0 @btn-with-border-padding-horizontal;
    line-height: @btn-with-border-height - (@btn-with-border-size-border * 2);
    vertical-align: middle;
    display: inline-block;
    transition: none;
    text-align: center;

    border-radius: @radius;
    border: @btn-with-border-size-border solid @color-add;
    color: @btn-with-border-color;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: @font-size-small;
    outline: 0;

    &:hover {
        color: @btn-with-border-color-hover;
        text-decoration: none;
    }
}

@btn-gradient-height: 42px;
@btn-gradient-width: 143px;
@btn-gradient-padding-horizontal: 20px;
@btn-gradient-color: @color-base;
@btn-gradient-border-size: 3px;

@btn-gradient-inner-background: @color-light;

.btn-gradient {
    display: inline-block;
    width: @btn-gradient-width;
    min-height: @btn-gradient-height - (@btn-gradient-border-size * 2);
    line-height: @btn-gradient-height - (@btn-gradient-border-size * 2);
    padding: @btn-gradient-border-size;

    text-transform: uppercase;
    font-size: @font-size-small;
    font-weight: 700;
    color: @btn-gradient-color;
    border-radius: @radius;
    transition: none;
    background: linear-gradient(90deg, rgba(253,244,151,1) 0%, rgba(253,89,73,1) 33%, rgba(214,36,159,1) 66%, rgba(40,90,235,1) 100%);

    &--green {
        background: linear-gradient(90deg, rgba(39,125,168,1) 0%, rgba(88,182,167,1) 33%, rgba(155,201,98,1) 66%, rgba(93,169,75,1) 100%);
    }

    &:hover {
        text-decoration: none;
        color: @color-primary;
        background: @color-primary;
    }

    &__in {
        display: block;
        text-align: center;

        background-color: @btn-gradient-inner-background;
        border-radius: @radius - 3;
    }
}

// Button with removed styles
.btn-no-style {
    padding: 0;
    display: inline-block;

    border: 0;
    background: none;
    outline: 0;
}
