{% extends '@!ShopsysFramework/Admin/Content/Default/index.html.twig' %}

{% block main_content %}
    <div class="float-none">
        <a href="{{ url('admin_transferissue_list') }}">
            {{ 'Přehled problémů v přenosech'|trans }}
            {% set unseenTransferIssuesCount = getUnseenTransferIssuesCount() %}
            ({% transchoice unseenTransferIssuesCount with {'%count%': unseenTransferIssuesCount} %}
                {0} žádný nový | {1} 1 nový | [2,4] %count% nové | [5,Inf] %count% nových
            {% endtranschoice %})
        </a>
    </div>
    {{ parent() }}
{% endblock %}
