parameters:
    database_host: postgres
    database_port: ~
    database_name: shopsys
    database_user: root
    database_password: root

    elasticsearch_host: elasticsearch:9200

    redis_host: redis

    mailer_transport: smtp
    mailer_host: smtp-server
    mailer_user: ~
    mailer_password: ~
    mailer_disable_delivery: false
    mailer_master_email_address: no-reply@shopsys.com
    mailer_delivery_whitelist: [/@shopsys\.com$/]

    secret: ThisTokenIsNotSoSecretChangeIt
    trusted_proxies:
        - "127.0.0.1"
    env(REDIS_PREFIX): ''
    env(ELASTIC_SEARCH_INDEX_PREFIX): ''

    pohoda_database_driver: pdo_sqlsrv
    pohoda_database_host: 46.234.110.124
    pohoda_database_port: 1614
    pohoda_database_name: StwPhTRP_TESTSHOPSYS
    pohoda_database_user: chmandokt
    pohoda_database_password: tK.7496321
    pohoda_database_charset: UTF8

    gopay_config:
        cs:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: CS
        sk:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: SK
        en:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: EN
        isProductionMode: false
        scope: payment-all
        timeout: 30

    # testing credentials
    payPalClientId: AYSq3RDGsmBLJE-otTkBtM-jBRd1TCQwFf9RGfwddNXWz0uFU9ztymylOhRS
    payPalClientSecret: EGnHDxD_qRPdaLdZz8iCr8N7_MzF-YHPTkjs6NKYQvQSBngp4PTTVWkPZRbL
    payPalMode: SANDBOX

    # testing credentials
    balikobot:
        username: testtestcztest
        apiKey: wqhYdkvv

    mall_apiKey: xxx
    mall_isProductionMode: false
    mall_includeTestOrders: false

    env(S3_API_HOST): ''
    env(S3_API_USERNAME): ''
    env(S3_API_PASSWORD): ''
    env(S3_API_BUCKET_NAME): ''

    migrate_product_images_dir: 'migration-data/product-images'

    #API Key owned by @malyMiso
    googleApiKey: AIzaSyCgJiyuJ4hrcC6W1eot6nPiM0YzZ9ZnE-Y

    gtm_config:
        cs:
            enabled: true
            container_id: TEST
            container_environment: null
            datalayer_locale: cs
        sk:
            enabled: true
            container_id: TEST
            container_environment: null
            datalayer_locale: cs
        en:
            enabled: true
            container_id: TEST
            container_environment: null
            datalayer_locale: cs

    smsManagerApiKey: 3e17f29771088c3e8bd74b78f040c4aad4e9a3e5

    disable_form_fields_from_transfer: false

    pohoda_company_ico: 25415981
    pohoda_mserver_url: http://46.234.124.195
    pohoda_mserver_port: 4444
    pohoda_mserver_login: false
    pohoda_mserver_password: false
