<a 
    href="{{ url('front_login') }}" 
    class="box-order__registration__message box-order__registration__message--clickable js-login-in-order-window-opener" 
    data-url="{{ url('front_login_window_form') }}"
    data-email="{{ email }}"
>
    {{ 'Tento e-mail je registrován. Můžete se přihlásit'|trans }}
</a>
