<div class="js-email-not-registered-notice">
    <div class="box-order__registration--notice">
        {{ 'Váš e-mail není zaregistrován.'|trans }}
    </div>

    <div class="box-order__info">
        {{ 'Vytvořte si zákaznický účet a příště už nebudete muset vyplňovat údaje.'|trans }}
    </div>
</div>