@list-articles-blog-item-image-width: 200px;
@list-articles-blog-item-image-height: 200px;
@list-articles-blog-item-image-gap: 40px;

.list-articles-blog {
    .reset-ul();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    @media @query-md {
        flex-direction: row;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 55px;
        padding: 0;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            width: 100%;
            text-align: center;

            @media @query-md {
                width: @list-articles-blog-item-image-width;
            }

            @media @query-xl {
                width: @list-articles-blog-item-image-width;
            }

            img {
                max-width: @list-articles-blog-item-image-width;
                max-height: @list-articles-blog-item-image-height;

                border-radius: @radius-big;
                box-shadow: 0 2px 14px 0 rgba(0,0,0,0.3);
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media @query-md {
                padding-left: @list-articles-blog-item-image-gap;
            }

            @media @query-xl {
                width: calc(~"@{calc-base} - @{list-articles-blog-item-image-width} - @{list-articles-blog-item-image-gap}");
            }

            &__title {
                margin-bottom: 16px;
                line-height: 24px;

                color: @color-base;
                font-size: 30px + 1px;
                font-weight: 700;
                font-family: @font-alt;
                text-decoration: underline;
            }

            &__text {
                line-height: 30px;
                margin-bottom: 10px;
                opacity: 0.5;

                font-family: @font-alt;
                font-size: 16px + 1px;
            }

            &__date {
                font-size: 12px + 1px;
                font-weight: 700;
                font-family: @font-alt;
            }
        }
    }
}
