@list-cart-preview-image-size: 50px + @list-cart-preview-item-gap;
@list-cart-preview-amount-width: 35px;
@list-cart-preview-price-width: 90px;
@list-cart-preview-item-bottom-gap: 25px;
@list-cart-preview-item-title-lines: 2;
@list-cart-preview-item-title-line-height: 18px;
@list-cart-preview-item-gap: 5px;

.list-cart-preview {
    .reset-ul();
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 10px;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: @list-cart-preview-item-bottom-gap;

        @media @query-md {
            flex-wrap: nowrap;
        }

        &__image {
            width: @list-cart-preview-image-size;
            height: @list-cart-preview-image-size;
            line-height: @list-cart-preview-image-size;
            padding-right: @list-cart-preview-item-gap;

            img {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__pieces {
            display: flex;
            align-self: center;
            width: @list-cart-preview-amount-width;
            text-align: left;
            white-space: nowrap;
            padding-right: @list-cart-preview-item-gap;

            color: @color-gray;
            font-size: @font-size;
        }

        &__info {
            display: flex;
            flex-direction: column;
            width: calc(~"100% - @{list-cart-preview-image-size} - @{list-cart-preview-amount-width} - @{list-cart-preview-price-width}");
        }

        &__title {
            display: flex;
            align-items: center;
            line-height: @list-cart-preview-item-title-line-height;
            max-height: @list-cart-preview-item-title-lines*@list-cart-preview-item-title-line-height;
            margin-bottom: @list-cart-preview-item-gap;
            overflow: hidden;
            padding-right: @list-cart-preview-item-gap;

            color: @color-base;
            font-size: @font-size;
            text-decoration: none;

            @media @query-vl {
                display : block;
            }
        }

        &__parameters {
            &__text {
                display: block;
                margin-bottom: @list-cart-preview-item-gap;
                padding-right: @list-cart-preview-item-gap;

                color: @color-brown-light;
                font-size: @font-size-small;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__price {
            display: flex;
            align-self: center;
            justify-content: flex-end;
            width: @list-cart-preview-price-width;
            text-align: right;

            color: @color-base;
            font-size: @font-size;
            font-weight: 700;
        }
    }
}
