@list-categories-columns-count: 3;

@list-categories-image-size: 56px;
@list-categories-item-border-size: 1px;

.list-categories {
    .reset-ul();
    .clearfix();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -@list-categories-item-border-size -@list-categories-item-border-size 0;

    &__item {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 4px 10px;

        font-size: 0;
        border-bottom: @list-categories-item-border-size solid @color-border;
        border-right: @list-categories-item-border-size solid @color-border;

        @media @query-lg {
            width: calc(~"@{calc-base} / @{list-categories-columns-count}");
            margin-right: 0;
        }

        .list-categories--four-on-row & {
            width: calc(~"@{calc-base} / 2");
            max-height: 300px;

            img {
                max-height: 150px;
            }

            @media @query-md {
                width: calc(~"@{calc-base} / 4");

                img {
                    max-height: 200px;
                }
            }
        }

        &__link {
            display: flex;
            width: 100%;
            flex-direction: row;
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @list-categories-image-size;
            height: @list-categories-image-size;
        }

        &__text {
            display: flex;
            align-items: center;
            width: calc(~"100% - @{list-categories-image-size}");
            padding-left: 16px;
            line-height: 21px;
            margin: 0;

            font-size: 16px;
            font-weight: 700;
            color: @color-primary;
            text-decoration: underline;
        }
    }
}
