@list-last-visited-item-gap: 10px;
@list-last-visited-item-image-size: 80px;
@list-last-visited-item-title-line-height: 18px;

@list-last-visited-arrow-size: 18px;
@list-last-visited-arrow-gap: 20px;
@list-last-visited-side-gap: 15px;

.list-last-visited {
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(~"@{calc-base} - 2*@{list-last-visited-side-gap}");
    margin: 0 @list-last-visited-side-gap;

    @media @query-vl {
        margin: 0;
    }

    @media @query-xl {
        width: 100%;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-track {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);

        cursor: pointer;
        color: @color-turquoise;
        transition: @transition;
        font-size: @list-last-visited-arrow-size;
        height: @list-last-visited-arrow-size + 2px;

        &:hover {
            color: darken(@color-turquoise, 10%);
        }

        &.slick-disabled {
            opacity: 0.5;
            cursor: auto;

            &:hover {
                color: @color-turquoise;
            }
        }

        &--prev {
            left: -(@list-last-visited-arrow-size + @list-last-visited-arrow-gap/2 - 3px);

            @media @query-xl {
                left: -(@list-last-visited-arrow-size + @list-last-visited-arrow-gap - 2px);
            }
        }

        &--next {
            right: -(@list-last-visited-arrow-size + @list-last-visited-arrow-gap/2 - 3px);

            transform: translateY(-50%) rotate(-90deg);

            @media @query-xl {
                right: -(@list-last-visited-arrow-size + @list-last-visited-arrow-gap - 2px);
            }
        }
    }

    &__list {
        display: none;

        &.slick-initialized {
            display: block;
        }
    }

    &__in {
        position: relative;
        width: 100%;
    }

    &__item {
        &__block {
            display: flex;
            flex-direction: row;
            margin: 0 @list-last-visited-item-gap;
            height: 100%;

            color: @color-base;

            &:hover {
                text-decoration: none;
            }
        }

        &__image {
            display: flex;
            position: relative;
            align-self: center;
            height: 100%;
            width: @list-last-visited-item-image-size;

            img {
                .center-image();
                max-height: @list-last-visited-item-image-size;
            }
        }

        &__info {
            text-align: left;
            width: calc(~"100% - @{list-last-visited-item-image-size}");
            padding-left: 10px;

            &__title {
                display: flex;
                line-height: @list-last-visited-item-title-line-height;
                margin-bottom: 4px;
                width: 100%;
                text-align: left;
                overflow: hidden;
    
                font-size: @font-size-extra-small;
                font-weight: 400;
                color: @color-base;
            }

            &__availability {
                font-size: @font-size-small;

                .in-badge {
                    display: none;

                    @media @query-md {
                        display: inline;
                    }
                }

                &__text {
                    display: block;
                    line-height: 18px;
                }
            }

            &__price {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;

                &__main {
                    display: block;

                    color: @color-price;
                    font-size: @font-size-small;
                    font-weight: 700;
                }

                &__old {
                    display: inline;
                    padding-left: 5px;
                    font-weight: normal;
                    font-size: @font-size-extra-small;
                    color: @color-price-old;
                    text-decoration: line-through;
                }
            }
        }
    }
}
