@list-socials-item-width: 143px;
@list-socials-item-gap: 10px;
@list-socials-item-gap-mobile: 7px;

@list-socials-facebook-color: #204beb;

.list-socials {
    .reset-ul();
    display: inline-flex;
    flex-direction: row;
    width: calc(~"100% + @{list-socials-item-gap-mobile}");
    margin-left: -@list-socials-item-gap-mobile;

    @media @query-lg {
        width: auto;
        margin-left: -@list-socials-item-gap;
    }

    &__item {
        display: flex;
        width: @calc-base / 3;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: @list-socials-item-gap-mobile;

        @media @query-lg {
            margin-left: @list-socials-item-gap;
            width: @list-socials-item-width;
        }

        &__link {
            width: 100%;
            padding: 0;

            font-size: 12px;

            @media @query-lg {
                font-size: @font-size-small;
            }

            &--instagram {
                padding: 3px;
            }

            &--facebook {
                border-color: @list-socials-facebook-color;

                &:hover {
                    color: @list-socials-facebook-color;
                }
            }

            &--youtube {
                border-color: @color-red;

                &:hover {
                    color: @color-red;
                }
            }
        }
    }
}
