@list-socials-item-width: 143px;
@list-socials-item-gap: 10px;

.list-socials {
    display: none;

    @media @query-md {
        .reset-ul();
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: -@list-socials-item-gap;
    }

    @media @query-vl {
        flex-direction: row;
        width: 100%;
    }

    &__item {
        display: flex;
        width: @list-socials-item-width;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: @list-socials-item-gap;

        &__link {
            width: 100%;

            &--facebook {
                border-color: #204BEB;

                &:hover {
                    color: #204BEB;
                }
            }

            &--youtube {
                border-color: @color-red;

                &:hover {
                    color: @color-red;
                }
            }
        }
    }
}
