.list-tags {
    display: inline;
    text-align: left;

    .box-detail__params & {
        width: 100%;

        @media @query-vl {
            width: calc(~"@{calc-base} - @{box-detail-params-title-width}");
        }
    }

    &__tag {
        display: inline-block;
        margin: 5px 0;
        padding: 8px 10px 7px;

        background-color: @color-light;
        border-radius: @radius;
        color: @color-gray;
        font-size: @font-size-extra-small;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;

        @media @query-xl {
            margin: 0 5px 5px 0;
        }
    }
}
