<a class="box-detail__watch-dog {{ type == 'variant' ? 'box-detail__watch-dog--variant' : ''}} js-watch-dog-window-opener" data-url="{{ url('front_watch_dog_window_form', {'productId': product.Id}) }}">
    <span class="box-detail__watch-dog__icon">
        {% include 'Front/Svg/tick.svg' %}
    </span>
    <span class="box-detail__watch-dog__text">
        {% if product.calculatedSellingDenied %}
            {{ 'Hlídat dostupnost a cenu'|trans }}
        {% else %}
            {{ 'Hlídat cenu'|trans }}
        {% endif %}
    </span>
</a>
