<a class="box-detail__watch-dog js-watch-dog-window-opener" data-url="{{ url('front_watch_dog_window_form', {'productId': product.Id}) }}">
    {% if product.calculatedSellingDenied %}
        {{ 'Hlídat dostupnost a cenu'|trans }}
    {% else %}
        {{ 'Hlídat cenu'|trans }}
    {% endif %}
</a>
