{#
<div class="box-motto js-not-implemented-yet">
    <div class="box-motto__title">
        {{ '#5 výdrž a nadčasovost'|trans }}
    </div>
    <div class="box-motto__subtitle">
        {{ 'Na vybrané oblečení dáváme bushmanům záruku 25 let'|trans }}
    </div>
    <div class="box-motto__button">
        <a href="#" class="box-motto__button__link btn btn--secondary btn--small">{{ 'Zobrazit všechny hodnoty'|trans }}</a>
    </div>
</div>
#}
