{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% if products|length > 0 %}
    <div class="web__line">
        <div class="web__container">
            <div id="top-products" class="box-top-products">
                <div class="box-top-products__title">
                    {{ 'Nejoblíbenější kousky'|trans }}
                </div>
                <div class="box-top-products__in">
                    {{ productList.horizontalList(products, variantsIndexedByMainVariantId, "list-top-products", 'h3', 'top-products') }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
