{% macro productAvailabilityWithDeliveryDate(product) %}
    <span>
        {% set domain = getDomain() %}
        {% set deliveryDate = getDeliveryDate(product) %}
        {% set showDeliveryDate = product.usingStock
            and product.stockQuantity > 0
            and deliveryDate is not null  %}

        {% set showNotAvailable = product.stockQuantity < 1 %}

        {% if showDeliveryDate %}
            {% set expectedDeliveryDate = deliveryDate %}
            {% set friendlyDayInterval = expectedDeliveryDate.diff(date()) %}

            {{ expectedDeliveryDate|friendlyDay }}
            {% if friendlyDayInterval.days >= 2 %}
                {{ expectedDeliveryDate|date('j. n.') }}
            {% endif %}
            {{ 'u&nbsp;tebe'|trans|raw }}
        {% elseif showNotAvailable %}
            <span class="color-orange">{{ 'Momentálně nedostupné'|trans }}</span>
        {% endif %}
    </span>
{% endmacro %}
