@form-error-size: 20px;
@form-error-arrow-size: 6px;

.form-error {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    cursor: default;

    &--under {
        display: inline;
        width: 100%;
    }

    &__list {
        .reset-ul();
        line-height: 20px;

        @media @query-md {
            padding: 0 20px;
        }

        li {
            color: @color-red;
            font-size: 16px;
            font-weight: 700;
        }
    }
}
