@form-error-size: 20px;
@form-error-arrow-size: 6px;

.form-error {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    cursor: default;

    &__list {
        .reset-ul();
        line-height: @input-height/2;

        @media @query-md {
            padding: 0 20px;
            line-height: @input-height;
        }

        li {
            color: @color-red;
            font-size: 16px;
            font-weight: 700;
        }
    }
}
