@form-error-size: 20px;
@form-error-arrow-size: 6px;

.form-error {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    
    cursor: default;

    @media @query-md {
        top: 50%;
        transform: translateY(-50%);
    }

    &--under {
        display: inline;
        width: 100%;
    }

    .box-chooser & {
        transform: none;
        top: 0;
    }

    &__list {
        .reset-ul();
        line-height: 20px;

        @media @query-md {
            padding: 0 20px;
        }

        .box-chooser & {
            padding: 10px 0;
        }

        li {
            color: @color-red;
            font-size: 16px;
            font-weight: 700;
        }
    }
}
