.form-input-required {
    display: inline-block;
    padding: 0 1px;

    color: @color-alert;
}
.form-input-not-required {
    display: inline-block;
    padding: 0;

    font-size: 16px;
    color: @color-brown-light;
}
