@form-input-spinbox-padding-vertical: 3px;
@form-input-spinbox-buttons-width: 30px;
@form-input-spinbox-height: 60px;
@form-input-spinbox-input-width: 83px;

.form-input-spinbox {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: @form-input-spinbox-padding-vertical @form-input-spinbox-buttons-width @form-input-spinbox-padding-vertical 3px;

    border: 2px solid @color-border;

    .box-detail__add-basket &,
    .box-detail-sets & {
        display: none;
    }

    &__label {
        position: absolute;
        top: 6px;
        left: 8px;

        color: @color-brown-light;
        font-size: @font-size-small;
        text-transform: uppercase;
        z-index: 1;
    }

    &__input {
        width: @form-input-spinbox-input-width + @form-input-spinbox-padding-vertical;
        padding: @form-input-spinbox-height/2 0 0 5px;
        height: @form-input-spinbox-height - 2 * @form-input-spinbox-padding-vertical;
        line-height: @form-input-spinbox-height - 2 * @form-input-spinbox-padding-vertical;
        text-align: left;

        color: @color-base;
        font-size: 16px;
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: @form-input-spinbox-buttons-width;
        height: @form-input-spinbox-height/2;
        line-height: @form-input-spinbox-height/2;
        text-align: center;
        padding-bottom: 3px;

        background: @color-f;
        color: @color-gray-dark;
        font-size: 30px;
        cursor: pointer;

        &--minus {
            top: auto;
            bottom: 0;
            padding-top: 2px;

            font-size: 20px;
        }

        &:hover {
            background: darken(@color-light, 5%);
        }
    }
}
