@form-line-width-label: 160px;
@form-line-width-input: 360px;
@form-line-gap-between: 10px;
@form-line-margin-bottom: 11px;
@form-line-label-field-gap-mobile: 5px;

.form-line {
    display: flex;
    flex-direction: column;
    margin: 0 0 @form-line-margin-bottom;
    padding: 0;

    @media @query-md {
        flex-direction: row;
    }

    &__input {
        position: relative;
        width: 100%;
        max-width: @form-line-width-input;

        &--full {
            max-width: 100%;
            width: calc(~"100% - 5px");
        }
    }

    &__error {
        position: relative;
        width: 100%;

        @media @query-lg {
            width: calc(~"@{calc-base} - @{form-line-width-input}");
        }
    }

    &__info {
        color: @color-brown-light;
    }

    &__button {
        align-self: center;
    }
}
