@cart-icon-size: 25px;
@cart-icon-gap: 17px;
@cart-number-size: 17px;

.cart {
    display: none;

    @media @query-lg {
        display: inline-block;
        position: relative;
        .clearfix();
        text-align: left;
    }

    &__info {
        display: none;

        @media @query-lg {
            display: inline-block;
            margin-left: @cart-icon-gap;

            text-transform: none;
            font-size: 16px;
        }

        &__currency {
            text-transform: uppercase;
        }
    }

    &__icon {
        position: relative;
        height: @cart-icon-size;
        text-align: left;

        @media @query-lg {
            float: left;
            width: 20px;
            margin-right: 9px;
        }

        .svg-icon {
            &__item-1 {
                fill: @color-f;

                .open & {
                    fill: @color-base;
                }
            }

            &__item-2 {
                fill: @color-turquoise;

                @media @query-lg {
                    fill: @color-f;
                }

                .open & {
                    fill: @color-base;
                }
            }
        }

        &__count {
            position: absolute;
            display: block;
            height: @cart-number-size;
            line-height: @cart-number-size + @font-size-alt-expand;
            min-width: @cart-number-size;
            padding: 0 4px;
            top: -6px;
            right: -11px;
            text-align: center;

            color: @color-f;
            font-size: @font-size-extra-small;
            font-weight: 300;
            border-radius: 20px;
            background-color: @color-red;

            @media @query-lg {
                right: -16px;
            }
        }
    }
}
