@contact-us-phone-icon-size: 25px;

.contact-us {
    display: none;
    align-items: center;

    font-family: @font-alt;

    @media @query-vl {
        display: flex;
    }

    &--everytime-visible {
        display: flex;
        flex-direction: column;

        @media @query-sm {
            flex-direction: row;
        }
    }

    &__open-hours {
        opacity: 0.7;
        margin-bottom: 10px;

        font-size: @font-size-extra-small;
        color: @color-f;

        @media @query-sm {
            margin-bottom: 0;
        }
    }

    &__phone {
        display: flex;
        align-items: center;

        color: @color-f;
        font-size: @font-size;
        font-weight: 700;
        text-decoration: none;

        @media @query-sm {
            margin-left: 16px;
        }

        &:hover {
            text-decoration: none;
            color: @color-f;

            .contact-us__phone__text {
                text-decoration: underline;
            }
        }

        .svg-icon {
            margin-right: 6px;
            height: @contact-us-phone-icon-size;
        }
    }
}
