@logo-max-width: 239px;

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    line-height: 0;
    margin-bottom: 0;

    font-size: 0;

    @media @query-vl {
        max-width: @logo-max-width;
        text-align: left;
    }

    .header--small & {
        max-width: 150px;
        margin: auto;

        @media @query-lg {
            max-width: 100%;
        }
    }

    img {
        max-height: 100%;
    }
}
