@search-button-width: 60px;
@search-input-height: 54px;
@search-input-height-small: 42px;
@search-input-button-icon-size: 25px;

.search {
    position: relative;

    &__form {
        display: flex;

        .box-search & {
            flex-direction: row;

            border-radius: @radius;
        }

        &__input {
            width: 100%;
            position: relative;

            .input {
                width: 100%;
                height: @search-input-height-small;
                line-height: 32px;
                padding: 0 0 0 17px;

                font-size: @font-size-small + 1px;
                font-family: @font-alt;
                border: none;
                box-shadow: none;
                border-radius: @radius 0 0 @radius;

                @media @query-vl {
                    height: @search-input-height;
                }

                &::-webkit-input-placeholder { /* Edge */
                    color: @color-0;
                    opacity: 0.5;
                    font-family: @font-alt;
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: @color-0;
                    opacity: 0.5;
                    font-family: @font-alt;
                }
                  
                &::placeholder {
                    color: @color-0;
                    opacity: 0.5;
                    font-family: @font-alt;
                }
            }
        }

        &__submit {
            display: flex;
            width: @search-button-width;

            background-color: @color-f;
            border-radius: 0 @radius @radius 0;

            &__button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                font-size: @search-input-button-icon-size;
            }
        }
    }

    &__autocomplete {
        position: absolute;
        width: 100%;
        top: @search-input-height-small;
        left: 0;
        z-index: @z-index-above + 1;
        padding: 20px;

        background-color: @color-box;
        border-radius: 0 0 @radius @radius; 

        @media @query-vl {
            top: @search-input-height;
        }
    }

    &.active {
        @media @query-lg {
            .search {
                &__form {
                    &__input {
                        .input {
                            border-radius: @radius 0 0 0;
                        }
                    }

                    &__submit {
                        border-radius: 0 @radius 0 0;
                    }
                }
            }
        }
    }
}
