@top-bar-height: 34px;
@top-bar-item-gap: 42px;
@top-bar-item-text-gap: 10px;

.top-bar {
    display: none;

    @media @query-lg {
        display: block;
        height: @top-bar-height;
        line-height: @top-bar-height;

        @media @query-vl-nested {
            padding-left: 5px;
        }

        @media @query-xl-nested {
            padding-left: 0;
        }

        &__in {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            @media @query-vl-nested {
                flex-direction: row;
                margin: 0 auto;
                padding: 0;
            }
        }

        &__menu {
            .reset-ul();
            display: none;
            margin-bottom: 15px;

            @media @query-vl-nested {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -@top-bar-item-gap;
                margin-bottom: 0;
            }

            &--mobile-visible {
                display: flex;
            }

            &__item {
                margin: 0;

                @media @query-md-nested {
                    margin-left: 18px;
                }

                @media @query-xl-nested {
                    margin-left: @top-bar-item-gap;
                }

                &__link {
                    font-size: @font-size-extra-small + @font-size-alt-expand;
                    font-family: @font-alt;
                    color: @color-base;
                    text-decoration: none;

                    &:hover {
                        color: @color-base;
                        text-decoration: underline;
                    }
                }

                &__text {
                    font-size: 11px + @font-size-alt-expand;
                    font-family: @font-alt;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @color-base;
                    font-weight: 700;

                    &:hover {
                        color: @color-base;
                    }

                    &__title {
                        padding: 2px 5px;
                        margin-right: 10px;
                        
                        background-color: @color-turquoise;
                        border-radius: @radius-small;
                        color: @color-f;
                    }
                }
            }
        }
    }
}
