{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Order could not be paid'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    <h1>{{ 'Order has been created but there were problems during payment'|trans }}</h1>

    <p>{{ 'There were problems during payment of created order with number %orderNumber%.'|trans({ '%orderNumber%' : order.number }) }}</p>

{% endblock %}
