@list-articles-item-image-width: 210px;
@list-articles-item-image-height: 170px;
@list-articles-item-image-gap: 40px;

.list-articles {
    .reset-ul();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 62px;

    @media @query-md {
        flex-direction: row;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;

        @media @query-md {
            width: 100%/2;
            padding-right: 10px;

            &:nth-child(even){
                padding-right: 0;
                padding-left: 10px;
            }
        }

        @media @query-lg {
            width: 100%;
        }

        @media @query-vl {
            width: 100%/2;
            flex-direction: column;
            padding-right: 60px;

            &:nth-child(even){
                padding-right: 0;
                padding-left: 60px;
            }
        }

        @media @query-xl {
            flex-direction: row;
        }

        &__image {
            width: 100%;
            text-align: center;

            @media @query-xl {
                width: @list-articles-item-image-width;
                margin-right: @list-articles-item-image-gap;
            }

            img {
                max-width: @list-articles-item-image-width;
                max-height: @list-articles-item-image-height;
            }
        }

        &__flags {
            display: inline;
            text-align: center;

            @media @query-xl {
                text-align: left;
            }

            &__flag {
                display: inline-block;
                margin: 5px 0;
                line-height: 15px;
                padding: 3px 6px;

                background-color: @color-orange;
                color: @color-f;
                font-size: @font-size;
                font-weight: 700;
                text-transform: uppercase;

                @media @query-xl {
                    margin: 0 20px 10px 0;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media @query-xl {
                width: calc(~"@{calc-base} - @{list-articles-item-image-width} - @{list-articles-item-image-gap}");
            }

            &__title {
                margin-top: 10px;
                margin-bottom: 27px;

                color: @color-base;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;

                @media @query-vl {
                    margin-top: 0;
                }
            }

            &__text {
                line-height: 26px;

                color: @color-brown;
                font-size: 16px;
            }
        }
    }
}
