@list-categories-item-gap: 20px;
@list-categories-item-button-position: 45px;
@list-categories-item-button-position-small: 21px;

@list-categories-columns-count: 3;

.list-categories {
    .reset-ul();
    .clearfix();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 87px;
    margin-left: -@list-categories-item-gap;

    &__title {
        margin-bottom: 30px;

        font-family: @font-alt;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__link {
        position: relative;
        display: block;
    }

    &__item {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-left: @list-categories-item-gap;
        margin-bottom: @list-categories-item-gap;

        @media @query-lg {
            width: calc(~"@{calc-base}/@{list-categories-columns-count} - @{list-categories-item-gap}");
            margin-right: 0;
        }

        .list-categories--four-on-row & {
            width: calc(~"@{calc-base}/4 - @{list-categories-item-gap}");
        }

        img {
            margin: 0 auto;
        }

        &__text {
            display: inline-block;
            line-height: 36px;
            padding: 0 31px;
            text-align: center;

            color: @color-brown;
            font-family: @font-alt;
            font-size: 24px;
            font-weight: 700;

            @media @query-md {
                line-height: 26px;
                font-size: 14px;

            }

            @media @query-lg {
                text-align: left;
                padding-top: 20px;
            }

            &--text-right {
                @media @query-lg {
                    text-align: right;
                    padding-top: 20px;
                    padding-left: 66px;
                }
            }
        }
    }


    &__button {
        display: none;

        @media @query-vl {
            display: block;
            position: absolute;
            width: 100%;
            bottom: @list-categories-item-button-position;
            text-align: center;
        }

        @media @query-xl {
            bottom: @list-categories-item-button-position;
        }
    }
}
