@list-categories-item-gap: 16px;
@list-categories-item-button-position: 45px;
@list-categories-item-button-position-small: 21px;

@list-categories-columns-count: 3;

.list-categories {
    .reset-ul();
    .clearfix();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;

    &__link {
        position: relative;
        display: block;
    }

    &__item {
        display: inline-block;
        width: 100%;
        margin-bottom: 2*@list-categories-item-gap;
        float: left;
        text-align: center;

        @media @query-lg {
            width: calc(~"@{calc-base}/@{list-categories-columns-count}");
            margin-right: 0;
        }

        img {
            margin: 0 auto;
            padding: 0 @list-categories-item-gap @list-categories-item-gap 0;
        }

        &__text {
            display: inline-block;
            line-height: 36px;
            padding: 0 50px 0 50px;
            text-align: center;
            color: @color-brown;
            font-size: 24px;
            font-weight: 700;

            @media @query-lg {
                text-align: left;
                padding-top: 25px;
            }

            &--text-right {
                @media @query-lg {
                    text-align: right;
                    padding-top: 25px;
                    padding-left: 66px;
                }
            }
        }
    }


    &__button {
        display: none;
        position: absolute;
        width: 100%;
        bottom: (@list-categories-item-button-position + @list-categories-item-gap)/2;
        text-align: center;

        @media @query-vl {
            display: block;
        }

        @media @query-xl {
            bottom: @list-categories-item-button-position + @list-categories-item-gap;
        }
    }
}
