@grid-images-small-item-height: 233px;
@grid-images-small-item-count-row: 2;
@grid-images-item-gap: 16px;
@grid-images-item-column-gap: 20px;
@grid-images-item-button-position: 45px;
@grid-images-item-button-position-small: 21px;
@grid-images-portrait-width: 32%;

@grid-images-landscape-width: calc(~"@{calc-base} - @{grid-images-portrait-width}");
@grid-images-landscape-image-width: 397px;
@grid-images-landscape-image-height: 306px;

@grid-images-category-advantages-item-gap: 12px;
@grid-images-category-advantages-item-height: 100px;
@grid-images-category-advantages-item-image-width: 285px;
@grid-images-category-advantages-count: 4;

@grid-images-columns-count: 3;

.list-grid-images {
    display: flex;
    flex-direction: column;

    @media @query-md {
        flex-direction: row;
    }

    &__landscape {
        .reset-ul();
        .clearfix();
        padding: 0;
        width: 100%;

        @media @query-md {
            width: @grid-images-landscape-width;
            margin-right: 0;
        }

        &__link {
            position: relative;
            display: block;
        }

        &__item {
            display: inline-block;
            float: left;
            width: 100%;

            @media @query-sm {
                width: 100%/2;
            }

            img {
                width: 100%;
                max-width: @grid-images-landscape-image-width;
                max-height: @grid-images-landscape-image-height;
                padding-bottom: @grid-images-item-gap;

                @media @query-sm {
                    padding: 0 @grid-images-item-gap @grid-images-item-gap 0;
                }
            }
        }
    }

    &__portrait {
        .reset-ul();
        .clearfix();
        width: 100%;

        @media @query-md {
            width: @grid-images-portrait-width;
        }

        &__link {
            position: relative;
            display: block;
        }

        &__item {
            display: inline-block;
            width: 100%;
            text-align: center;

            img {
                margin: 0 auto;
                padding: 0 0 @grid-images-item-gap 0;
            }
        }
    }

    &__columns {
        .reset-ul();
        .clearfix();
        display: inline-block;
        margin-left: -@grid-images-item-column-gap;
        margin-bottom: 30px;

        &__link {
            position: relative;
            display: block;
        }

        &__item {
            display: inline-block;
            float: left;
            width: 100%;
            margin-bottom: @grid-images-item-column-gap;
            margin-left: @grid-images-item-column-gap/2;
            text-align: center;

            @media @query-lg {
                margin-left: @grid-images-item-column-gap;
                width: calc(~"@{calc-base}/@{grid-images-columns-count} - @{grid-images-item-column-gap}");
            }

            img {
                margin: 0 auto;
                margin-bottom: @grid-images-item-column-gap;
            }
        }

        &__text {
            display: inline-block;
            line-height: 26px;
            text-align: center;
            padding: 0 50px;

            color: @color-brown;
            font-family: @font-alt;
            font-size: 16px;
        }
    }

    &__category-advantages {
        .reset-ul();
        .clearfix();
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100% + 2*@grid-images-category-advantages-item-gap;
        margin: 0 -@grid-images-category-advantages-item-gap/2 20px -@grid-images-category-advantages-item-gap/2;

        @media @query-md {
            flex-direction: row;
        }

        @media @query-lg {
            margin-bottom: 35px;
        }

        &__item {
            display: flex;
            position: relative;
            width: 100%;
            height: @grid-images-category-advantages-item-height;
            margin-bottom: 2*@grid-images-item-gap;

            overflow: hidden;
            background-color: @color-gray;

            @media @query-md {
                width: calc(~"@{calc-base}/2 - @{grid-images-category-advantages-item-gap}");
                margin: 0 @grid-images-category-advantages-item-gap/2 @grid-images-category-advantages-item-gap @grid-images-category-advantages-item-gap/2;
            }

            @media @query-xl {
                width: calc(~"@{calc-base}/@{grid-images-category-advantages-count} - @{grid-images-category-advantages-item-gap}");
            }

            &__image {
                position: absolute;

                &.left {
                    left: -@grid-images-category-advantages-item-image-width/2;
                    bottom: -20%;
                }

                &.right {
                    right: -@grid-images-category-advantages-item-image-width/2;
                    bottom: -20%;
                }

                &.center {
                    bottom: -70%;
                    left: calc(~"50% - @{grid-images-category-advantages-item-image-width}/2");
                }
            }

            &__button {
                display: block;
                width: 100%;
                padding: 30px;

                color: @color-base;

                &__btn {
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                &.left {
                    text-align: left;
                }

                &.right {
                    text-align: right;
                }

                &.center {
                    text-align: center;
                }
            }
        }
    }

    &__button {
        position: absolute;
        width: 100%;
        bottom: 24px;
        text-align: center;

        @media @query-mobile {
            .btn {
                height: @list-categories-small-btn-height;
                line-height: @list-categories-small-btn-height;
                min-height: @list-categories-small-btn-height;
            }
        }

        @media @query-lg {
            bottom: (@grid-images-item-button-position + @grid-images-item-gap)/2;
        }

        @media @query-xl {
            bottom: @grid-images-item-button-position + @grid-images-item-gap;
        }

        &--small-gap-under {
            bottom: 24px;

            @media @query-lg {
                bottom: @grid-images-item-button-position-small + @grid-images-item-gap;
            }
        }
    }
}
