@image-line-item-count: 8;
@image-line-item-height: 169px;
@image-line-link-height: 34px;

.list-images-line {
    .reset-ul();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    @media @query-xl {
        flex-wrap: nowrap;
    }

    &__item {
        width: calc(~"@{calc-base}/2");
        padding-right: 3px;

        @media @query-md {
            width: calc(~"@{calc-base}/4");

        }

        @media @query-xl {
            width: calc(~"@{calc-base}/@{image-line-item-count}");
        }
    }
}
