@image-line-item-count-mobile: 2;
@image-line-item-count-tablet: 4;
@image-line-item-count-desktop: 8;

@image-line-item-gap: 3px;
@image-line-item-height: 177px;

@image-line-bottom-gap: 20px;

.list-images-line {
    .reset-ul();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin-bottom: @image-line-bottom-gap;

    @media @query-xl {
        width: calc(~"100% + @{image-line-item-gap}");
        margin: 0 -@image-line-item-gap/2 @image-line-bottom-gap -@image-line-item-gap/2;
        flex-wrap: nowrap;
    }

    &__item {
        width: calc(~"@{calc-base}/@{image-line-item-count-mobile}");
        padding: 0 @image-line-item-gap/2;

        @media @query-md {
            width: calc(~"@{calc-base}/@{image-line-item-count-tablet}");
        }

        @media @query-xl {
            width: calc(~"@{calc-base}/@{image-line-item-count-desktop}");
        }

        img {
            max-height: @image-line-item-height;
        }
    }
}
