@image-line-item-count: 8;
@image-line-item-height: 169px;
@image-line-link-height: 34px;

.list-images-line {
    .reset-ul();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;

    @media @query-xl {
        flex-wrap: nowrap;
    }

    &__title {
        display: block;
        margin-bottom: 26px;
        text-align: center;

        color: @color-base;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        &__link {
            position: relative;
            display: inline-block;
            margin-left: 32px;
            margin-top: -5px;
            height: @image-line-link-height;
            line-height: @image-line-link-height;
            padding: 0 19px;
            top: -3px;

            background-color: @color-orange;
            color: @color-f;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;

            .svg {
                position: relative;
                top: 4px;
                left: -5px;

                font-size: 20px;
            }
        }
    }

    &__item {
        width: calc(~"@{calc-base}/2");
        padding-right: 3px;

        &:nth-child(even){
            padding-right: 0;
            padding-left: 3px;
        }

        @media @query-md {
            width: calc(~"@{calc-base}/4");

            &:nth-child(even){
                padding-right: 0;
                padding-left: 0;
            }
        }

        @media @query-xl {
            width: calc(~"@{calc-base}/@{image-line-item-count}");
        }
    }
}
