@list-menu-padding-right: 25px;
@list-menu-arrow-size: 25px;
@list-menu-columns-count: 4;
@list-menu-columns-gap: 18px;
@list-menu-item-height: 38px;
@list-menu-item-bottom-gap: 10px;

// global settings
.list-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__column {
        .reset-ul();
        width: calc(~"@{calc-base}/@{list-menu-columns-count}");
    }

    &__title {
        margin-bottom: 35px;
        padding-right: @list-menu-columns-gap;

        color: @color-base;
        font-size: @font-size-big;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__item {
        display: inline-block;
        line-height: @list-menu-item-height + 2px;
        height: @list-menu-item-height;
        padding-right: @list-menu-columns-gap;
        margin-bottom: @list-menu-item-bottom-gap;
        width: 100%;

        white-space: nowrap;

        &__link {
            position: relative;
            height: @list-menu-item-height;
            line-height: @list-menu-item-height;
            padding: 0;

            color: @color-base;
            font-size: @font-size;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
