@list-menu-padding-right: 25px;
@list-menu-arrow-size: 25px;
@list-menu-columns-count: 3;
@list-menu-columns-gap: 18px;
@list-menu-item-height: 36px;

// global settings
.list-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media @query-vl {
        flex-direction: row;
    }

    &__column-single {
        .reset-ul();
        width: 100%;

        &--with-icon {
            @media @query-vl {
                margin-top: 60px;
            }
        }
    }

    &__column {
        .reset-ul();
        width: 100%;
        margin-bottom: 15px;

        @media @query-vl {
            width: calc(~"@{calc-base}/@{list-menu-columns-count}");
        }
    }

    &__title {
        padding-right: @list-menu-columns-gap;

        color: @color-base;
        font-size: @font-size-big;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        @media @query-vl {
            margin-bottom: 15px;
        }

        .list-menu__column-single & {
            margin-bottom: 6px;
        }

        .svg {
            position: relative;
            top: 5px;
            margin-right: 12px;

            font-size: 20px;
        }

        &__link {
            color: @color-base;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    &__item {
        display: inline-block;
        line-height: @list-menu-item-height + 4px;
        height: @list-menu-item-height;
        padding-right: @list-menu-columns-gap;
        width: 100%;

        white-space: nowrap;

        &__link {
            position: relative;
            height: @list-menu-item-height;
            line-height: @list-menu-item-height;
            padding: 0;
            margin-right: 10px;

            color: @color-base;
            font-size: @font-size;
            text-decoration: none;

            .list-menu__column-single & {
                text-transform: none;
                font-size: @font-size-big;
            }

            &:hover {
                font-weight: 700;
            }
        }
    }
}
