@list-simple-line-height: 20px;

.list-simple {
    .reset-ul();

    &__item {
        position: relative;
        line-height: @list-simple-line-height;
        margin-bottom: 10px;

        &__link {
            line-height: 25px;

            color: @color-base;
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
        }
    }

}
