.list-socials {
    .reset-ul();
    display: flex;
    width: 100%;
    margin-right: @footer-top-social-gap;
    flex-direction: column;

    background-color: @color-f;
    border-radius: @radius;

    @media @query-vl {
        width: calc(~"100% - @{footer-top-social-gap}");
    }

    @media @query-xl {
        height: @footer-top-social-height;
        flex-direction: row;
    }

    &__item {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-bottom: 1px solid @color-gray;
        color: @color-brown;

        @media @query-xl {
            width: calc(~"@{calc-base}/3");

            border-right: 1px solid @color-gray;
        }

        &:last-child {
            border-right: 0;
        }

        &__link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            line-height: @footer-top-social-height;
            width: 100%;

            font-size: @font-size;
            font-weight: bold;
            color: @color-base;
            text-transform: uppercase;
            text-decoration: none;

            @media @query-xl {
                height: @footer-top-social-height;
                flex-direction: row;
            }
        }

        &__icon {
            align-self: center;
            margin-right: 12px;

            font-size: 30px;
            color: @color-brown;

            &--facebook {
                .list-socials__item:hover & {
                    color: @color-facebook;
                }
            }

            &--instagram {
                .list-socials__item:hover & {
                    color: @color-instagram;
                }
            }

            &--youtube {
                padding-top: 3px;

                font-size: 35px;

                .list-socials__item:hover & {
                    color: @color-youtube;
                }
            }
        }
    }
}
