@list-variants-item-size: 30px;
@list-variants-item-gap: 11px;
@list-variants-item-padding: 5px;
@list-variants-item-gap-with-image: 8px;
@list-variants-item-bg: @color-f;
@list-variants-item-bg-hover: #d4ebd0;
@list-variants-item-bg-active: @color-green;
@list-variants-item-border-color: @color-green;
@list-variants-item-disabled-font-color: #cecdcd;

@list-variants-item-with-image-width: 84px;
@list-variants-item-with-image-height: 114px;
@list-variants-item-with-image-picture-size: 60px;

.list-variants {
    .reset-ul();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -@list-variants-item-gap;
    margin-bottom: -@list-variants-item-gap;

    &--filter {
        margin-right: -@list-variants-item-gap;
    }

    &__item {
        min-width: @list-variants-item-size;
        height: @list-variants-item-size;
        line-height: @list-variants-item-size - 4px;
        margin: 0 @list-variants-item-gap @list-variants-item-gap 0;
        padding: 0 @list-variants-item-padding;
        text-align: center;

        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
        color: @color-brown-light-2;
        background-color: @list-variants-item-bg;
        border: 3px solid @list-variants-item-border-color;

        &:hover {
            background-color: @list-variants-item-bg-hover;
        }

        &.active {
            color: @color-f;
            background-color: @list-variants-item-bg-active;
        }

        &.disabled {
            color: @list-variants-item-disabled-font-color;
            background-color: transparent;
            border: 3px solid @color-gray-dark;
        }

        &__label {
            display: block;
            margin: 0 -@list-variants-item-padding;
            width: calc(~"100% + 2*@{list-variants-item-padding}");
            height: @list-variants-item-size - 4px;

            cursor: pointer;
        }

        &__name {
            display: block;
            word-wrap: break-word;
        }

        &__with-image {
            padding: 10px 10px 8px 10px;
            width: @list-variants-item-with-image-width;
            margin: 0 @list-variants-item-gap-with-image @list-variants-item-gap-with-image 0;
            text-align: center;

            cursor: pointer;
            background-color: transparent;
            border: 3px solid @color-gray-dark;

            img {
                max-height: @list-variants-item-with-image-picture-size;
                max-width: @list-variants-item-with-image-picture-size;
                margin-bottom: 9px;
                filter: brightness(0.94);
            }

            &.active {
                background-color: @color-f;
                border: 3px solid @list-variants-item-border-color;

                img {
                    filter: brightness(1);
                }
            }

            &__name {
                color: @color-base;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    &__item-color {
        width: @list-variants-item-size;
        height: @list-variants-item-size;
        line-height: @list-variants-item-size - 4px;
        margin: 0 @list-variants-item-gap @list-variants-item-gap 0;
        text-align: center;

        .svg {
            display: none;
            color: @color-f;
            line-height: 24px;

            font-size: 20px;
            text-shadow: 0px 0px 2px @color-0;
        }

        &.active {
            .svg {
                display: block;
            }
        }

        &__label {
            display: block;
            width: 100%;
            height: @list-variants-item-size;

            cursor: pointer;
        }
    }
}

input[type=checkbox]:checked + .list-variants__item {
    color: @color-f;
    background-color: @list-variants-item-bg-active;
}

input[type=checkbox]:checked + .list-variants__item-color {
    .svg {
        display: block;
    }
}
