
<ul class="top-bar__menu top-bar__menu--mobile-visible">
    <li class="top-bar__menu__item">
        <a href= "{{ headerLink }}" class="top-bar__menu__item__text">
            <span class="top-bar__menu__item__text__title">
                {{ headerTitle }}
            </span>
            {{ headerText}}
        </a>
    </li>
</ul>