
<ul class="top-bar__menu top-bar__menu--mobile-visible">
    <li class="top-bar__menu__item">
        <span class="top-bar__menu__item__text">
            <span class="top-bar__menu__item__text__title top-bar__menu__item__text__title--colored">
                <a href= "{{ headerLink }}" class="top-bar__menu__item__link"> 
                    {{ headerTitle }}:
            </span>
                    {{ headerText}}
                </a>
        </span>
    </li>
</ul>