@input-height: 50px;
@input-textarea-height: @input-height * 3;
@input-padding-vertical: 15px;
@input-padding-horizontal: 10px;
@input-font-size: @font-size-big;
@input-font-size-label: 12px;
@input-font-color: #1D4063;
@input-border-size: 1px;

@select-arrow-width: 50px;
@select-inner-padding: 10px;

@input-border-color: @color-border-dark;
@input-error-border-color: @color-red;
@input-background: @color-f;
@input-box-shadow: @box-shadow-outer;
@input-disabled-background: #eff1f2;

@input-label-width: 72px;

.input {
    flex: 1;
    max-width: 100%;
    width: 100%;
    height: @input-height;
    line-height: 30px;
    padding: @input-padding-vertical @input-padding-horizontal 0 @input-padding-horizontal;

    border: @input-border-size solid @input-border-color;
    border-radius: @radius-medium;
    color: @input-font-color;
    font-size: @input-font-size;
    font-family: @font-alt;
    background-color: @input-background;
    transition: border-color 0.2s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

    &--textarea {
        height: @input-textarea-height;
        line-height: 20px;
        padding: @input-padding-vertical @input-padding-horizontal;
    }

    &:focus {
        padding: @input-padding-vertical @input-padding-horizontal - 1px 0 @input-padding-horizontal - 1px;

        outline: 0;
        border: 2px solid @color-add;
    }

    .form-input-error & ,
    &.form-input-error {
        padding-right: 25px;

        border-color: @input-error-border-color;

        &:focus {
            border-color: @input-error-border-color;
        }
    }

    .form-input-disabled &,
    &.form-input-disabled {
        background: @input-disabled-background;
    }
}

.input-label {
    position: absolute;
    top: 5px;
    left: @input-padding-horizontal;
    display: block;
    z-index: @z-index-above + 1;

    font-size: @input-font-size-label;
    font-family: @font-alt;
    color: @color-primary;
}

.input-no-style {
    width: auto;

    border: 0;
    background: none;
    color: @color-base;
    box-shadow: none;

    &:focus {
        outline: 0;
    }
}


input[type="date"]::-webkit-input-placeholder,
input[type="timedate"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: vertical;
}

select {
    width: 100%;
    padding: 0 @select-arrow-width 0 @select-inner-padding;
    line-height: @input-height - 2 * @input-border-size;
    height: @input-height;
    
    border-radius: @radius-small;
    border: 1px solid @color-border;
    font-size: 13px;
    color: @input-font-color;
    background-color: @input-background;
    box-shadow: @box-shadow-outer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
