@list-article-product-item-padding: 20px;
@list-article-product-item-image-size: 70px;
@list-article-product-item-title-rows: 2;
@list-article-product-item-info-left: 40%;

.list-article-product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;

    &__item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 15px;
        padding-bottom: 18px;

        border-bottom: 1px solid @color-border;

        @media @query-sm {
            flex-direction: row;
        }

        &:last-child {
            margin-bottom: 0;

            border-bottom: 0;
        }

        &__image {
            position: relative;
            width: @list-article-product-item-image-size;
            margin: 0;
        }

        &__title {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            line-height: 18px;

            font-size: @font-size-small;
            font-weight: 400;
            color: @color-base;
            text-decoration: none;

            @media @query-sm {
                width: calc(~"100% - @{list-article-product-item-image-size}");
                padding-left: 15px;
            }

            &:hover {
                text-decoration: underline;
                color: @color-base;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media @query-sm {
                flex-direction: row;
                margin-top: 10px;
            }

            &__left {
                width: 100%;

                @media @query-sm {
                    width: @list-article-product-item-info-left;
                }
            }

            &__right {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media @query-sm {
                    width: calc(~"100% - @{list-article-product-item-info-left}");
                    padding-left: 10px;
                    align-items: flex-end;
                }
            }

            &__price {
                line-height: 18px;
                margin-bottom: 5px;

                &__main {
                    display: block;
                    text-align: right;

                    color: @color-price;
                    font-weight: 700;
                    font-size: @font-size-small;
                }

                &__old {
                    display: inline;

                    font-weight: normal;
                    font-size: @font-size-extra-small;
                    color: @color-price-old;
                    text-decoration: line-through;
                }
            }
        }
    }
}
