@list-articles-item-gap: 120px;
@list-articles-item-gap-small: 20px;
@list-articles-item-image-width: 210px;
@list-articles-item-image-width-small: 100px;
@list-articles-item-image-height: 170px;
@list-articles-item-image-height-small: 100px;
@list-articles-item-image-gap: 40px;
@list-articles-item-image-gap-small: 15px;

.list-articles {
    .reset-ul();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    @media @query-md {
        flex-direction: row;
        width: calc(~"100% + @{list-articles-item-gap-small}");
        margin-left: -@list-articles-item-gap-small;
    }

    @media @query-lg {
        width: 100%;
        margin-left: 0;
    }

    @media @query-vl {
        width: calc(~"100% + @{list-articles-item-gap}");
        margin-left: -@list-articles-item-gap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;

        @media @query-md {
            width: 100%/2;
            padding-left: @list-articles-item-gap-small;
        }

        @media @query-vl {
            flex-direction: column;
            padding-left: @list-articles-item-gap;
        }

        @media @query-xl {
            flex-direction: row;
        }

        &:first-child {
            .list-articles--product-list & {
                margin-bottom: 0;
            }
        }

        &--full-size {
            width: 100%;
            padding: 0;

            &:nth-child(even) {
                padding: 0;
            }
        }

        .list-articles--product-list & {
            width: 100%;
            padding-right: 0;
        }

        &__image {
            width: 100%;
            text-align: left;
            margin-bottom: 10px;

            font-size: 0;

            @media @query-lg {
                text-align: center;
            }

            @media @query-xl {
                width: @list-articles-item-image-width;
                margin-right: @list-articles-item-image-gap;
                margin-bottom: 0;

                .list-articles--product-list & {
                    width: @list-articles-item-image-width-small;
                    margin-right: @list-articles-item-image-gap-small;
                }
            }

            img {
                border-radius: @radius;

                @media @query-md {
                    max-width: @list-articles-item-image-width;
                    max-height: @list-articles-item-image-height;

                    .list-articles--product-list & {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                @media @query-xl {
                    .list-articles--product-list & {
                        max-width: @list-articles-item-image-width-small;
                        max-height: @list-articles-item-image-height-small;
                    }
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media @query-xl {
                width: calc(~"@{calc-base} - @{list-articles-item-image-width} - @{list-articles-item-image-gap}");

                .list-articles--product-list & {
                    width: calc(~"@{calc-base} - @{list-articles-item-image-width-small} - @{list-articles-item-image-gap-small}");
                }
            }

            &__title {
                margin-top: 10px;
                margin-bottom: 5px;
                line-height: 21px;

                color: @color-base;
                font-size: 18px;
                font-weight: 600;
                text-decoration: underline;

                @media @query-vl {
                    margin-top: 0;
                }

                .list-articles--white & {
                    color: @color-f;
                }
            }

            &__text {
                line-height: 24px;
                margin-bottom: 10px;

                color: @color-base;
                font-size: 16px + @font-size-alt-expand;
                font-family: @font-alt;

                .list-articles--white & {
                    opacity: 0.6;

                    color: @color-f;
                }
            }

            &__date {
                font-size: 12px + @font-size-alt-expand;
                font-weight: 700;
                font-family: @font-alt;

                .list-articles--white & {
                    color: @color-f;
                }

                .list-articles--product-list & {
                    display: none;
                }
            }
        }
    }
}
