@list-benefits-count: 3;
@list-benefits-icon-size: 31px;
@list-benefits-width-mobile: 280px;

.list-benefits {
    .reset-ul();
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    margin-top: 5px;

    @media @query-lg {
        flex-direction: row;
        margin-bottom: 24px;
        margin-top: 0;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 15px;

        @media @query-lg {
            justify-content: center;
            width: calc(~"@{calc-base}/@{list-benefits-count}");
            margin-bottom: 0;
            padding-right: 20px;
        }

        &__icon {
            display: flex;
            width: @list-benefits-icon-size;
        }

        &__text {
            padding-left: 12px;

            color: @color-base;
            font-size: 12px;
            text-transform: uppercase;

            &__link {
                color: @color-base;
                text-decoration: underline;

                &:hover {
                    color: @color-base;
                }
            }
        }
    }
}
