@list-cart-preview-image-size: 70px;
@list-cart-preview-title-size: 120px;
@list-cart-preview-item-bottom-gap: 25px;
@list-cart-preview-item-title-lines: 2;
@list-cart-preview-item-gap: 10px;

.list-cart-preview {
    .reset-ul();
    display: flex;
    flex-direction: column;

    &__title {
        margin: 20px 0 10px;
        line-height: 20px;

        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: @list-cart-preview-item-bottom-gap / 2;
        padding-bottom: @list-cart-preview-item-bottom-gap / 2;

        border-bottom: 1px solid @color-border;

        @media @query-md {
            flex-wrap: nowrap;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;

            border-bottom: 0;
        }

        &__image {
            width: @list-cart-preview-image-size + @list-cart-preview-item-gap;
            height: @list-cart-preview-image-size;
            line-height: @list-cart-preview-image-size;
            padding-right: @list-cart-preview-item-gap;

            img {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__pieces {
            line-height: 18px;
            padding-right: @list-cart-preview-item-gap;

            font-size: @font-size-extra-small;
        }

        &__title {
            width: @list-cart-preview-title-size;
            line-height: 18px;
            overflow: hidden;
            padding-right: @list-cart-preview-item-gap;

            color: @color-base;
            font-size: @font-size-extra-small;
            text-decoration: none;
        }

        &__info {
            flex: 1;
            margin-left: auto;
            text-align: right;
        }

        &__price {
            display: flex;
            align-self: center;
            justify-content: flex-end;
            text-align: right;
            line-height: 18px;

            color: @color-base;
            font-size: @font-size-mobile;
            font-weight: 700;

            @media @query-lg {
                font-size: @font-size-small;
            }

            &__old {
                padding-left: 5px;

                font-weight: 400;
                font-size: @font-size-extra-small;
                color: @color-gray;
            }
        }
    }
}
