@list-cart-preview-image-size: 70px;
@list-cart-preview-image-size-small: 50px;
@list-cart-preview-item-bottom-gap: 25px;
@list-cart-preview-item-title-lines: 2;
@list-cart-preview-item-gap: 10px;
@list-cart-preview-item-info-item-line-height: 18px;

.list-cart-preview {
    .reset-ul();
    display: flex;
    flex-direction: column;

    &__title {
        margin: 20px 0 10px;
        line-height: 20px;

        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: @list-cart-preview-item-bottom-gap / 2;
        padding-bottom: @list-cart-preview-item-bottom-gap / 2;

        border-bottom: 1px solid @color-border;

        &:last-child {
            border-bottom: 0;

            .list-cart-preview--without-opener & {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        &--sets {
            @media @query-md {
                flex-wrap: wrap;
            }
        }

        &__wrap-image {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
        }

        &__image {
            position: relative;
            width: @list-cart-preview-image-size;
            height: @list-cart-preview-image-size;

            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }

            &--sets {
                width: @list-cart-preview-image-size-small - 23px;
                height: @list-cart-preview-image-size-small - 23px;
                margin-right: 20px;

                @media @query-sm {
                    width: @list-cart-preview-image-size-small - 15px;
                    height: @list-cart-preview-image-size-small - 15px;
                }

                @media @query-md {
                    width: @list-cart-preview-image-size-small;
                    height: @list-cart-preview-image-size-small;
                }

                &:before {
                    z-index: @z-index-above;
                    position: absolute;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);

                    font-size: 11px;
                    color: @color-turquoise;
                }
            }

            img {
                .center-image();
            }
        }

        &__title {
            flex: 1;
            line-height: 18px;
            overflow: hidden;
            padding-left: @list-cart-preview-item-gap;

            color: @color-base;
            font-size: @font-size-extra-small;
            text-decoration: none;

            .list-cart-preview__item--sets & {
                padding-left: 0;
                width: 100%;
                flex: auto;
            }
        }

        &__info {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__availability {
            line-height: @list-cart-preview-item-info-item-line-height;
        }

        &__pieces {
            line-height: @list-cart-preview-item-info-item-line-height;
            padding-left: @list-cart-preview-item-gap;
            margin-left: auto;

            font-size: @font-size-extra-small;
        }

        &__price {
            display: flex;
            align-self: center;
            justify-content: flex-end;
            text-align: right;
            line-height: @list-cart-preview-item-info-item-line-height;
            padding-left: @list-cart-preview-item-gap;

            color: @color-base;
            font-size: @font-size-mobile;
            font-weight: 700;

            @media @query-lg {
                font-size: @font-size-small;
            }

            &__old {
                padding-left: 5px;

                font-weight: 400;
                font-size: @font-size-extra-small;
                color: @color-gray;
            }
        }
    }
}
