@list-categories-columns-count: 3;

@list-categories-image-size: 56px;
@list-categories-item-border-size: 1px;

.list-categories-wrap {
    margin-bottom: 40px;
        
    border: 3px solid @color-border;
    border-radius: @radius;
}

.list-categories {
    .reset-ul();
    .clearfix();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -@list-categories-item-border-size -@list-categories-item-border-size 0;

    &__title {
        margin-bottom: 30px;

        font-family: @font-alt;
        font-size: @font-size-big + 1px; 
        font-weight: 700;
        text-transform: uppercase;
    }

    &__link {
        position: relative;
        overflow: hidden;
        text-align: center;
        
        border-radius: @radius;

        @media @query-lg {
            width: 100%;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 4px 10px;

        font-size: 0;
        border-bottom: @list-categories-item-border-size solid @color-border;
        border-right: @list-categories-item-border-size solid @color-border;

        @media @query-lg {
            width: calc(~"@{calc-base} / @{list-categories-columns-count}");
            margin-right: 0;
        }

        .list-categories--four-on-row & {
            @media @query-vl {
                width: calc(~"@{calc-base} / 4");
            }
        }

        &__link {
            display: flex;
            width: 100%;
            flex-direction: row;

            &:hover {
                text-decoration: none;
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @list-categories-image-size;
            height: @list-categories-image-size;
        }

        &__info {
            display: flex;
            align-items: center;
            width: calc(~"100% - @{list-categories-image-size}");
            padding-left: 16px;
        }

        &__text {
            line-height: 21px;
            margin: 0;

            font-size: 16px;
            font-weight: 600;
            color: @color-primary;

            &__name {
                text-decoration: underline;
            }
        }
    }
}
