@list-categories-item-gap: 16px;
@list-categories-item-inner-gap-horizontal: 10px;
@list-categories-item-inner-gap-vertical: 4px;
@list-categories-image-size: 56px;

.list-categories {
    .reset-ul();
    .clearfix();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @media @query-md {
        margin-left: -@list-categories-item-gap;
    }

    &__item {
        width: 100%;
        margin-bottom: @list-categories-item-gap;

        @media @query-md {
            width: calc(~"@{calc-base} / 2 - @{list-categories-item-gap}");
            margin-left: @list-categories-item-gap;
        }

        @media @query-lg {
            width: calc(~"@{calc-base} / 3 - @{list-categories-item-gap}");
        }

        @media @query-vl {
            width: calc(~"100% / 4 - @{list-categories-item-gap}");
        }

        &__link {
            display: flex;
            width: 100%;
            padding: @list-categories-item-inner-gap-vertical @list-categories-item-inner-gap-horizontal;
            flex-direction: row;

            border: 3px solid @color-border;
            border-radius: @radius;
            transition: @transition-time box-shadow @transition-type;

            &:hover {
                padding: @list-categories-item-inner-gap-vertical + 2px @list-categories-item-inner-gap-horizontal + 2px;
                    
                border: 1px solid @color-blue;
                box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
                text-decoration: none;
    
                .list-categories__item__text {
                    color: @color-primary;
    
                    &__name {
                        text-decoration: none;
                    }
                }
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @list-categories-image-size;
            height: @list-categories-image-size;
        }

        &__info {
            display: flex;
            align-items: center;
            width: calc(~"100% - @{list-categories-image-size}");
            padding-left: 16px;
        }

        &__text {
            line-height: 21px;
            margin: 0;

            font-size: 16px;
            font-weight: 600;
            color: @color-base;

            &__name {
                text-decoration: underline;
            }
        }
    }
}
