@grid-images-item-gap: 16px;
@grid-images-item-gap-small: 10px;

.list-grid-images {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__landscape {
        .reset-ul();
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: -@grid-images-item-gap-small;

        @media @query-md {
            flex-direction: row;
        }

        @media @query-lg {
            margin-left: -@grid-images-item-gap;
        }

        &__link {
            position: relative;
            display: block;
            height: 0;
            padding-bottom: 75%;

            font-size: 0;
        }

        &__item {
            margin-bottom: @grid-images-item-gap-small;
            margin-left: @grid-images-item-gap-small;

            font-size: 0;

            @media @query-md {
                width: calc(~"@{calc-base} / 3 - @{grid-images-item-gap-small}");
            }

            @media @query-lg {
                width: calc(~"@{calc-base} / 3 - @{grid-images-item-gap}");
                margin-bottom: @grid-images-item-gap;
                margin-left: @grid-images-item-gap;
            }

            img {
                border-radius: @radius;

                @media @query-sm {
                    border-radius: @radius-big;
                }
            }
        }
    }

    &__portrait {
        .reset-ul();
        .clearfix();
        width: 100%;
        
        font-size: 0;

        &__link {
            position: relative;
            display: block;

            font-size: 0;
        }

        &__item {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-bottom: @grid-images-item-gap-small;

            @media @query-lg {
                margin-bottom: @grid-images-item-gap;
            }

            img {
                border-radius: @radius;

                @media @query-sm {
                    border-radius: @radius-big;
                }
            }
        }
    }
}
