@grid-images-item-gap: 16px;
@grid-images-item-gap-small: 10px;

.list-grid-images {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__landscape {
        .reset-ul();
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: -@grid-images-item-gap-small;

        @media @query-md {
            flex-direction: row;
        }

        @media @query-lg {
            margin-left: -@grid-images-item-gap;
        }

        &__item {
            width: 100%;
            margin-bottom: @grid-images-item-gap-small;
            padding-left: @grid-images-item-gap-small;

            font-size: 0;

            @media @query-md {
                width: calc(~"@{calc-base} / 3");
            }

            @media @query-lg {
                width: calc(~"@{calc-base} / 3");
                margin-bottom: @grid-images-item-gap;
                padding-left: @grid-images-item-gap;
            }
        }

        &__link {
            position: relative;
            display: block;
            height: 0;
            padding-bottom: 74.197%;

            font-size: 0;

            @media @query-sm {
                padding-bottom: 320px;
            }

            @media @query-md {
                padding-bottom: 75%;
            }

            img {
                .center-image();

                border-radius: @radius;

                @media @query-sm {
                    border-radius: @radius-big;
                }
            }
        }
    }

    &__portrait {
        .reset-ul();
        width: 100%;
        
        font-size: 0;

        &__item {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-bottom: @grid-images-item-gap-small;

            @media @query-lg {
                margin-bottom: @grid-images-item-gap;
            }
        }

        &__link {
            position: relative;
            display: block;
            height: 0;
            padding-bottom: 74.197%;

            font-size: 0;

            @media @query-sm {
                padding-bottom: 320px;
            }

            @media @query-md {
                padding-bottom: 24.4%;
            }

            img {
                .center-image();

                border-radius: @radius;

                @media @query-sm {
                    border-radius: @radius-big;
                }

                &.image-noticer-rectangle, &.image-noimage-rectangle {
                    display: none;

                    @media @query-md {
                        display: block;
                    }
                }

                &.image-noticer-mobile, &.image-noimage-mobile {
                    @media @query-md {
                        display: none;
                    }
                }
            }
        }
    }
}
