@list-menu-gap: 10px;
@list-menu-select-spacer-height: 10px;
@list-menu-padding-right: 25px;
@list-menu-open-background-color: @color-light;
@list-menu-arrow-size: 10px;
@list-menu-columns-count: 3;
@list-menu-columns-gap: 30px;
@list-menu-columns-gap-small: 16px;
@list-menu-item-height: 36px;
@list-menu-item-link-padding: 15px;

@list-menu-submenu-image-size: 80px;
@list-menu-submenu-item-color: #1D3755;

// global settings
.list-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: @list-menu-gap 0;
    padding-left: 0;

    @media @query-vl {
        flex-direction: row;
        margin-left: -@list-menu-item-link-padding;
    }

    &--footer {
        display: none;
        margin: 0;
        padding-left: 20px;

        &:last-child {
            margin-bottom: 20px;

            @media @query-lg {
                margin-bottom: 0;
            }
        }

        @media @query-lg {
            flex: 1;
            display: block !important;
            padding-left: 0;
        }
    }

    &__column {
        .reset-ul();
        width: 100%;

        @media @query-lg {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: auto;
        }
    }

    &__item {
        display: block;
        width: 100%;

        white-space: nowrap;

        &--main {
            display: inline-block;
            width: auto;
            padding: 0 20px;

            @media @query-vl {
                padding: 0;
            }

            @media @query-xl {
                padding: 0 @list-menu-columns-gap 0 0;
            }
        }

        .list-menu--footer & {
            @media @query-lg {
                width: auto;
            }
        }

        &__select {
            position: relative;

            &:before {
                @media @query-vl {
                    content: '';
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    height: @list-menu-select-spacer-height;
                    
                    background-color: @list-menu-open-background-color;

                    .open & {
                        display: block;
                    }
                }
            }

            .open & {
                position: relative;
                z-index: @z-index-above + 1;

                border-radius: @radius @radius 0 0;

                @media @query-vl {
                    background-color: @list-menu-open-background-color;
                }
            }
        }

        &__options {
            @media @query-vl {
                display: none;
                position: absolute;
                left: -@list-menu-item-link-padding;
                right: -@list-menu-item-link-padding;
                top: @list-menu-item-height + @list-menu-gap + @list-menu-select-spacer-height;
                z-index: @z-index-above;
                padding: 5px 0;
                min-width: 200px;

                background-color: @list-menu-open-background-color;
                border-radius: 0 0 @radius @radius;

                .open &  {
                    display: block;
                }
            }
        }

        &__link {
            position: relative;
            height: @list-menu-item-height;
            line-height: @list-menu-item-height;

            font-size: @font-size;
            transition: none;
            text-decoration: none;

            @media @query-vl {
                padding: 0 @list-menu-item-link-padding;
            }

            &:hover {
                text-decoration: underline;
            }

            &__arrow {
                display: none;

                @media @query-vl {
                    display: inline-block;
                    vertical-align: middle;
                    height: @list-menu-arrow-size;
                    margin-left: 5px;
                    opacity: 0.6;

                    font-size: @list-menu-arrow-size;

                    .open & {
                        transform: rotate(180deg);
                        color: @color-turquoise;
                    }
                }
            }

            &--with-dropdown {
                &:hover {
                    text-decoration: none;
                }
            }

            &--level-1 {
                color: @color-f;
                font-size: @font-size;
                font-weight: 700;
                text-transform: uppercase;

                @media @query-xl {
                    font-size: 16px;
                }

                &:hover {
                    color: @color-f;
                }
            }

            .open & {
                color: @color-base;

                @media @query-vl {
                    color: @color-primary;
                }
            }

            .list-menu--footer & {
                padding: 0;
                line-height: 30px;

                font-size: @font-size-small;
            }
        }
    }

    &__submenu {
        .reset-ul();
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media @query-vl {
            padding: 35px 30px 0;
            flex-direction: row;
        }    

        &--children {
            padding: 0;
            flex-direction: column;
        }

        &__item {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            white-space: normal;

            @media @query-vl {
                width: @calc-base / 3;
                margin-bottom: 38px;
            }

            &:last-child {
                margin-bottom: 0;
                
                @media @query-vl {
                    margin-bottom: 38px;
                }
            }

            .list-menu__submenu--children & {
                width: 100%;
                margin-bottom: 0;
                line-height: 21px;
            }

            &__image {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                width: @list-menu-submenu-image-size;
                height: @list-menu-submenu-image-size;

                border-radius: @radius-medium;
                box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
                background-color: @color-f;
                font-size: 0;
            }

            &__content {
                padding: 0 20px;

                @media @query-vl {
                    width: calc(~"100% - @{list-menu-submenu-image-size}");
                }

                .list-menu__submenu--children & {
                    @media @query-vl {
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            &__title {
                line-height: 18px;

                font-size: @font-size;
                color: @list-menu-submenu-item-color;
                text-decoration: none;

                @media @query-vl {
                    font-weight: 700;
                    font-size: 16px;
                }

                &:hover {
                    color: @list-menu-submenu-item-color;
                }

                &--level-2 {
                    font-weight: 600;
                    color: @color-primary;

                    &:hover {
                        color: @color-primary;
                        text-decoration: underline;
                    }

                    @media @query-vl {
                        color: @list-menu-submenu-item-color;

                        &:hover {
                            color: @list-menu-submenu-item-color;
                        }
                    }
                }

                .list-menu__submenu--children & {
                    @media @query-vl {
                        line-height: 21px;

                        font-weight: 400;
                        font-size: @font-size-small + 1px;
                        font-family: @font-alt;
                    }
                }
            }

            &__more {
                padding-left: 20px;
                line-height: 18px;

                font-weight: 600;
                font-size: @font-size;
                color: @color-base;

                @media @query-vl {
                    margin-top: 5px;
                    padding-left: 0;

                    font-size: @font-size-small + 1px;
                    font-family: @font-alt;
                }

                &:hover {
                    color: @color-base;
                }
            }
        }
    }
}
