@list-order-gifts-title-width: 173px;
@list-order-gifts-image-size: 120px;
@list-order-gifts-image-size-small: 110px;
@list-order-gifts-label-size: @list-order-gifts-image-size;
@list-order-gifts-label-size-small: @list-order-gifts-image-size-small;
@list-order-gifts-item-gap: 40px;
@list-order-gifts-item-gap-bottom: 15px;

.list-order-gifts {
    .reset-ul();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: -@list-order-gifts-item-gap-bottom;

    &__item {
        display: flex;
        justify-content: center;
        width: calc(~"100% / 2");
        margin-bottom: @list-order-gifts-item-gap-bottom;
        text-align: center;

        @media @query-sm {
            width: calc(~"100% / 3");
        }

        @media @query-md {
            width: calc(~"100% / 4");
        }

        @media @query-lg {
            justify-content: flex-end;
            width: calc(~"100% / 3");
        }

        @media @query-vl {
            width: calc(~"100% / 5");
        }

        @media @query-xl {
            width: calc(~"100% / 6");
        }

        &__label {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            width: @list-order-gifts-label-size-small;

            @media @query-lg {
                width: @list-order-gifts-label-size;
            }
        }

        &__input {
            display: none;
        }

        &__image {
            height: @list-order-gifts-image-size-small;
            width: @list-order-gifts-image-size-small;
            margin-bottom: 10px;
            padding: 1px;

            font-size: 0;
            border-radius: @radius;
            background: @color-turquoise;

            @media @query-lg {
                height: @list-order-gifts-image-size;
                width: @list-order-gifts-image-size;
            }
            
            .list-order-gifts__item__input:checked ~ & {
                padding: 3px;

                background: linear-gradient(135deg, rgba(19,108,163,1) 0%, rgba(75,175,193,1) 35%, rgba(120,216,108,1) 63%, rgba(105,190,82,1) 100%);
            }

            &__wrap {
                position: relative;
                height: 100%;

                background: @color-f;
                border-radius: @radius - 2px;
            }

            img {
                .center-image();
            }
        }

        &__name {
            margin: 0;
            word-break: break-word;
            
            font-size: @font-size;

            .list-order-gifts__item__input:checked ~ & {
                font-weight: 700;
            }

            .input-label {
                padding-right: 0;
                cursor: pointer;
            }
        }
    }
}

.list-order-gifts-title {
    width: 100%;
    line-height: 42px;
    margin-bottom: 20px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    color: @color-primary;
    cursor: text;

    @media @query-md {
        text-align: left;
    }

    @media @query-lg {
        width: @list-order-gifts-title-width;
        margin-bottom: 0;
    }
}
