@list-params-icon-size: 28px;
@list-params-icon-right-gap: 20px;
@list-params-item-bottom-gap: 16px;
@list-params-item-name-width: 165px;

.list-params {
    .reset-ul();
    width: 100%;

    &--with-gap {
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        line-height: 26px;
        padding: 7px 0;

        border-bottom: 1px solid @color-border;

        &:last-child {
            border-bottom: 0;
        }

        .list-params--big & {
            font-size: @font-size-big;
        }

        &__text {
            display: flex;
            flex-direction: row;
            width: 100%;

            &__name {
                width: @list-params-item-name-width;
            }

            &__value {
                width: calc(~"@{calc-base} - @{list-params-item-name-width}");
                text-align: right;
                
                word-break: break-all;
            }
        }
    }

    &__item-with-icon {
        display: flex;
        height: calc(~"@{list-params-icon-size} + @{list-params-item-bottom-gap}");

        &__icon {
            padding-right: @list-params-icon-right-gap;

            font-size: @list-params-icon-size;
        }

        &__text {
            line-height: @list-params-icon-size;

            font-size: @font-size-small;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
