@list-products-line-item-gap: 5px;

@list-products-line-item-postion-width: 45px;
@list-products-line-item-image-size: 70px;
@list-products-line-item-border-size: 1px;

.list-products-line {
    margin-bottom: 35px;

    &__title {
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__wrap {
        border: 3px solid @color-border;
        border-radius: @radius;
    }

    &__list {
        .reset-ul();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -@list-products-line-item-border-size -@list-products-line-item-border-size 0;
    }

    &__item {
        display: block;
        width: 100%;

        border-bottom: @list-products-line-item-border-size solid @color-border;
        border-right: @list-products-line-item-border-size solid @color-border;

        @media @query-lg {
            width: 100%/2;
        }

        &__block {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            padding: 10px;

            text-decoration: none;
            color: @color-base;

            &:hover {
                color: @color-base;
            }

            @media @query-md {
                padding: 10px 20px;
            }
        }

        &__position {
            padding-right: 10px;
            line-height: 42px;

            font-size: 36px;
            font-weight: 700;
            color: @color-blue-light;

            @media @query-md {
                width: @list-products-line-item-postion-width;
                padding-right: 0;
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @list-products-line-item-image-size;
            height: @list-products-line-item-image-size;
            padding: 5px;
            padding-right: @list-products-line-item-gap;
            text-align: center;
        }

        &__content {
            flex: 1;
            padding-left: 5px;

            @media @query-md {
                padding-left: 20px;
            }

            &__bottom {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__title {
            width: 100%;
            margin-bottom: 6px;
            line-height: 18px;

            font-size: @font-size-extra-small;
            font-weight: 400;
        }

        &__price {
            display: flex;
            flex-direction: row;
            line-height: 18px;
            margin-right: 10px;

            font-weight: 700;
            font-size: @font-size-small;

            &__old {
                opacity: 0.5;
                margin-left: 5px;
                
                font-size: @font-size-extra-small;
                font-weight: 400;
                text-decoration: line-through;
            }
        }
    }

    &__more {
        text-align: center;
    }
}
