@list-simple-gap: 30px;

.list-simple {
    .reset-ul();

    &__item {
        position: relative;
        line-height: 24px;
        margin-bottom: 6px;
        margin-left: @list-simple-gap;

        font-size: @font-size-small;

        &:before {
            content: '•';
            position: absolute;
            left: -@list-simple-gap / 2;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);

            color: @color-primary;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
