@list-variants-image-size: 70px;
@list-variants-item-gap: 15px;
@list-variants-item-prices-size: 24px;
@list-variants-item-parameters-item-name-width: 70px;
@list-variants-item-description-availability-width: 60%;

.list-variants {
    .reset-ul();

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 15px;

        border-radius: @radius;
        background-color: @color-box;

        &:last-child {
            margin-bottom: 0;
        }

        &__info {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 20px;

            border-radius: @radius;
            background-color: @color-f;

            @media @query-lg {
                padding: 10px 25px;
            }
        }

        &__description {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            &__image {
                position: relative;
                display: inline-block;
                text-align: center;
                width: @list-variants-image-size - 20px;
                height: @list-variants-image-size;
                line-height: @list-variants-image-size;

                @media @query-md {
                    width: @list-variants-image-size;
                }

                img {
                    .center-image();
                }
            }

            &__image-original {
                display: none;
                position: absolute;
                top: 100%;
                right: 100%;
                width: 280px;
                z-index: @z-index-above;
                text-align: right;

                @media @query-lg {
                    display: block;
                }

                img {
                    position: static;
                    max-width: auto;
                    max-height: auto;
                    
                    border: 1px solid @color-border;
                }
            }

            &__name {
                width: calc(~"100% - @{list-variants-image-size}");
                line-height: @font-size-big;
                padding-left: @list-variants-item-gap;

                font-weight: 700;
                font-size: @font-size-big;

                @media @query-md {
                    width: calc(~"100% / 2 - (@{list-variants-image-size} / 2)");
                }

                @media @query-vl {
                    width: calc(~"(100% - @{list-variants-item-description-availability-width}) - (@{list-variants-image-size} / 2)");
                }

                &__code {
                    font-weight: 500;
                    font-family: @font-alt;
                    font-size: @font-size-extra-small + 1px;
                    opacity: 0.5;
                }
            }

            &__availability {
                width: 100%;

                @media @query-md {
                    padding-left: @list-variants-item-gap;
                    width: calc(~"100% / 2 - (@{list-variants-image-size} / 2)");
                }

                @media @query-vl {
                    width: calc(~"@{list-variants-item-description-availability-width} - (@{list-variants-image-size} / 2)");
                }
            }
        }

        &__parameters {
            overflow: hidden;
            margin-top: 10px;

            &__wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: -1px;
            }

            &__item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                padding: 6px 0;

                border-bottom: 1px solid @color-border;
                font-family: @font-alt;
                font-size: 12px;

                @media @query-md {
                    width: @calc-base / 2;
                }

                @media @query-vl {
                    width: @calc-base / 3;
                }

                &__name {
                    width: @list-variants-item-parameters-item-name-width;
                    display: block;
                    padding-right: 5px;
                }

                &__value {
                    width: calc(~"100% - @{list-variants-item-parameters-item-name-width}");
                    display: block;
                    padding-right: 10px;

                    font-weight: 700;
                    word-break: break-all;
                }
            }
        }

        &__wrap {
            display: flex;
            flex-direction: row;
        }

        &__prices {
            width: 100%;
            margin-bottom: 15px;

            @media @query-vl {
                width: auto;
                flex: 1;
                margin-bottom: 0;
            }

            &__item {
                display: inline-block;
                line-height: @list-variants-item-prices-size;

                font-size: @list-variants-item-prices-size;
                font-weight: 700;

                &--main {
                    color: @color-price-main;
                }

                &--old {
                    margin-right: 13px;

                    text-decoration: line-through;
                    font-size: @font-size-big;
                    font-weight: 300;
                    color: @color-price-old;
                }

                &--info {
                    width: 100%;
                    display: block;
                    line-height: 18px;
                    margin-bottom: 0;
                    padding-right: 25px;

                    font-size: @font-size-extra-small + 1px;
                    font-family: @font-alt;
                    font-weight: 400;
                }
            }
        }

        &__actions {
            width: 100%;

            @media @query-vl {
                width: auto;
            }
        }
    }
}