{% if validEnteredPromoCode is null %}
    <div class="box-preview__row box-preview__row--dark">
        <div class="box-preview__coupone">
            <div class="box-preview__coupone__title">
                <label>
                    <input type="checkbox" class="css-checkbox js-promo-code-toggle-checkbox">
                    <span class="css-checkbox__image box-preview__coupone__title__label">
                        {{ 'Mám slevový poukaz nebo dárkový certifikát'|trans }}
                    </span>
                </label>
            </div>
            <div class="display-none js-promo-code-toggle-content">
                <label for="orderCoupone" class="box-preview__coupone__text input__label">{{ 'Zadejte kód'|trans }}</label>
                <div class="box-preview__coupone__code">
                    <input type="text" id="js-promo-code-input" class="box-preview__coupone__code__input input" data-apply-code-url="{{ url('front_promo_code_apply') }}">
                    <button class="box-preview__coupone__code__button btn btn--success btn--with-input" id="js-promo-code-submit-button" type="button">{{ 'Použít'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
