{% if validEnteredPromoCode is null %}
    <div class="box-preview__row box-preview__row--dark">
        <div class="box-preview__coupone">
            <div class="box-preview__coupone__title">
                <label>
                    <input type="checkbox" class="css-checkbox__image js-promo-code-toggle-checkbox">
                    <span class="css-label-checkbox">
                        {{ 'Máte slevový kód?'|trans }}
                    </span>
                </label>
            </div>
            <div class="box-preview__coupone__input js-promo-code-toggle-content">
                <label for="orderCoupone" class="input__label">{{ 'Zadejte kód'|trans }}</label>
                <input type="text" id="js-promo-code-input" class="input" data-apply-code-url="{{ url('front_promo_code_apply') }}">
                <button class="box-preview__coupone__input__button btn btn--success btn--small" id="js-promo-code-submit-button" type="button">{{ 'Použít'|trans }}</button>
            </div>
        </div>
    </div>
{% endif %}
