@box-blog-panel-width: 385px;
@box-blog-panel-width-medium: 300px;
@box-blog-panel-gap: 50px;
@box-blog-padding: 30px;
@box-blog-title-bottom-gap: 20px;
@box-blog-list-inset-gap: 14px;
@box-blog-subcategory-gap: 10px;

.box-blog {
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;

        @media @query-vl {
            flex-direction: row;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 2;
        margin-bottom: 70px;

        @media @query-vl {
            width: calc(~"@{calc-base} - @{box-blog-panel-width-medium} - @{box-blog-panel-gap}");
            order: 1;
        }

        @media @query-xl {
            width: calc(~"@{calc-base} - @{box-blog-panel-width} - @{box-blog-panel-gap}");
        }

        &__button {
            display: flex;
            justify-content: center;

            .btn {
                margin-bottom: 70px;
            }
        }
    }

    &__panel {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1;

        @media @query-vl {
            order: 2;
            width: @box-blog-panel-width-medium + @box-blog-panel-gap;
            padding-left: @box-blog-panel-gap;
        }

        @media @query-xl {
            width: @box-blog-panel-width + @box-blog-panel-gap;
        }
    }

    &__section {
        margin-bottom: 30px;
        padding: @box-blog-padding;
        padding-bottom: 0;

        border: 3px solid @color-base;
        border-radius: @radius-big;

        &__title {
            margin-bottom: 25px;
            
            font-weight: 700;
            font-size: 16px;
        }
    }

    &__title {
        display: block;
        line-height: 42px;

        color: @color-base;
        font-weight: 700;
        font-size: 45px;
    }

    &__categories {
        display: flex;
        flex-direction: column;
        margin: -@box-blog-padding;
        margin-bottom: 0;
        padding: @box-blog-padding @box-blog-padding 52px;

        background-color: @color-base;
        border-radius: @radius;

        &__title {
            display: block;
            margin-bottom: @box-blog-title-bottom-gap;

            color: @color-turquoise;
            font-size: @font-size-big;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__item {
            .svg-tail;
            .svg;
            position: relative;
            padding: 12px 35px;
            margin: 0 -@box-blog-list-inset-gap;

            color: @color-f;
            font-size: 16px;
            text-decoration: underline;
            border-radius: @radius;

            &:hover {
                color: @color-f;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 7px;
                transform: translateY(-50%);

                font-size: @font-size-big;
                color: @color-turquoise;
            }

            &.active {
                text-decoration: none;
                background-color: @color-f;
                color: @color-base;

                &:before {
                    color: @color-add;
                }
            }

            &--level-2 {
                margin-left: -@box-blog-list-inset-gap + @box-blog-subcategory-gap;
            }

            &--level-3 {
                margin-left: -@box-blog-list-inset-gap + @box-blog-subcategory-gap * 2;
            }

            &--level-4 {
                margin-left: -@box-blog-list-inset-gap + @box-blog-subcategory-gap * 3;
            }

            &--level-5 {
                margin-left: -@box-blog-list-inset-gap + @box-blog-subcategory-gap * 4;
            }
        }
    }
}
