@box-last-visited-bottom-gap: 51px;
@box-last-visited-title-bottom-gap: 42px;

.box-last-visited {
    margin-bottom: @box-last-visited-bottom-gap;

    &__title {
        display: block;
        margin-bottom: @box-last-visited-title-bottom-gap;
        text-align: center;

        color: @color-base;
        text-transform: uppercase;
    }
}
