@box-list-description-line-height: 30px;
@box-list-description-font-size: 18px;

@box-list-title-margin-bottom: 20px;

@box-list-panel-width: 261px;
@box-list-panel-gap: 49px;

@box-list-bottom-gap: 62px;

.box-list {
    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media @query-sm {
            margin-bottom: @margin-gap;
        }

        @media @query-lg {
            flex-direction: row;
        }

        &__column {
            padding-right: @margin-gap;

            &--order {
                display: flex;
                align-items: flex-start;
                padding-right: 0;
                padding-top: 10px;

                @media @query-lg {
                    margin-left: auto;
                    padding-top: 19px;
                }
            }
        }
    }
    &__title {
        display: block;
        margin-bottom: 0;

        color: @color-base;
    }

    &__wrap {
        display: flex;
        flex-direction: row;

        @media @query-md {
            margin-bottom: 80px;
        }
    }

    &__panel {
        display: none;
        position: absolute;

        @media @query-vl {
            display: block;
            position: relative;
            width: @box-list-panel-width;
            margin-right: @box-list-panel-gap;
        }

        &.active {
            display: block;
            z-index: @z-index-menu;

            @media @query-vl {
                position: relative;
                top: 0!important;
            }
        }
    }

    &__content {
        width: 100%;

        @media @query-vl {
            width: calc(~"100% - (@{box-list-panel-width} + @{box-list-panel-gap})");

            border-top: 1px solid @color-border;
        }
    }

    &__filter-opener {
        text-align: center;
        margin-bottom: @margin-gap;

        @media @query-vl {
            display: none;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;

        @media @query-lg {
            flex-direction: row;
        }

        &__title {
            margin-bottom: 25px;

            color: @color-base;
            font-family: @font-alt;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__description {
            width: 100%;
            margin-bottom: @box-list-bottom-gap/2;

            @media @query-lg {
                width: 100%/2;
                padding-right: 70px;
                margin-bottom: @box-list-bottom-gap;
            }

            &__text {
                margin-top: -5px;
                line-height: @box-list-description-line-height;

                font-family: @font-alt;
                font-size: @box-list-description-font-size;
            }
        }

        &__article {
            width: 100%;
            margin-bottom: @box-list-bottom-gap/2;

            @media @query-lg {
                width: 100%/2;
                margin-bottom: @box-list-bottom-gap;
                padding-left: 62px;
            }
        }
    }

    &__producer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            @media @query-md {
                padding-right: 30px;
            }
        }

        &__text {
            margin-bottom: 20px;
        }
    }

    &__actions {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: @margin-gap;

        @media @query-md {
            flex-direction: row;
        }

        @media @query-vl {
            flex-direction: column;
        }

        @media @query-xl {
            flex-direction: row;
        }

        &__button {
            text-align: center;
            margin-bottom: @margin-gap;

            @media @query-md {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            @media @query-vl {
                position: static;
                transform: none;
            }

            @media @query-xl {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__pagination {
            @media @query-md {
                margin: 6px 0 6px auto;
            }

            @media @query-vl {
                margin: 0;
            }

            @media @query-xl {
                margin: 6px 0 6px auto;
            }
        }
    }
}
