.box-orders {
    &__table {
        width: 100%;
    
        &__cell {
            &--small {
                width: 120px;
            }

            &--medium {
                width: 180px;
            }
        }
    }
}
