@box-price-slider-inputs-gap: 5px;

@box-price-slider-form-input-width: 60px;

.box-price-slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    border-radius: @radius-small;

    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: @calc-base / 2;

            &__text {
                padding-right: @box-price-slider-inputs-gap;

                font-size: @font-size-small;
                color: @color-gray;
            }

            &__currency {
                padding-left: @box-price-slider-inputs-gap;

                font-size: @font-size-small;
                color: @color-gray;
            }

            input {
                padding-right: 3px;
                padding-left: 3px;
                text-align: center;
                
                font-size: @font-size-small;
                font-weight: 700;

                @media @query-lg {
                    width: @box-price-slider-form-input-width;
                    max-width: @box-price-slider-form-input-width;
                }

                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: @color-base;
                    opacity: 1; /* Firefox */
                    font-weight: 700;
                }
    
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: @color-base;
                    font-weight: 700;
                }
    
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: @color-base;
                    font-weight: 700;
                }
            }

            &--left {
                padding-right: @box-price-slider-inputs-gap;
            }
        }
    }
}
