.box-products-slider {
    margin-bottom: 20px;
    text-align: center;

    @media @query-lg {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 0;
        line-height: 54px;

        font-size: 36px;
        color: @color-primary;
    }

    &__subtitle {
        line-height: 21px;

        font-size: @font-size-small;
        color: @color-primary;
        text-decoration: underline;
    }
}
