{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% if products|length > 0 %}
    <div class="web__line">
        <div class="web__container web__container--light web__container--big-padding">
            <div class="box-last-visited">
                <div class="box-last-visited__title">
                    {{ 'Naposledy navštívené produkty'|trans }}
                </div>

                {{ productList.horizontalList(products, "list-last-visited", 'h3', true) }}
            </div>
        </div>
    </div>
{% endif %}
