@in-add-to-cart-inset-gap: 4px;
@in-add-to-cart-button-padding: 13px;

.in-add-to-cart {
    display: inline-flex;
    flex-direction: column;
    padding: @in-add-to-cart-inset-gap @in-add-to-cart-inset-gap @in-add-to-cart-inset-gap + 1;

    background-color: @color-add;
    border-radius: @radius;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: @box-shadow;
    transition: @transition;

    &:hover {
        background-color: darken(@color-add, 5%);
    }

<<<<<<< HEAD
=======
    @media @query-sm {
        flex-direction: row;
    }

>>>>>>> master
    &__spinbox {
        margin-bottom: 10px;

        @media @query-sm {
            margin-bottom: 0;
        }
    }

    &__button {
        padding: 0 @in-add-to-cart-button-padding;

        color: @color-f;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        box-shadow: none;

        .in-add-to-cart--small & {
            padding: 0 @in-add-to-cart-button-padding / 2;

            font-size: @font-size-extra-small - 1;
        }
<<<<<<< HEAD

        .svg {
            position: relative;
            top: 6px;
            margin-right: 10px;

            font-size: 27px;

            .in-add-to-cart--in-product-list & {
                margin-right: 5px;
=======
>>>>>>> master

        &:hover {
            background-color: transparent;
        }
    }
}
