@in-badge-outline-color: @color-brown-light;
@in-badge-border-radius: 3px;

.in-badge {
    display: inline;
    padding: 0px 2px;
    line-height: 18px;

    color: @in-badge-outline-color;
    background-color: transparent;
    border: 1px solid @in-badge-outline-color;
    font-size: 10px;
    border-radius: 3px;
    text-align: center;

    &--product-list {
        margin-right: 2px;
    }

    &--in-stock {
        color: @color-green;
        background-color: transparent;
        border: 1px solid @color-green;
    }
}
