.in-bar-code {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__title {
        margin-bottom: 10px;

        font-size: 18px;
        font-weight: 700;
    }

    &__number {
        margin-bottom: 10px;
    }
}
