@in-flag-item-top-gap: 12px;
@in-flag-item-size: 70px;
@in-flag-item-size-medium: 60px;
@in-flag-item-size-small: 46px;
@in-flag-item-font-size: 18px;
@in-flag-item-font-size-small: @font-size;
@in-flag-in-list-position-top: 0;
@in-flag-in-list-position-right: 0;

.in-flag {
    .clearfix();
    position: absolute;
    top: @in-flag-in-list-position-top;
    right: @in-flag-in-list-position-right;

    &--in-list {
        top: @in-flag-in-list-position-top;
        right: @in-flag-in-list-position-right;
    }

    &--static {
        position: relative;
    }

    &__item {
        float: right;
        clear: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: @in-flag-item-size-small;
        height: @in-flag-item-size-small;
        margin-bottom: @in-flag-item-top-gap;
        text-align: center;
        padding: 0 5px;
        word-break: break-all;

        overflow: hidden;
        border-radius: 50%;
        color: @color-f;
        font-size: 10px;
        font-weight: 700;

        &:last-child {
            margin-bottom: 0;
        }

        @media @query-lg {
            width: @in-flag-item-size;
            height: @in-flag-item-size;

            font-size: @in-flag-item-font-size;
        }

        &--smaller-text {
            @media @query-lg {
                font-size: @in-flag-item-font-size-small;
            }
        }

        .in-flag--static &  {
            float: left;
            clear: none;
        }

        .in-flag--in-list &  {
            @media @query-md {
                width: @in-flag-item-size-medium;
                height: @in-flag-item-size-medium;

                font-size: 13px;
            }
        }
    }
}
