@in-flag-item-gap: 5px;
@in-flag-item-height: 17px;
@in-flag-item-font-size: 18px;
@in-flag-item-font-size-small: @font-size;

.in-flag {
    .clearfix();
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    margin-left: -@in-flag-item-gap;
    bottom: 0;
    left: 0;
    right: 0;

    &--detail {
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
    }

    &--slider {
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto; 
    }

    &--product-list {
        bottom: -5px;
        
        @media @query-md {
            bottom: -27px;
        }
    }

    &__item {
        min-height: @in-flag-item-height;
        margin-bottom: @in-flag-item-gap;
        margin-left: @in-flag-item-gap;
        line-height: 13px;
        text-align: center;
        padding: 2px 7px;

        color: @color-f;
        border-radius: @radius-very-small;
        font-size: 10px;
        background-color: @color-light;
        text-transform: uppercase;

        .in-flag--detail & {
            line-height: 21px;
            padding: 1px 10px;

            font-size: @font-size-small;
            font-weight: 700;
            border-radius: @radius-medium;
        }
    }
}
