@in-place-margin: @margin-gap;

.in-place {
    margin-bottom: @in-place-margin;
    text-align: center;
    overflow: hidden;

    font-size: 0;
    border-radius: @radius-big;

    &--preCategory, &--category {
        display: none;
        
        @media @query-lg {
            display: block;
            margin-bottom: 30px;
        }
    }
}
