@footer-top-social-height: 66px;
@footer-top-links-title: 120px;
@footer-top-scroll-top-button-icon: 15px;
@footer-tab-border-color: @color-border-dark;
@footer-tab-arrow-size: 11px;
@footer-tab-height: 52px;
@footer-banner-height: 400px;
@footer-banner-height-mobile: 300px;
@footer-top-links-width: 45%;

.footer-top {
    position: relative;
    display: flex;
    flex-direction: column;

    @media @query-lg {
        padding: 51px 0 @footer-banner-height 0;
    }

    &__scroll-top {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(-50%);

        &__button-icon {
            transform: rotate(180deg);
            height: @footer-top-scroll-top-button-icon;
            margin-right: 10px;

            font-size: @footer-top-scroll-top-button-icon;
        }
    }

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 50px;

        @media @query-lg {
            padding-top: 27px;

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 96px;
                height: 57px;

                background: url('@{path-design}/footer-right-top-corner.png') no-repeat;
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 59px;
                height: 33px;

                background: url('@{path-design}/footer-right-bottom-corner.png') no-repeat;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 100%;

        @media @query-lg {
            width: calc(~"100% - @{footer-top-links-width}");
            min-height: 216px;
            justify-content: center;
            order: 2;
            padding: 15px 25px;
        }
    }

    &__socials {
        order: 2;
        margin-bottom: 30px;

        @media @query-md {
            margin-bottom: @margin-gap;

            font-size: 19px;
        }

        @media @query-lg {
            order: 1;
            text-align: center;
            margin-bottom: 33px;

            font-size: @font-size-small;
        }
    }

    &__contact {
        margin-bottom: 30px;
        text-align: center;
        order: 1;

        font-family: @font-alt;

        @media @query-lg {
            margin-bottom: 0;
            order: 2;
        }

        &__text-top {
            margin-bottom: 7px;
            line-height: 30px;

            font-size: 19px;

            @media @query-lg {
                margin-bottom: 10px;
            }
        }

        &__text-bottom {
            line-height: 21px;
            opacity: 0.5;

            font-size: @font-size-small;
        }

        &__link {
            color: @color-base;
            font-weight: 600;

            &:hover {
                color: @color-base;
            }
        }
    }

    &__links {
        margin: 0 -@web-padding-small;
        width: calc(~"100% + (@{web-padding-small} * 2)");
        display: flex;
        flex-direction: column;
        order: 2;

        @media @query-lg {
            margin: 0;
            width: @footer-top-links-width;
            flex-direction: row;
            order: 1;
        }

        &__column {
            border-bottom: 1px solid lighten(@footer-tab-border-color, 30%);

            &:first-child {
                border-top: 1px solid lighten(@footer-tab-border-color, 30%);

                @media @query-lg {
                    border-top: none;
                }
            }

            @media @query-lg {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 228px;

                border-bottom: none;
            }
        }

        &__title {
            position: relative;
            line-height: @footer-tab-height;
            padding: 0 20px;

            font-size: @font-size-small;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;

            @media @query-lg {
                width: @footer-top-links-title;
                line-height: 17px;
                margin-bottom: 19px;
                padding: 0;

                cursor: initial;
            }

            &__arrow {
                position: absolute;
                right: 20px;
                top: 0;
                line-height: @footer-tab-height;

                .svg {
                    height: @footer-tab-arrow-size;
                    vertical-align: middle;

                    color: @color-turquoise;
                    font-size: @footer-tab-arrow-size;

                    .open & {
                        padding-bottom: 4px;

                        transform: rotate(-180deg);
                    }
                }

                @media @query-lg {
                    display: none;
                }
            }
        }
    }
}

.footer-banner {
    display: flex;
    flex-direction: column;
    height: @footer-banner-height-mobile;
    margin: 30px 0;
    padding: 30px 20px;

    border-radius: @radius-big;
    background: @color-base url('@{path-design}/footer-bg.png') -159px bottom no-repeat;
    background-size: cover;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);

    @media @query-lg {
        flex-direction: row;
        position: absolute;
        width: 100%;
        bottom: -69px;
        height: @footer-banner-height;
        margin: 0;
        padding: 70px;

        background: @color-base url('@{path-design}/footer-bg.png') center bottom no-repeat;
    }

    &__left {
        width: 100%;

        @media @query-lg {
            width: 100% / 2;
        }
    }

    &__right {
        display: none;

        @media @query-lg {
            width: 100% / 2;
            padding-left: 44px;
            display: block;
        }
    }

    &__title {
        line-height: 30px;
        margin-bottom: 23px;

        color: @color-f;
        text-transform: uppercase;

        @media @query-lg {
            margin-bottom: 20px;
        }

        @media @query-vl {
            line-height: 48px;
        }

        br {
            display: none;

            @media @query-xl {
                display: block;
            }
        }
    }

    &__button {
        width: 170px;
    }

    &__text {
        line-height: 36px;
        margin: 0;

        color: @color-f;
        font-size: @font-size-big + 1px;
        font-family: @font-alt;

        @media @query-vl {
            margin-top: 18px;
        }
    }
}

@footer-bottom-gap: 110px;
@footer-bottom-domains-item-gap: 100px;
@footer-bottom-domains-item-link-gap: 15px;

.footer-bottom {
    padding: 43px 0 64px;
    text-align: center;

    @media @query-lg {
        padding: @footer-bottom-gap 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    &--small {
        position: relative;
        padding: 50px 0;
        margin-bottom: 43px;

        @media @query-lg {
            padding: 70px 0;
            margin-bottom: 106px;
        }

        &:before {
            display: none;
            content: '';
            position: absolute;
            right: 0;
            top: 41px;
            width: 96px;
            height: 57px;

            background: url('@{path-design}/footer-right-top-corner.png') no-repeat;

            @media @query-lg {
                display: block;
            }
        }

        &:after {
            display: none;
            content: '';
            position: absolute;
            left: 0;
            top: 41px;
            width: 59px;
            height: 33px;

            background: url('@{path-design}/footer-left-top-corner.png') no-repeat;

            @media @query-lg {
                display: block;
            }
        }
    }

    &__domains {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;

        @media @query-lg {
            align-items: center;
            flex-direction: row;
            margin-left: -@footer-bottom-domains-item-gap;
            margin-bottom: 60px;
        }

        &__item {
            display: flex;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            @media @query-lg {
                margin-left: @footer-bottom-domains-item-gap;
                margin-bottom: 0;
            }

            &__icon {
                margin-right: @footer-bottom-domains-item-link-gap;
            }

            &__link {
                text-transform: uppercase;
                font-size: @font-size-small;
                font-weight: 700;
            }
        }
    }

    &__copyright {
        text-align: center;
        line-height: 18px;
        margin-bottom: 8px;

        font-size: 12px + 1px;
        font-family: @font-alt;

        @media @query-lg {
            width: 100%;
        }
    }

    &__rules {
        display: inline-block;
        max-width: 588px;
        text-align: center;
        line-height: 18px;
        margin-bottom: 31px;

        font-size: 11px + 1px;
        font-family: @font-alt;

        @media @query-lg {
            margin-bottom: 56px;
        }
    }

    &__shopsys {
        font-size: 12px + 1px;
        font-family: @font-alt;

        &__image {
            display: inline-block;
            margin-bottom: -5px;
            margin-left: 10px;
        }
    }

    &__articles {
        @media @query-lg {
            width: 100%/2;
            text-align: right;
        }
    }
}

@footer-newsletter-item-gap: 50px;
@footer-newsletter-item-inner-gap: 10px;

.footer-newsletter {
    display: flex;
    flex-direction: column;
    margin-left: -@footer-newsletter-item-gap;
    padding-top: 30px;
    margin-bottom: 0;

    @media @query-vl {
        flex-direction: row;
        align-items: flex-start;
        padding-top: 50px;
        margin-bottom: 34px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-left: @footer-newsletter-item-gap;
        width: calc(~"100% - @{footer-newsletter-item-gap}");

        @media @query-vl {
            width: calc(~"100% / 3 - @{footer-newsletter-item-gap}");
        }

        &--left {
            @media @query-vl {
                justify-content: flex-end;
            }
        }
    }

    &__text {
        margin: 0 0 @footer-newsletter-item-inner-gap 0;

        color: @color-f;

        &--big {
            font-size: 19px;
        }
    }

    &__link {
        color: @color-f;

        &:hover {
            color: @color-f;
            text-decoration: underline;
        }
    }

    &__input {
        border-radius: @radius-small 0 0 @radius-small;
    }

    &__form {
        width: 100%;

        &__wrap {
            margin-bottom: @footer-newsletter-item-inner-gap;
        }

        &__in {
            display: flex;
            margin-bottom: @footer-newsletter-item-inner-gap;
        }

        &__label {
            margin-bottom: @footer-newsletter-item-inner-gap;
        }

        &__btn {
            border-radius: 0 @radius-small @radius-small 0;
        }
    }
}
