@footer-top-social-height: 66px;
@footer-top-links-title: 120px;
@footer-top-links-width: 45%;
@footer-top-scroll-top-button-icon: 15px;
@footer-tab-border-color: @color-border-dark;
@footer-tab-arrow-size: 11px;
@footer-tab-height: 52px;
@footer-middle-height: 400px;
@footer-middle-height-mobile: 300px;
@footer-middle-outer-height: 200px;
@footer-middle-right-width: 47%;
@footer-middle-awards-left-width: 60%;

.footer-top {
    position: relative;
    display: flex;
    flex-direction: column;

    @media @query-lg {
        padding: 51px 0 0 0;
        margin-bottom: -@footer-middle-outer-height + 40px;
    }

    &__scroll-top {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        z-index: @z-index-above;

        &__button-icon {
            transform: rotate(180deg);
            height: @footer-top-scroll-top-button-icon;
            margin-right: 10px;

            font-size: @footer-top-scroll-top-button-icon;
        }
    }

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 50px;

        @media @query-lg {
            padding-top: 27px;

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 96px;
                height: 57px;

                background: url('@{path-design}/footer-right-top-corner.png') no-repeat;
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 59px;
                height: 33px;

                background: url('@{path-design}/footer-right-bottom-corner.png') no-repeat;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 100%;

        @media @query-lg {
            width: calc(~"100% - @{footer-top-links-width}");
            min-height: 216px;
            justify-content: center;
            order: 2;
            padding: 15px 25px;
        }
    }

    &__socials {
        order: 2;
        margin-bottom: 30px;

        @media @query-md {
            margin-bottom: @margin-gap;

            font-size: 19px;
        }

        @media @query-lg {
            order: 1;
            text-align: center;
            margin-bottom: 33px;

            font-size: @font-size-small;
        }
    }

    &__contact {
        margin-bottom: 30px;
        text-align: center;
        order: 1;

        font-family: @font-alt;

        @media @query-lg {
            margin-bottom: 0;
            order: 2;
        }

        &__text-top {
            margin-bottom: 7px;
            line-height: 30px;

            font-size: 19px;

            @media @query-lg {
                margin-bottom: 10px;
            }
        }

        &__text-bottom {
            line-height: 21px;
            opacity: 0.5;

            font-size: @font-size-small;
        }

        &__link {
            color: @color-base;
            font-weight: 600;

            &:hover {
                color: @color-base;
            }
        }
    }

    &__links {
        margin: 0 -@web-padding-small;
        width: calc(~"100% + (@{web-padding-small} * 2)");
        display: flex;
        flex-direction: column;
        order: 2;

        @media @query-lg {
            margin: 0;
            width: @footer-top-links-width;
            flex-direction: row;
            order: 1;
        }

        &__column {
            border-bottom: 1px solid lighten(@footer-tab-border-color, 30%);

            &:first-child {
                border-top: 1px solid lighten(@footer-tab-border-color, 30%);

                @media @query-lg {
                    border-top: none;
                }
            }

            @media @query-lg {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 228px;

                border-bottom: none;
            }
        }

        &__title {
            position: relative;
            line-height: @footer-tab-height;
            padding: 0 20px;

            font-size: @font-size-small;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;

            @media @query-lg {
                width: @footer-top-links-title;
                line-height: 17px;
                margin-bottom: 19px;
                padding: 0;

                cursor: initial;
            }

            &__arrow {
                position: absolute;
                right: 20px;
                top: 0;
                line-height: @footer-tab-height;

                .svg {
                    height: @footer-tab-arrow-size;
                    vertical-align: middle;

                    color: @color-turquoise;
                    font-size: @footer-tab-arrow-size;

                    .open & {
                        padding-bottom: 4px;

                        transform: rotate(-180deg);
                    }
                }

                @media @query-lg {
                    display: none;
                }
            }
        }
    }
}

.footer-middle {
    display: flex;

    @media @query-lg {
        display: block;
        position: relative;
        bottom: -@footer-middle-outer-height;
    }

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 30px 0;

        border-radius: @radius-big;
        background-color: @color-base;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);

        @media @query-lg {
            flex-direction: row;
            height: @footer-middle-height;
            margin: 0 0 28px 0;
        }

        &:before {
            @media @query-lg {
                content: '';
                position: absolute;
                width: 466px;
                height: 313px;
                bottom: -74px;
                right: 29%;
                z-index: @z-index-above;

                background: url('@{path-design}/capkiller-hubka.png') center bottom no-repeat;
                background-size: contain;
            }

            @media @query-vl {
                width: 539px;
                height: 404px;
                bottom: -83px;
                right: 29%;

                background-size: auto;
            }
        }
    }

    &__left {
        position: relative;
        width: 100%;
        padding: 33px 20px 115px;
        overflow: hidden;

        background: @color-base url('@{path-design}/footer-bg.png') -20px -10px no-repeat;
        border-radius: @radius-big @radius-big 0 0;

        @media @query-md {
            background-size: 110%;
        }

        @media @query-lg {
            overflow: visible;
            width: calc(~"100% - @{footer-middle-right-width}");

            border-radius: @radius-big 0 0 @radius-big;
            background-size: auto;
        }

        @media @query-vl {
            padding: 50px 47px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 374px;
            height: 280px;
            bottom: -98px;
            right: -188px;

            background: url('@{path-design}/capkiller-hubka.png') center bottom no-repeat;
            background-size: contain;

            @media @query-lg {
                display: none;
            }
        }

        &__wrap {
            position: relative;
            z-index: @z-index-above + 1;
        }
    }

    &__right {
        width: 100%;
        padding: 26px 20px;

        background-color: @color-base;
        border-radius: 0 0 @radius-big @radius-big;

        @media @query-lg {
            width: @footer-middle-right-width;

            border-radius: 0 @radius-big @radius-big 0;
        }

        @media @query-vl {
            padding: 66px 60px;
        }
    }

    &__title {
        line-height: 30px;
        margin-bottom: 23px;

        font-size: 21px;
        color: @color-f;
        text-transform: uppercase;

        @media @query-lg {
            line-height: 48px;
            margin-bottom: 31px;

            font-size: 36px;
        }

        br {
            display: none;

            @media @query-xl {
                display: block;
            }
        }
    }

    &__button {
        width: 170px;
    }

    &__awards {
        display: none;

        @media @query-vl {
            display: flex;
        }

        &__left {
            display: flex;
            align-items: center;
            width: @footer-middle-awards-left-width;
            padding-left: 50px;
        }  
        
        &__right {
            width: calc(~"100% - @{footer-middle-awards-left-width}");
        }

        &__item {
            width: 100% / 3;
        }

        &__heureka {
            width: 290px;
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }
}

@footer-bottom-gap: 78px;
@footer-bottom-domains-item-gap: 100px;
@footer-bottom-domains-item-link-gap: 15px;

.footer-bottom {
    padding-top: 52px;
    padding-bottom: 64px;
    text-align: center;

    @media @query-lg {
        padding-top: @footer-bottom-gap;
        padding-bottom: @footer-bottom-gap;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-top: @footer-middle-outer-height;
    }

    &--small {
        position: relative;
        padding: 50px 0;
        margin-bottom: 43px;
        margin-top: 40px;

        @media @query-lg {
            padding: 70px 0;
            margin-bottom: 106px;
            margin-top: 70px;
        }

        &:before {
            display: none;
            content: '';
            position: absolute;
            right: 0;
            top: 41px;
            width: 96px;
            height: 57px;

            background: url('@{path-design}/footer-right-top-corner.png') no-repeat;

            @media @query-lg {
                display: block;
            }
        }

        &:after {
            display: none;
            content: '';
            position: absolute;
            left: 0;
            top: 41px;
            width: 59px;
            height: 33px;

            background: url('@{path-design}/footer-left-top-corner.png') no-repeat;

            @media @query-lg {
                display: block;
            }
        }
    }

    &__domains {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 35px;

        @media @query-lg {
            align-items: center;
            flex-direction: row;
            margin-left: -@footer-bottom-domains-item-gap;
        }

        &__item {
            display: flex;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            @media @query-lg {
                margin-left: @footer-bottom-domains-item-gap;
                margin-bottom: 0;
            }

            &__icon {
                margin-right: @footer-bottom-domains-item-link-gap;
            }

            &__link {
                text-transform: uppercase;
                font-size: @font-size-small;
                font-weight: 700;
            }
        }
    }

    &__copyright {
        text-align: center;
        line-height: 18px;
        margin-bottom: 8px;

        font-size: 12px + 1px;
        font-family: @font-alt;

        @media @query-lg {
            width: 100%;
        }
    }

    &__rules {
        display: inline-block;
        max-width: 588px;
        text-align: center;
        line-height: 18px;
        margin-bottom: 31px;

        font-size: 11px + 1px;
        font-family: @font-alt;

        @media @query-lg {
            margin-bottom: 56px;
        }
    }

    &__shopsys {
        font-size: 12px + 1px;
        font-family: @font-alt;

        &__image {
            display: inline-block;
            margin-bottom: -5px;
            margin-left: 10px;
        }
    }

    &__articles {
        @media @query-lg {
            width: 100%/2;
            text-align: right;
        }
    }
}

@footer-newsletter-item-gap: 50px;
@footer-newsletter-item-inner-gap: 20px;

.footer-newsletter {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    z-index: @z-index-above + 1;

    @media @query-vl {
        margin-bottom: 34px;
    }

    &__text {
        margin: 0;
        line-height: 30px;

        color: @color-f;
        font-size: 16px;
        font-family: @font-alt;

        @media @query-lg {
            font-size: @font-size-big;
        }
        
        &--big {
            margin: 0 0 26px 0;

            font-size: 21px;
            font-weight: 700;

            @media @query-lg {
                margin: 0 0 30px 0;

                font-size: 30px;
            }
        }
    }

    &__link {
        color: @color-f;

        &:hover {
            color: @color-f;
            text-decoration: underline;
        }
    }

    &__form {
        width: 100%;

        &__input {
            margin-bottom: @footer-newsletter-item-inner-gap;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media @query-vl {
                flex-direction: row;
                align-items: center;
            }

            &__checkbox {
                margin-bottom: 16px;

                @media @query-vl {
                    margin-bottom: 0;
                }

                .css-checkbox__image {
                    color: @color-f !important;
                }
            }
        }
    }
}
