.text-right {text-align: right}
.text-left {text-align: left}
.text-center {text-align: center}
.text-muted {color: @color-inactive}
.text-no-wrap {white-space: nowrap}

.clear {clear: both}
.clearfix {.clearfix()}
.position-relative {position: relative}

.float-left {float: left}
.float-right {float: right}
.float-none {float: none}

.cursor-pointer {cursor: pointer}
.cursor-move {cursor: move}
.cursor-auto {cursor: auto}
.cursor-help {cursor: help}

.underline {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -@underline-gap;

        background-color: @color-orange;
        transition: bottom @transition;
    }

    &:hover {
        &:before {
            bottom: -@underline-gap-hover;
        }
    }

    &--hard {
        &:before {
            height: 3px;
        }
    }
}

.underline-text {
    display: inline;
    padding-bottom: 10px;

    background-image: linear-gradient(to top, @color-orange 1px, @color-f 100%);
    background-position: 0 28px;
    background-repeat: repeat-x;
    background-size: 2px 1px;
    transition: background-position @transition;

    &:hover {
        background-position: 0 23px;
        transition: background-position @transition;
    }
}

.underline-small {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -2px;

        background-color: @color-orange;
    }
}

.double-lined {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: 27px;

        background-color: @color-orange;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -7px;

        background-color: @color-orange;
    }
}

.double-lined-hard {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        left: 0;
        bottom: 83px;

        background-color: @color-orange;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        left: 0;
        bottom: -12px;

        background-color: @color-orange;
    }
}

.full-width {
    width: 100%;
}
