<ul class="list-benefits {{ cssClass|default('') }}">
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-hand"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Vyrábíme zodpovědně'|trans }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-leaf"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Používáme přírodní materiály'|trans }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-compass"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Tvoříme vlastní styl '|trans }}
        </span>
    </li>
</ul>
