<ul class="list-benefits {{ cssClass|default('') }}">
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-leaf"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Naši bundu budou nosit ještě vaše děti'|trans }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-compass"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Vše co nabízíme, máme skladem'|trans }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-hand"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Neměň se, my se taky neměníme'|trans }}
        </span>
    </li>
</ul>
