<div class="list-menu js-not-implemented-yet">
    <ul class="list-menu__column dont-print">
        {% for article in articles %}
            <li class="list-menu__item">
                <a class="list-menu__item__link underline" href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>
                <span class="in-badge js-not-implemented-yet">12</span>
            </li>
        {% endfor %}
        <li class="list-menu__item">
            <a class="list-menu__item__link underline" href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}">{{ 'Blog'|trans }}</a>
        </li>
    </ul>
</div>
