<div class="box-contact__right__list">
    <ul class="list-simple">
        <li class="list-simple__item list-simple__item--lighter">
            <a href="{{ url('front_article_detail', { id: loyaltyProgramArticle.id }) }}" class="list-simple__item__link">{{ 'Co je Věrnostní program?'|trans }}</a>
        </li>
    </ul>
</div>
