@footer-top-social-gap: 75px;
@footer-top-social-height: 66px;
@footer-top-info-width: 46%;

.footer-top {
    display: flex;
    flex-direction: column;
    padding: 45px 0 64px 0;

    @media @query-vl {
        flex-direction: row;
    }

    &__info {
        width: 100%;

        @media @query-vl {
            width: @footer-top-info-width;
        }
    }

    &__contact {
        margin-top: 55px;

        &__block {
            margin-bottom: 40px;
        }

        &__text {
            line-height: 30px;

            color: @color-base;
            font-size: 19px;
            font-weight: bold;

            .svg {
                position: relative;
                bottom: -10px;
                margin-right: 6px;

                font-size: 30px;
            }

            &__link {
                color: @color-base;
                text-decoration: none;
            }
        }

        &__info {
            margin-top: 10px;
            line-height: 30px;

            font-family: @font-alt;
            font-size: @font-size;
            color: @color-brown;
        }
    }

    &__links {
        width: calc(~"@{calc-base} - @{footer-top-info-width}");
        display: flex;
        flex-direction: column;

        @media @query-vl {
            flex-direction: row;
        }

        &__column {
            width: 100%;

            @media @query-vl {
                width: calc(~"@{calc-base}/3");
            }
        }

        &__title {
            margin-top: 20px;
            margin-bottom: 30px;

            font-size: 19px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

// bottom of footer
@footer-bottom-padding: 20px;

.footer-bottom {
    padding-top: @footer-bottom-padding;
    padding-bottom: @footer-bottom-padding;
    text-align: center;

    color: @color-brown;

    @media @query-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    &__copyright {
        padding-top: 33px;
        padding-bottom: 10px;
        text-align: center;

        font-family: @font-alt;
        font-size: @font-size-small;
        border-top: 1px solid @color-gray;

        @media @query-lg {
            width: 100%;
            margin-bottom: 0;
        }

    }

    &__info {
        text-align: center;

        font-family: @font-alt;
        font-size: @font-size-extra-small;
    }

    &__shopsys {
        padding-top: 56px;

        font-family: @font-alt;
        font-size: @font-size-small;

        &__image {
            display: inline-block;
            margin-bottom: -5px;
            margin-left: 10px;
        }
    }

    &__articles {
        @media @query-lg {
            flex: 0 100%/2;
            text-align: right;
        }
    }

    a {
        &:hover {
            color: @color-f;
        }
    }
}
