@footer-top-social-gap: 75px;
@footer-top-social-height: 66px;
@footer-top-info-width: 46%;
@footer-tab-border-color: #cccbcb;
@footer-tab-arrow-size: 20px;
@footer-tab-height: 52px;

.footer {
    padding: 0 10px;

    @media @query-lg {
        padding: 0;
    }
}

.footer-top {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 0;

    @media @query-lg {
        flex-direction: row;
        padding: 45px 0 64px 0;
    }

    &__info {
        width: 100%;

        @media @query-lg {
            width: @footer-top-info-width;
            padding-right: @footer-top-social-gap;
        }

        @media @query-vl {
            padding-right: 0;
        }
    }

    &__contact {
        @media @query-lg {
            margin-top: 55px;
        }
    }

    &__links {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media @query-lg {
            flex-direction: row;
            width: calc(~"@{calc-base} - @{footer-top-info-width}");
        }

        &__column {
            margin: 0 -10px;
            padding: 0 10px;
            width: calc(~"100% + 20px");
            border-top: 1px solid @footer-tab-border-color;

            @media @query-lg {
                width: calc(~"@{calc-base}/3");
                margin: 0;
                padding: 0;
                border-top: none;
            }
        }

        &__title {
            position: relative;
            line-height: @footer-tab-height;

            font-size: 19px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;

            @media @query-lg {
                margin-top: 20px;
                margin-bottom: 30px;
                line-height: 26px;

                cursor: default;
            }

            &__arrow {
                position: absolute;
                right: 10px;
                top: 0;
                line-height: @footer-tab-height;

                .svg {
                    color: @color-orange;
                    font-size: @footer-tab-arrow-size;

                    .open & {
                        padding-bottom: 4px;

                        transform: rotate(-180deg);
                    }
                }

                @media @query-lg {
                    display: none;
                }
            }
        }
    }
}

// bottom of footer
@footer-bottom-padding: 20px;

.footer-bottom {
    padding-top: @footer-bottom-padding;
    padding-bottom: @footer-bottom-padding;
    text-align: center;

    color: @color-brown;

    @media @query-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    &__copyright {
        padding-top: 33px;
        padding-bottom: 10px;
        text-align: center;

        font-family: @font-alt;
        font-size: @font-size-small;
        border-top: 1px solid @color-gray;

        @media @query-lg {
            width: 100%;
            margin-bottom: 0;
        }

    }

    &__info {
        line-height: 18px;
        text-align: center;

        font-family: @font-alt;
        font-size: @font-size-extra-small;
    }

    &__shopsys {
        padding-top: 56px;

        font-family: @font-alt;
        font-size: @font-size-small;

        &__link {
            color: @color-brown;

            &:hover {
                color: @color-base;
            }
        }

        &__image {
            display: inline-block;
            margin-bottom: -5px;
            margin-left: 10px;
        }
    }

    &__articles {
        @media @query-lg {
            flex: 0 100%/2;
            text-align: right;
        }
    }
}
