@header-cart-width: 38px;
@header-height: 35px;
@header-height-gap: 30px;
@header-mobile-button-size: 28px;
@header-mobile-button-info-size: 16px;
@header-mobile-button-dropdown-position: @web-header-mobile-dropdown-position;
@header-search-icon-size: 18px;
@header-logo-width: 250px;

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: @header-height;
    padding: @header-height-gap/2 0 0 0;

    @media @query-vl {
        margin-bottom: 30px;
        padding: @header-height-gap 0;
    }

    &--small {
        border-bottom: 1px solid @color-gray;
    }

    &--no-gap {
        margin-bottom: 0;
    }
}

// Middle part of header with search input and info
.header__menu {
    display: none;

    @media @query-vl {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(~"@{calc-base}/3");
        margin-top: 0;
    }
}

// Left part of header with logo
.header__logo {
    width: 100%;
    text-align: center;

    @media @query-vl {
        width: calc(~"@{calc-base}/3");
        order: 2;
    }

    .header--small & {
        width: 100%;
        order: 1;
        text-align: center;
        margin-bottom: 10px;

        @media @query-md {
            width: @header-logo-width;
            text-align: left;
        }
    }
}

// order header with steps information
.header__steps {
    display: flex;
    order: 3;
    text-align: center;
    margin: 0 auto;

    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;

    @media @query-md {
        order: 2;
        padding-left: 50px;
        margin: auto;
    }

    &__count {
        padding-right: 15px;
        font-weight: 400;
    }
}

// Right part of header with user and cart info
.header__right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;

    @media @query-vl {
        flex: 1;
        width: calc(~"@{calc-base}/3");
        order: 3;
        justify-content: flex-end;
        margin: 0;
    }

    &__menu {
        @media @query-vl {
            display: none!important;
        }
    }

    &__search {
        &__icon-menu {
            position: relative;
            line-height: @header-search-icon-size;
            top: 2px;

            font-size: @header-search-icon-size;
        }

        &__icon-search {
            line-height: @header-search-icon-size;
            transform: rotate(90deg);

            font-size: @header-search-icon-size;
        }
    }
}

// header right content with contacts only on order header
.header__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;

    @media @query-vl {
        flex: 1;
        flex-direction: row;
        width: calc(~"@{calc-base}/3");
        order: 3;
        justify-content: flex-end;
        margin-top: 0;
    }

    &__text {
        line-height: 24px;
        margin-bottom: 0;
        text-align: center;

        color: @color-brown;
        font-size: @font-size;
        font-family: @font-alt;

        @media @query-md {
            padding-right: 30px;
            margin-bottom: -10px;
        }

        @media @query-lg {
            text-align: left;
        }
    }

    &__phone {
        margin-bottom: 20px;

        .svg {
            position: relative;
            top: 12px;
            padding-right: 10px;

            font-size: 33px;
        }

        &__number {
            color: @color-base;
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
