@web-footer-with-cookies-margin-bottom: 36px;

@web-footer-background: @color-3;

img {
    max-width: 100%;
}

.web {
    width: 100%;
    min-height: 100%;

    background-color: @color-box;

    .is-safari & {
        display: block;
    }

    &--window-activated {
        overflow: hidden;

        @media @query-vl {
            overflow: unset;
        }
    }

    &__in {
        flex: 1;
        position: relative;
    }

    &__line {
        &--gray {
            background: @color-gray;
        }
    }

    &__footer {
        flex: 0;
        will-change: padding;

        transition: @transition padding;

        &--with-cookies {
            padding-bottom: @web-footer-with-cookies-margin-bottom;
        }
    }

    &__container {
        .clearfix();
        padding: 0 @web-padding-small;
        margin: 0 10px;

        background-color: @color-f;

        @media @query-vl {
            padding: 0 @web-padding;
        }

        @media @query-xl {
            width: @web-width;
            margin: 0 auto;
        }

        &--transparent {
            background-color: transparent;
        }

        &--border-radius-top {
            border-radius: @radius @radius 0 0;
        }

        &--border-radius-bottom {
            border-radius: 0 0 @radius @radius;
        }

        &--border-radius {
            border-radius: @radius;
        }

        &--top-line {
            border-top: 1px solid @color-gray;
        }

        &--no-padding {
            padding: 0;
        }

        &--dark {
            background: @color-primary;
        }
    }

    &__main {

        &--with-panel {
            @media @query-lg {
                display: flex;
                width: 100%;
            }
        }

        &__content {
            .web__main--with-panel & {
                margin-bottom: @margin-gap;

                @media @query-lg {
                    order: 2;
                    width: 70%;
                    width: calc(~"100% - @{web-panel-width}");
                }
            }
        }

        &__panel {
            width: 100%;

            @media @query-lg {
                display: block;
                order: 1;
                flex-shrink: 0;
                width: @web-panel-width;
                padding-right: 20px;
            }
        }
    }
}
