<ul class="list-benefits {{ cssClass|default('') }}">
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            {% include 'Front/Svg/heart.svg' %}
        </span>
        <span class="list-benefits__item__text">
            {{ 'Již 20 let nadšeně podporujeme rybáře'|trans }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            {% include 'Front/Svg/delivery.svg' %}
        </span>
        <span class="list-benefits__item__text">
            {{ 'Doprava při nákupu nad 1000 Kč zdarma'|trans }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            {% include 'Front/Svg/like.svg' %}
        </span>
        <span class="list-benefits__item__text">
            {{ 'Rybařině rozumíme. V týmu je i mistr světa'|trans }}
        </span>
    </li>
</ul>
