@table-cart-item-gap: 10px;
@table-cart-item-info-width: 400px;
@table-cart-image-size: 90px;
@table-cart-image-size-small: 50px;
@table-cart-gift-white-space: 15px;

.table-cart {
    display: flex;
    flex-direction: column;

    &__row {
        margin-bottom: 5px;
        padding: 14px 20px;

        background-color: @color-f;
        border-radius: 4px;

        @media @query-lg {
            padding: 14px 30px;
        }

        &::last-child {
            margin-bottom: 0;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        @media @query-vl {
            flex-wrap: nowrap;
        }
    }

    &__messages {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media @query-md {
            justify-content: flex-end;
        }

        &__left {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            @media @query-md {
                flex: 1;
                width: auto;
                min-width: 50%;
                justify-content: space-between;
            }
        }

        &__item {
            margin-top: 10px;

            &--left {
                @media @query-md {
                    margin-right: auto;
                    padding-right: 10px;
                }
            }
        }
    }

    &__cell {
        &--info {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            order: 1;

            @media @query-vl {
                width: @table-cart-item-info-width - 40px;
                min-width: @table-cart-item-info-width - 40px;
            }

            @media @query-xl {
                width: @table-cart-item-info-width;
                min-width: @table-cart-item-info-width;
            }

            .table-cart__content--sets & {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &--availability {
            order: 3;
            width: 100% / 2;
            margin-bottom: 5px;

            @media @query-md {
                width: 100% / 4;
                margin-bottom: 0;
            }

            @media @query-vl {
                padding-left: @table-cart-item-gap;
                width: 250px;
            }
        }

        &--price-unit {
            order: 5;
            width: 100% / 2;
            text-align: left;

            font-size: @font-size;
            font-weight: 400;

            @media @query-md {
                order: 4;
                width: 100% / 4;
                text-align: right;
            }

            @media @query-vl {
                text-align: left;
                width: 136px;
                padding-left: @table-cart-item-gap;
            }
        }

        &--spinbox {
            order: 4;
            width: 100% / 2;
            text-align: right;
            margin-bottom: 5px;

            @media @query-md {
                order: 5;
                width: 100% / 4;
                margin-bottom: 0;
            }
            
            @media @query-vl {
                text-align: center;
                width: 105px;
                padding-left: @table-cart-item-gap;
            }
        }

        &--price {
            order: 6;
            width: 100% / 2;
            display: flex;
            flex-direction: column;
            text-align: right;

            @media @query-md {
                width: 100% / 4;
            }

            @media @query-vl {
                width: 162px;
                padding-left: @table-cart-item-gap;
            }
        }

        &__wrap-image {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
        }

        &__image {
            position: relative;
            height: @table-cart-image-size;
            width: @table-cart-image-size;
            margin-bottom: 5px;

            @media @query-vl {
                margin-bottom: 0;
            }

            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }

            &--sets {
                height: @table-cart-image-size-small - 23px;
                width: @table-cart-image-size-small - 23px;
                margin-right: 20px;
                margin-bottom: 0;

                @media @query-md {
                    height: @table-cart-image-size-small;
                    width: @table-cart-image-size-small;
                }

                &:before {
                    z-index: @z-index-above;
                    position: absolute;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);

                    font-size: 11px;
                    color: @color-turquoise;
                }
            }

            img {
                .center-image();
            }
        }

        &__name {
            display: block;
            padding-right: 15px;
            padding-left: 20px;
    
            color: @color-base;
            font-size: @font-size;
            text-decoration: none;

            @media @query-vl {
                padding-right: 0;
            }

            .table-cart__content--sets & {
                padding: 0;
            }
        }

        &__gift {
            display: block;
            margin-top: 5px;
            padding-left: 20px;
            
            &__block {
                display: inline-block;
                padding: 0 6px;
                line-height: 21px;
                
                font-size: @font-size;
                background-color: rgba(213,48,48,0.15);
                color: @color-red;
                border-radius: @radius-very-small;
            
                &__title {
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    
        &__price-primary {
            color: @color-base;
            font-size: @font-size;
            font-weight: 700;
        }

        &__discount {
            color: @color-red;
            font-size: @font-size-small;
        }

        &__remove {
            display: none;

            @media @query-vl {
                position: absolute;
                display: inline;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                margin-top: 5px;
                line-height: 13px;

                font-size: 11px + 1px;
                font-family: @font-alt;
            }
        }

        &__remove-mobile {
            position: absolute;
            top: 0;
            right: 0;
            
            color: @color-turquoise;
            text-decoration: none;

            @media @query-vl {
                display: none;
            }
        }
    }

    &__gifts {
        padding: @table-cart-gift-white-space 0;

        border-bottom: 3px solid @color-border;

        &--promo {
            margin-top: @table-cart-gift-white-space;
            padding: 0;

            border-bottom: 0;
        }

        &__item {
            margin-bottom: @table-cart-gift-white-space;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__order-gifts {
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        @media @query-lg {
            flex-direction: row;
        }
    }

    &__next-gifts {
        margin-bottom: 30px;
        border-bottom: 3px solid @color-light;

        &__title {
            margin: 0 0 20px;

            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
