@table-cart-item-gap: 10px;
@table-cart-image-size: 90px;
@table-cart-spinbox-width: 120px;
@table-cart-price-width: 164px;
@table-cart-gift-white-space: 15px;

.table-cart {
    display: flex;
    flex-direction: column;

    &__row {
        margin-bottom: 5px;
        padding: 14px 30px;

        background-color: @color-f;
        border-radius: 4px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media @query-md {
            flex-direction: row;
        }
    }

    &__messages {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__cell {
        &--image {
            position: relative;
            height: @table-cart-image-size;
            width: @table-cart-image-size;

            img {
                .center-image();
            }
        }

        &--name {
            @media @query-lg {
                width: 336px;
                padding-left: 20px;
            }
        }

        &--availability {
            @media @query-lg {
                padding-left: @table-cart-item-gap;
                width: 230px;
            }
        }

        &--price-unit {
            font-weight: 700;

            @media @query-lg {
                width: 136px;
                padding-left: @table-cart-item-gap;
            }
        }

        &--spinbox {
            text-align: center;
            width: @table-cart-spinbox-width;
            
            @media @query-lg {
                width: 105px;
                padding-left: @table-cart-item-gap;
            }
        }

        &--price {
            display: flex;
            flex-direction: column;

            width: @table-cart-price-width;
            text-align: right;

            @media @query-lg {
                width: 162px;
                padding-left: @table-cart-item-gap;
            }
        }

        &__name {
            display: block;
    
            color: @color-base;
            font-size: @font-size;
            text-decoration: none;
        }

        &__gift {
            display: block;
            margin-top: 5px;
            
            &__block {
                display: inline-block;
                padding: 0 6px;
                line-height: 21px;
                
                font-size: @font-size;
                background-color: rgba(213,48,48,0.15);
                color: @color-red;
                border-radius: @radius-very-small;
            
                &__title {
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    
        &__price-primary {
            color: @color-base;
            font-size: @font-size;
            font-weight: 700;
        }

        &__discount {
            color: @color-red;
        }

        &__remove {
            line-height: 13px;

            font-size: 11px;
        }
    }

    &__gifts {
        padding: @table-cart-gift-white-space 0;

        border-bottom: 3px solid @color-border;

        &--promo {
            margin-top: @table-cart-gift-white-space;
            padding: 0;

            border-bottom: 0;
        }

        &__item {
            margin-bottom: @table-cart-gift-white-space;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__order-gifts {
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        @media @query-lg {
            flex-direction: row;
        }
    }

    &__next-gifts {
        padding: 30px 0 15px;

        border-bottom: 3px solid @color-light;

        &__title {
            margin: 0 0 20px;

            font-weight: 700;
        }
    }
}
